<div class="col-sm-12">
    <a class="table-a">Add New Coupons</a>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th>S.No</th>
                <th>Page Name</th>
                <th>Expiry Date</th>
                <th>Gift Description</th>
                <th>Post</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Brolix</td>
                <td>3 Week</td>
                <td>hgjkhsdfghfgjhjkdfsghjkdf hjgshkfjgsfjkdfjhg hjgsdfgjkshjdfgfh</td>
                <td>B 250</td>
                <td><a class="table-a">View</a><a class="table-a">Edit</a><a class="table-a">Post</a><a class="table-a">Remove</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Brolix</td>
                <td>3 Week</td>
                <td>hgjkhsdfghfgjhjkdfsghjkdf hjgshkfjgsfjkdfjhg hjgsdfgjkshjdfgfh</td>
                <td>B 250</td>
                <td><a class="table-a">View</a><a class="table-a">Edit</a><a class="table-a">Post</a><a class="table-a">Remove</a></td>
            </tr>
        </table>
    </div>
</div>

