
<div class="container-fluid" ng-if="Step1">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
            <div class="add-user panel panel-default cust-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Add New Page</h3>
                </div>
                <div class="panel-body">
                    <div class="login-block">
                        <form class="form-block" role="form" name="userFrom">
                            <fieldset>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">Page Name</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="pageName" ng-model="myForm.pageName" placeholder="Enter Page Name" required> 
                                            <span style="color:red;" ng-show="userFrom.pageName.$dirty && userFrom.pageName.$invalid">
                                            <span ng-show="userFrom.pageName.$error.required">Page Name is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">Main Category</label>
                                        <div class="col-md-9"> 
                                            <select name="category" class="form-control" ng-change="subCategoryDataa();" ng-model="myForm.mainCategory" required>
                                                <option value="">Select Category</option>
                                                <option ng-repeat="category in category" >{{category}}</option>
                                             </select> 
                                            <span style="color:red;" class="error" ng-show="userFrom.category.$dirty && userFrom.category.$invalid">
                                                 <span style="color:red;" class="error" ng-show="userFrom.category.$error.required">Please Select a Category</span>
                                            </span> 
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">Sub Categories</label>
                                        <div class="col-md-9">
                                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                            <ul class="form-control dropdown-menu"  name="subCategory" >
                                           <!--  <li value="">Select Sub Categories</li> -->
                                            <li ng-repeat="subCategoryData in subCategoryData"><input type="checkbox" unchecked ng-click="saveData(subCategoryData);"/>{{subCategoryData}}</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                            <!--     <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">Sub Categories</label>
                                        <div class="col-md-9">
                                            <select class="form-control" ng-model="myForm.subCategory" name="subCategory" required>
                                                <option value="">Select Category</option>
                                                <option ng-repeat="subCategoryData in subCategoryData">{{subCategoryData}}</option>
                                            </select>
                                            <span style="color:red;" class="error" ng-show="userFrom.subCategory.$dirty && userFrom.subCategory.$invalid">
                                                 <span style="color:red;" class="error" ng-show="userFrom.subCategory.$error.required">Please Select a subCategory</span>
                                            </span> 
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">Description</label>
                                        <div class="col-md-9">
                                            <textarea class="form-control textarea-a" name="description" ng-model="myForm.description"  ng-maxlength="250" placeholder="Enter Description" ></textarea>
                                           <!--  <span style="color:red;" ng-show="userFrom.description.$dirty && userFrom.description.$invalid"> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">Email</label>
                                        <div class="col-md-9">
                                            <input type="email" class="form-control" name="email" ng-model="myForm.email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" > 
                                                <span style="color:red" ng-show="userFrom.email.$dirty && userFrom.email.$invalid ">
                                                 <span style="color:red;" ng-show="userFrom.email.$dirty && userFrom.email.$error.pattern">Invalid email address</span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">Website</label>
                                        <div class="col-md-9">
                                             <input type="text" class="form-control" name="website" placeholder="Enter Website" ng-pattern="/(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})/"  ng-model="myForm.website" > 
                                             <span style="color:red;" ng-show="userFrom.website.$dirty && userFrom.website.$invalid">
                                            <span class="error"  ng-if="userFrom.website.$error.pattern">Invalid Url</span>
                                             
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">Phone</label>
                                        <div class="col-md-9">
                                            <input type="tel" class="form-control" name="phone" placeholder="Enter Phone No." ng-model="myForm.phon" maxlength="10" minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]{1,10}$/"> 
                                            <span style="color:red;" ng-show="userFrom.phone.$dirty && userFrom.phone.$invalid">
                                            <span ng-show="userFrom.phone.$error.minlength">Must have at atleast 10 digits.</span>
                                            <span ng-show="userFrom.phone.$error.maxlength">Must have at most 10 digits.</span>
                                            <span ng-show="userFrom.phone.$error.pattern">Only Numbers are allowed.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">Location</label>
                                        <div class="col-md-9">
                                              <input type="text" name="address" placeholder="Enter Address"  autocomplete="off" id="from" class="form-control" ng-model="myForm.address" ng-change="initFun()" ng-maxlength="95" maxlength="96"/>
                                              <span class="error" style="color:red;" ng-show="userFrom.address.$dirty && userFrom.address.$invalid">
                                              <span style="color:red;" class="error" ng-show=" userFrom.address.$error.maxlength">Please enter Address  shorter than 95 characters</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Change this to a button or input when using this as a form -->
                                <div class="btn2 text-center">
                                    <button  class="btn btn-lg btn-green" ng-disabled="userFrom.$invalid  || {{$scope.subCategoryData.length>0}} || checkBoxArray.length==0" ng-click="click('Step1')">Next</button>
                                    <a class="btn btn-lg btn-green" ng-click="cancel()">Cancel</a>
                                </div>
                                <!-- ng-disabled="userFrom.$invalid" -->
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- pageImageUpload -->


<div class="container" ng-if="Step2">
    <div class="outer-block">
        <div class="add-user panel panel-default cust-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Add New Page</h3>
            </div>
            <form class="form-block" role="form" name="myFrom">
                <div class="panel-body">
                    <div class="cover-image" >
                        <img class="profile-user-img img-responsive" src="{{myForm.pagephoto || '../dist/image/cover.jpg'}}" id="output" >
                        <label class="fileContainer">
                            Choose File
                        <input type="file" class="img-pro-file"onchange="angular.element(this).scope().changeImage(this,'pageImage')" name="image" accept="image/*" required>
                         <span ng-show="myFrom.image.$error.required">Image is required.</span>
                        </label>
                    </div>
                    <div class="page-image clearfix">
                        <img class="profile-user-img img-responsive" src="{{myForm.userphoto || '../dist/image/user-image.jpeg'}}" id="output">
                        <label class="fileContainer">
                            Choose File
                        <input type="file" class="img-pro-file"onchange="angular.element(this).scope().changeImage(this,'userImage')" accept="image/*" required>
                        </label>
                    </div>

                    <div class="btn2 text-center">
                        <button class="btn btn-lg btn-green" ng-disabled="myForm.pagephoto == '' && myForm.userphoto == '' " ng-click="click('Step2')">Next</button> 
                    </div>
                    <!-- ng-disabled="myForm.pagephoto == "" && myForm.userphoto == "" " -->
                </div>
            </form>
        </div>
    </div>
</div>


    <!-- page Social Media -->


<div class="container" ng-if="Step3">
    <div class="outer-block cus-addnew-page">
        <div class="add-user panel panel-default cust-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Add Social Media</h3>
            </div>
            <div class="panel-body">
                <div class="login-block">
                    <form class="form-block" role="form" name="media">
                        <fieldset>
                            <div class="form-group">
                                <div class="row">
                                    <label class="control-label col-md-12">Add Social Media Accounts</label>
                                    <div class="col-sm-8">
                                        <div class="row-table">
                                            <div class="col-cell">
                                                <select class="form-control" ng-model="myForm.socialMedia" name="social" required>
                                                    <option value="">Select Social Media</option>
                                                    <option ng-repeat="SocialMedia in SocialMedia" value="{{SocialMedia}}">{{SocialMedia}}</option>
                                                </select>
                                                  <input type="text" class="form-control" name="link" ng-model="myForm.link" placeholder="Enter social link"> 
                                            <span style="color:red;" ng-show="media.link.$dirty && media.link.$invalid">
                                                <span style="color:red;" class="error" ng-show="media.social.$dirty && media.social.$invalid">
                                                     <span style="color:red;" class="error" ng-show="media.social.$error.required">Please Select a Social Media</span>
                                                </span> 
                                            </div>
                                            <div class="col-cell add-remove">
                                                <span class="fa fa-plus-circle" ng-click="addSocialMedia(myForm.socialMedia,myForm.link)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row-table" ng-repeat="x in array">
                                            <div class="col-cell">
                                            <span class="form-control">{{x}}</span>
                                              
                                            </div>
                                            <div class="col-cell add-remove" >
                                                <span class="fa fa-minus-circle" ng-click="removeSocialMedia(myForm.socialMedia,myForm.link)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- <h2>{{media.link.$invalid}}</h2> -->
                            <div class="btn2 text-center">
                                <button class="btn btn-lg btn-green" ng-disabled="media.link.$invalid ||array.length == 0" ng-click="click('Step3')">Next</button>
                                <a  class="btn btn-lg btn-green" ng-click="cancel()">Cancel</a>
                                <!-- ng-disabled="media.$invalid or "array.length == 0" -->
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



    <!-- pages Admin -->


<div class="container" ng-if="Step4">
    <div class="outer-block cus-addnew-page">
        <div class="add-user panel panel-default cust-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Add Page Admin</h3>
            </div>
            <div class="panel-body">
                <div class="login-block">
                    <form class="form-block" role="form" name="pageAdmin">
                        <fieldset>
                            <div class="form-group">
                                <div class="row">
                                    <label class="control-label col-md-12">Add Page Admin</label>
                                    <div class="col-sm-8">
                                        <div class="row-table">
                                            <div class="col-cell">
                                                <select class="form-control" ng-model="myForm.pageAdmin" name="pages" required>
                                                    <option value="">Select Page Admin</option>
                                                    <option ng-repeat="page in pagesAdmin" value="{{page}} ">{{page.firstName}} {{page.lastName}}</option>
                                                </select>
                                                <span style="color:red;" class="error" ng-show="pageAdmin.pages.$dirty && pageAdmin.pages.$invalid">
                                                     <span style="color:red;" class="error" ng-show="pageAdmin.pages.$error.required">Please Select a Page</span>
                                                </span> 
                                            </div>
                                            <div class="col-cell add-remove">
                                                <span class="fa fa-plus-circle" ng-click="addNewPage(myForm.pageAdmin)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row-table" ng-repeat="y in pageAdminss">
                                            <div class="col-cell">
                                            <span class="form-control">{{y.firstName}} {{y.lastName}}</span>
                                                <!-- <input type="text" class="form-control"> -->
                                            </div>
                                            <div class="col-cell add-remove" >
                                                <span class="fa fa-minus-circle" ng-click="removeNewPage(y)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Change this to a button or input when using this as a form -->
                            <div class="btn2 text-center">
                                <button  ng-disabled="pageAdminss.length == 0" class="btn btn-lg btn-green" ng-disabled="pageAdmin.$invalid" ng-click="submitt();">Add Pages</button> 
                                <a class="btn btn-lg btn-green" ng-click="cancel()">Cancel</a>
                            </div>
                        </fieldset> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
