<!-- <div class="top-header">
        <a href="#" class="brand-logo">Brolix</a>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="add-user panel panel-default cust-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add New Page</h3>
                    </div>
                    <div class="panel-body">
                        <div class="login-block">
                            <form class="form-block" role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Page Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="pageName" ng-model="myFrom.pageName" placeholder=""> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Page Owner</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                  <input type="text" class="form-control" ng-model="">
                                                  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" ></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Main Category</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder=""> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Sub Categories</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder=""> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Description</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control textarea-a"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Email</label>
                                            <div class="col-md-9">
                                                <input type="email" class="form-control" placeholder=""> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Website</label>
                                            <div class="col-md-9">
                                                 <input type="text" class="form-control" placeholder=""> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Phone</label>
                                            <div class="col-md-9">
                                                <input type="tel" class="form-control" placeholder=""> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Location</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option>Location1</option>
                                                    <option>Location2</option>
                                                    <option>Location3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <!-- Change this to a button or input when using this as a form -->
                                    <div class="btn2 text-center">
                                        <a ui-sref="header.pageImageUpload" class="btn btn-lg btn-green">Next</a>
                                        <a class="btn btn-lg btn-green">Cancel</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
