<!-- <div class="top-header">
        <a href="#" class="brand-logo">Brolix</a>
    </div> -->

    <div class="container" ng-if="Step1">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="add-user panel panel-default cust-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add New Page</h3>
                    </div>
                    <div class="panel-body">
                        <div class="login-block">
                            <form class="form-block" role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Page Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="pageName" ng-model="myForm.pageName" placeholder=""> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Page Owner</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                  <input type="text" class="form-control" ng-model="myForm.pageowner">
                                                  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" ></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Main Category</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" ng-model="myForm.mainCategory"> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Sub Categories</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" ng-model="myForm.subCategory"> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Description</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control textarea-a" ng-model="myForm.description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Email</label>
                                            <div class="col-md-9">
                                                <input type="email" class="form-control" placeholder="" ng-model="myForm.email"> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Website</label>
                                            <div class="col-md-9">
                                                 <input type="text" class="form-control" placeholder="" ng-model="myForm.website"> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Phone</label>
                                            <div class="col-md-9">
                                                <input type="tel" class="form-control" placeholder="" ng-model="myForm.phon"> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Location</label>
                                            <div class="col-md-9">
                                                <select class="form-control" ng-model="myForm.location">
                                                    <option>Location1</option>
                                                    <option>Location2</option>
                                                    <option>Location3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <!-- Change this to a button or input when using this as a form -->
                                    <div class="btn2 text-center">
                                        <a class="btn btn-lg btn-green" ng-click="click('Step1')">Next</a>
                                        <a class="btn btn-lg btn-green">Cancel</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- pageImageUpload -->


    <div class="container" ng-if="Step2">
        <div class="outer-block">
            <div class="add-user panel panel-default cust-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Add New Page</h3>
                </div>
                <div class="panel-body">
                    <div class="cover-image" >
                        <img class="profile-user-img img-responsive" src="{{user.pagephoto || '../dist/image/cover.jpg'}}" id="output">
                        <input type="file" class="img-pro-file"onchange="angular.element(this).scope().changeImage(this,'pageImage')" accept="image/*">
                    </div>

                    <div class="page-image clearfix">
                        <img class="profile-user-img img-responsive" src="{{user.userphoto || '../dist/image/user-image.jpeg'}}" id="output">
                        <input type="file" class="img-pro-file"onchange="angular.element(this).scope().changeImage(this,'userImage')" accept="image/*">
                    </div>

                    <div class="btn2 text-center">
                        <a class="btn btn-lg btn-green" ng-click="click('Step2')">Next</a>
                        <a class="btn btn-lg btn-green">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- page Social Media -->


    <div class="container" ng-if="Step3">
            <div class="outer-block">
                <div class="add-user panel panel-default cust-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add New Page</h3>
                    </div>
                    <div class="panel-body">
                        <div class="login-block">
                            <form class="form-block" role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-12">Add Social Media Accounts</label>
                                            <div class="col-sm-12">
                                                <div class="row-table">
                                                    <div class="col-cell">
                                                        <select class="form-control">
                                                            <option>Select Social Media</option>
                                                            <option>Select Social Media1</option>
                                                            <option>Select Social Media2</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-cell add-remove">
                                                        <span class="fa fa-plus-circle"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="row-table">
                                                    <div class="col-cell">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-cell add-remove">
                                                        <span class="fa fa-plus-circle"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="row-table">
                                                    <div class="col-cell">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-cell add-remove">
                                                        <span class="fa fa-minus-circle"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Change this to a button or input when using this as a form -->
                                    <div class="btn2 text-center">
                                        <a class="btn btn-lg btn-green" ng-click="click('Step3')">Next</a>
                                        <a href="index.html" class="btn btn-lg btn-green">Cancel</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <!-- pages Admin -->


        <div class="outer-block" ng-if="Step4">
                <div class="add-user panel panel-default cust-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add New Page</h3>
                    </div>
                    <div class="panel-body">
                        <div class="login-block">
                            <form class="form-block" role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-12">Add Page Admins</label>
                                            <div class="col-sm-12">
                                                <div class="row-table">
                                                    <div class="col-cell">
                                                      <div class="input-group">
                                                      <input type="text" class="form-control" placeholder="Search for users">
                                                      <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" ></i></span>
                                                </div>
                                                    </div>
                                                    <div class="col-cell add-remove">
                                                        <span class="fa fa-minus-circle"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="row-table">
                                                    <div class="col-cell">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-cell add-remove">
                                                        <span class="fa fa-minus-circle"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="row-table">
                                                    <div class="col-cell">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-cell add-remove">
                                                        <span class="fa fa-plus-circle"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Change this to a button or input when using this as a form -->
                                    <div class="btn2 text-center">
                                        <a class="btn btn-lg btn-green" ng-click="submitt()">Add Pages</a>
                                        <a href="index.html" class="btn btn-lg btn-green">Cancel</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>