


<div class="col-sm-12" ng-if="tableData">
    <a class="table-a" style="cursor:pointer;" ng-click="showtable()">Add User</a>
    <div class="table-responsive">
        <table class="table table-bordered table-striped" >
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="x in allSystemUser">
                <td>{{x.firstName}}</td>
                <td>{{x.lastName}}</td>
                <td>{{x.email}}</td>
                <td><a class="table-a" style="cursor:pointer;" ng-href="#header/editSystemUser/{{x._id}}">Edit</a><a style="cursor:pointer;" class="table-a" ng-click="Remove_User(x._id)">Remove</a></td>
            </tr>
           
        </table>
    </div>
</div>








 <div class="container" ng-if="Systemuser">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="add-user panel panel-default cust-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add System User</h3>
                    </div>
                    <div class="panel-body">
                        <div class="login-block">
                            <form class="form-block" role="form">
                                <fieldset>
                                     <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">First Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="firstName" ng-model="myFrom.firstName" placeholder="First Name" ng-pattern ="/^[a-zA-Z]*$/" maxlength="31" ng-maxlength="30" required>
                                                <span style="color:red;" ng-show="userFrom.firstName.$dirty && userFrom.firstName.$invalid">
                                                <span ng-show="userFrom.firstName.$error.required">First name is required.</span>
                                                <span ng-show="userFrom.firstName.$error.pattern">Only characters are required and Space are not allowed.</span>
                                                <span ng-show="userFrom.firstName.$error.maxlength">Your first name should contain max 30 characters.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Last Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="lastName" ng-model="myFrom.lastName" placeholder="Last Name" ng-pattern ="/^[a-zA-Z]*$/" maxlength="31" ng-maxlength="30" required> 
                                                <span style="color:red;" ng-show="userFrom.lastName.$dirty && userFrom.lastName.$invalid">
                                                <span ng-show="userFrom.lastName.$error.required">Last name is required.</span>
                                                <span ng-show="userFrom.lastName.$error.pattern">Only characters are required and Space are not allowed.</span>
                                                <span ng-show="userFrom.lastName.$error.maxlength">Your last name should contain max 30 characters.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Email</label>
                                            <div class="col-md-9">
                                                <input type="email" class="form-control" name="email" ng-model="myFrom.email" placeholder="Email" ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-z]+\.[a-z.]{2,4}$/" maxlength="71" ng-maxlength="70" required>
                                                <span style="color:red;" ng-show="userFrom.email.$dirty && userFrom.email.$invalid">
                                                <span ng-show="userFrom.email.$error.required">Email is required.</span>
                                                <span style="color:red;" ng-show="userFrom.email.$error.maxlength">This email address is too long.</span>
                                                <span style="color:red;" ng-show="userFrom.email.$dirty && userFrom.email.$error.pattern">Invalid email address</span>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <div class="row">
                                            <label for="inputName" class="control-label col-md-3">Password</label>
                                            <div class="col-md-9">
                                                <input type="password" class="form-control" name="password" ng-model="myFrom.password" placeholder="Password" ng-minlength="8" ng-maxlength="18" maxlength="19" required>
                                                <span style="color:red;" ng-show="!userFrom.password.$error.required && (userFrom.password.$error.minlength) && userFrom.password.$dirty">Short passwords are easy to guess. Try one with at least 8 characters.</span>
                                                <span style="color:red;" ng-show="userFrom.password.$dirty && userFrom.password.$invalid">
                                                <span style="color:red; " ng-show="userFrom.password.$error.required">Password is required.</span>
                                                <span style="color:red;" ng-show="userFrom.password.$error.maxlength">Must have at most 18 characters.</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label for="inputName" class="control-label col-md-3" ng-class="{'cls-pswrdMissmatch':myFrom.Cpassword!=myFrom.password && Cpassword.length>0}">Confirm Password</label>
                                            <div class="col-md-9">
                                                <input type="password" class="form-control" name="Cpassword" ng-model="myFrom.Cpassword" placeholder="Confirm Password" required> 
                                                <span style="color:red;" ng-show="myFrom.Cpassword!=myFrom.password &&myFrom.Cpassword.length>0">These passwords don't match. Try again?</span>
                                                <span style="color:red;" ng-show="userFrom.Cpassword.$dirty && userFrom.Cpassword.$invalid">
                                                <span style="color:red;" ng-show="userFrom.Cpassword.$error.required">Confrim password is required.</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="permission-block clearfix">
                                        <h3 class="permission-heading">Permissions</h3>
                                        <div class="checkbox-a">
                                            <label><input name="manageUser" ng-model="myFrom.permissions.manageUser" type="checkbox" > Manage users</label>
                                            <label><input name="managePages" ng-model="myFrom.permissions.managePages" type="checkbox" > Manage pages</label>
                                            <label><input name="manageAdds" ng-model="myFrom.permissions.manageAdds" type="checkbox" > Manage adds</label>
                                            <label><input name="manageCards" ng-model="myFrom.permissions.manageCards" type="checkbox" > Manage cards</label>
                                            <label><input name="manageGifts" ng-model="myFrom.permissions.manageGifts" type="checkbox" > Manage gifts</label>
                                            <label><input name="managePayments" ng-model="myFrom.permissions.managePayments" type="checkbox" > Manage payments</label>
                                            <label><input name="adminTool" ng-model="myFrom.permissions.adminTool" type="checkbox" > Admin tools</label>
                                        </div>
                                    </div>
                                    
                                    <!-- Change this to a button or input when using this as a form -->
                                    <div class="btn2 text-center">
                                        <button type="submit" class="btn btn-lg btn-green" ng-click="addSystemUser()">Add</button>
                                        <button type="submit" class="btn btn-lg btn-green" ng-click="cancel()">Cancel</button>
                                       
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>