 <div class="col-sm-12">
    <div class="row">
     <ul class="nav nav-pills card-tabs">
      <li class="active"><a data-toggle="pill" style="cursor: pointer;" ng-click="getdata('user');">User info.</a></li>
      <li><a data-toggle="pill" style="cursor: pointer;" ng-click="getdata('ads')">Ads info.</a></li>
      <li><a data-toggle="pill" style="cursor: pointer;" ng-click="getdata('page')">Page info.</a></li>
   </ul>
  
        <div class="c1-notify-row" ng-if="key == 'user'">
            <h3 class="text-center">User Related Information</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Created Time</th>
                        </tr>
                    </thead>
                    <tbody>
                     <input type="text" class="form-control" ng-model="search" style="width:180px;margin:10px;" placeholder="search by name">
                        
                        <tr dir-paginate="x in userResult | customFilterUser:search | itemsPerPage:10">
                            <td >{{x.firstName}}</td>
                            <td >{{x.lastName}}</td>
                            <td >{{x.createdAt | date:'MMMM dd, yyyy'}}</td>
                        </tr>
                        <tr ng-if="(userResult | customFilterUser:search).length == 0 || userResult == undefined">
                            <td colspan="6" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td>
                        </tr>
                    </tbody>
                </table>
                 <div class="col-sm-12 text-center"> <dir-pagination-controls  max-size="10" direction-links="true" boundary-links="true" ></dir-pagination-controls></div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 " ng-if="key == 'ads'" >
    <div class="row">
        <div class="c1-notify-row">
            <h3 class="text-center">Ads Related Information</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                     <input type="text" class="form-control" ng-model="search" style="width:180px;margin:10px;" placeholder="search by page name">
                        <tr>
                            <th>Page Name</th>
                            <th>Ads Type</th>
                            <th>Created Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="x in adsResult | pagesFilter:search | itemsPerPage:10">
                            <td >{{x.pageName}}</td>
                            <td >{{x.adsType}}</td>
                            <td >{{x.createdAt | date:'MMMM dd, yyyy'}}</td>
                        </tr>
                        <tr ng-if="(adsResult | pagesFilter:search).length == 0 || adsResult == undefined">
                            <td colspan="6" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td>
                        </tr>
                    </tbody>
                </table>
                 <div class="col-sm-12 text-center"> <dir-pagination-controls  max-size="10" direction-links="true" boundary-links="true" ></dir-pagination-controls></div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12" ng-if="key == 'page'" >
    <div class="row">
        <div class="c1-notify-row">
            <h3 class="text-center">Page Related Information</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                     <input type="text" class="form-control" ng-model="search" style="width:180px;margin:10px;" placeholder="search by page name">
                        <tr>
                            <th>Page Name</th>
                            <th>Created Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr dir-paginate="x in pageResult | pagesFilter:search | itemsPerPage:10">
                            <td >{{x.pageName}}</td>
                            <td >{{x.createdAt | date:'MMMM dd, yyyy'}}</td>
                        </tr>
                        <tr ng-if="(pageResult | pagesFilter:search).length == 0 || pageResult == undefined">
                            <td colspan="6" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td>
                        </tr>
                    </tbody>
                </table>
                 <div class="col-sm-12 text-center"> <dir-pagination-controls  max-size="10" direction-links="true" boundary-links="true" ></dir-pagination-controls></div>
            </div>
        </div>
    </div>
</div>


