
    <div class="row">
        <div class="col-sm-4 m-b-20">
            <form name="first">
                <div class="outer-box-brolix-fee">
                    <!-- <div class="form-group">
                        <input type="text" class="form-control" ng-model="brolixPerFreeCouponAds">
                    </div> -->
                    <div class="input-group">
                        <input ng-model="brolixPerFreeCouponAds" type="tel" name="viewer" class="form-control text-center" ng-pattern="/^[0-9]{1,11}$/" required>
                        </div> 
                        <span style="color:red;" ng-show="first.viewer.$dirty && first.viewer.$invalid">
                        <span ng-show="first.viewer.$error.required">Viewers is required.</span> 
                        <span ng-show="first.viewer.$error.pattern">Only number are allowed.</span> 
                        </span>
                    <div class="form-group">
                        <span class="form-control">B</span>
                    </div>
                </div>
                <h3>Brolix Per Free Ads</h3>
                <div class="text-center"><button style="cursor:pointer;" class="table-a" ng-click="editBrolixAndDollors('brolixPerFreeCouponAds')">Edit</button>
            </form>
        </div>
    </div>
        <div class="col-sm-4 m-b-20">
            <form>
                <div class="outer-box-brolix-fee">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="brolixPerFreeCashAds">
                    </div>
                    <div class="form-group">
                       <span class="form-control">B</span>
                    </div>
                </div>
                <h3>Brolix Per Cash Ads</h3>
                <div class="text-center"><a style="cursor:pointer;" class="table-a" ng-click="editBrolixAndDollors('brolixPerFreeCashAds')">Edit</a></div>
            </form>
        </div>
        <div class="col-sm-4 m-b-20">
            <form>
                <div class="outer-box-brolix-fee">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="brolixPerUpgradedCashAds">
                    </div>
                    <div class="form-group">
                        <span class="form-control">B</span>
                    </div>
                </div>
                <h3>Brolix Per Upgraded Ads</h3>
                <div class="text-center"><a class="table-a" ng-click="editBrolixAndDollors('brolixPerUpgradedCashAds')" style="cursor:pointer;">Edit</a></div>
            </form>
        </div>
        <div class="col-sm-4 m-b-20">
            <form>
                <div class="outer-box-brolix-fee">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="brolixForInvitation">
                    </div>
                    <div class="form-group">
                        <span class="form-control">B</span>
                    </div>
                </div>
                <h3>Brolix Per Invitation</h3>
                <div class="text-center"><a class="table-a" ng-click="editBrolixAndDollors('brolixForInvitation')" style="cursor:pointer;">Edit</a></div>
            </form>
        </div>
        <div class="col-sm-4 m-b-20">
            <form name="">
                <div class="outer-box-brolix-fee">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="viewerPriceForCashAds">
                    </div>
                    <div class="form-group">
                        <span class="form-control">$</span>
                    </div>
                </div>
                <h3>Viewer Price (Cash Ads)</h3>
                <div class="text-center"><a class="table-a" ng-click="editBrolixAndDollors('viewerPriceForCashAds')" style="cursor:pointer;">Edit</a></div>
            </form>
        </div>
        <div class="col-sm-4 m-b-20">
            <form>
                <div class="outer-box-brolix-fee">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="brolixFeeForCashAds">
                    </div>
                    <div class="form-group">
                        <span class="form-control">$</span>
                    </div>
                </div>
                <h3>Brolix Fees (Cash Ads)</h3>
                <div class="text-center"><a class="table-a" ng-click="editBrolixAndDollors('brolixFeeForCashAds')" style="cursor:pointer;">Edit</a></div>
            </form>
        </div>
        <div class="col-sm-4 m-b-20">
            <form>
                <div class="outer-box-brolix-fee">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="storeCouponPriceForFreeAds">
                    </div>
                    <div class="form-group">
                        <span class="form-control">B</span>
                    </div>
                </div>
                <h3>Coupon price (free Ads)</h3>
                <div class="text-center"><a class="table-a" ng-click="editBrolixAndDollors('storeCouponPriceForFreeAds')" style="cursor:pointer;">Edit</a></div>
            </form>
        </div>
        <div class="col-sm-4 m-b-20">
            <form name="">
                <div class="outer-box-brolix-fee">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="storeCouponPriceForUpgradedAds">
                    </div>
                    <div class="form-group">
                        <span class="form-control">B</span>
                    </div>
                </div>
                <h3>Coupon price (upgraded Ads)</h3>
                <div class="text-center"><a class="table-a" ng-click="editBrolixAndDollors('storeCouponPriceForUpgradedAds')" style="cursor:pointer;">Edit</a></div>
            </form>
        </div>



 