<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-4 m-b-20">
            <div class="outer-box-brolix-fee">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
            <h3>Brolix Per Free Ads</h3>
            <div class="text-center"><a class="table-a">Edit</a><a class="table-a">Save</a></div>
        </div>
        <div class="col-sm-4 m-b-20">
            <div class="outer-box-brolix-fee">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
            <h3>Brolix Per Cash Ads</h3>
            <div class="text-center"><a class="table-a">Edit</a><a class="table-a">Save</a></div>
        </div>
        <div class="col-sm-4 m-b-20">
            <div class="outer-box-brolix-fee">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
            <h3>Brolix Per Upgraded Ads</h3>
            <div class="text-center"><a class="table-a">Edit</a><a class="table-a">Save</a></div>
        </div>
        <div class="col-sm-4 m-b-20">
            <div class="outer-box-brolix-fee">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
            <h3>Brolix Per Invitation</h3>
            <div class="text-center"><a class="table-a">Edit</a><a class="table-a">Save</a></div>
        </div>
        <div class="col-sm-4 m-b-20">
            <div class="outer-box-brolix-fee">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
            <h3>Viewer Price (Cash Ads)</h3>
            <div class="text-center"><a class="table-a">Edit</a><a class="table-a">Save</a></div>
        </div>
        <div class="col-sm-4 m-b-20">
            <div class="outer-box-brolix-fee">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
            <h3>Brolix Fees (Cash Ads)</h3>
            <div class="text-center"><a class="table-a">Edit</a><a class="table-a">Save</a></div>
        </div>
        <div class="col-sm-4 m-b-20">
            <div class="outer-box-brolix-fee">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
            <h3>Coupon price (free Ads)</h3>
            <div class="text-center"><a class="table-a">Edit</a><a class="table-a">Save</a></div>
        </div>
        <div class="col-sm-4 m-b-20">
            <div class="outer-box-brolix-fee">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
            <h3>Coupon price (upgraded Ads)</h3>
            <div class="text-center"><a class="table-a">Edit</a><a class="table-a">Save</a></div>
        </div>
    </div>
</div>