<div class="container-fluid" ng-show="first">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
            <div class="add-user panel panel-default cust-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Offer</h3>
                </div>
                <div class="panel-body">
                    <div class="offer-block">
                        <!-- <form class="form-block" role="form"  name="createForm"> -->
                        <div class="radio-tab">
                            <div class="radio-btn">
                                <label>
                                    <input type="radio" name="radio" value="upgradeCard" ng-model="myForm.cardType" checked>&nbsp; Upgrade Card
                                </label>
                                <label>
                                    <input type="radio" name="radio" value="luckCard" ng-model="myForm.cardType">&nbsp; Luck Cards
                                </label>
                             </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <select class="form-control" ng-model="myForm.offerType" ng-change="checkVal()">
                                        <option value="">Please select the offer type</option>
                                        <option value="discount">Discount</option>
                                        <option value="buyGet">Buy & Get </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <form class="form-block" role="form"  name="First">
                            <div ng-show="myForm.offerType=='discount' && myForm.cardType!= null">   
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-sm-3">Buy Cards</label>
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                              <input ng-model="myForm.buyCard" type="tel" name="buyCard" class="form-control text-center" ng-pattern="/^[0-9]{1,11}$/" placeholder="50" required>
                                              <span class="input-group-addon" id="basic-addon2">%</span>
                                            </div>
                                              <span style="color:red;" ng-show="First.buyCard.$dirty && First.buyCard.$invalid">
                                              <span  ng-show="First.buyCard.$error.required">Buy cards is required.</span> 
                                              <span ng-show="First.buyCard.$error.pattern">Only number are allowed.</span>
                                         </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-sm-3">Offer Time</label>
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                              <input ng-model="myForm.offerTime" type="tel" name="offerTimes" class="form-control text-center" ng-pattern="/^[0-9]{1,11}$/" placeholder="48" required>
                                              <span class="input-group-addon txt-sm" id="basic-addon2">Hours</span>
                                            </div>
                                              <span style="color:red;" ng-show="First.offerTimes.$dirty && First.offerTimes.$invalid">
                                              <span  ng-show="First.offerTimes.$error.required">Offer time is required.</span> 
                                              <span ng-show="First.offerTimes.$error.pattern">Only number are allowed.</span>
                                          </div>
                                    </div>
                                </div>

                                <!-- Change this to a button or input when using this as a form -->
                                <div class="btn2 text-center">
                                    <button  class="btn btn-lg btn-green" ng-disabled="First.$invalid"  ng-click="createOffer(myForm.cardType)">Next</button>
                                    <a  class="btn btn-lg btn-green">Cancel</a>
                                </div>
                            </div>
                        </form>
                        <form class="form-block" role="form"  name="ssecond">
                            <div ng-show="myForm.offerType=='buyGet' && myForm.cardType!= null">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-sm-3">Buy Cards</label>
                                        <div class="col-sm-5">
                                              <input ng-model="myForm.buyCard" type="tel" name="buyCards" ng-pattern="/^[0-9]{1,11}$/" class="form-control text-center" required>
                                            <span style="color:red;" ng-show="ssecond.buyCards.$dirty && ssecond.buyCards.$invalid">
                                            <span  ng-show="ssecond.buyCards.$error.required">Buy cards is required.</span> 
                                            <span style="color:red;" ng-show="ssecond.buyCards.$error.pattern">Only number are allowed.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-sm-3">Get Free Cards</label>
                                        <div class="col-sm-5">
                                           <input ng-model="myForm.freeCard" type="tel" name="freeCard" ng-pattern="/^[0-9]{1,11}$/" class="form-control text-center" required>
                                            <span style="color:red;" ng-show="ssecond.freeCard.$dirty && ssecond.freeCard.$invalid">
                                            <span  ng-show="ssecond.freeCard.$error.required">Get free cards is required.</span> 
                                            <span style="color:red;" ng-show="ssecond.freeCard.$error.pattern">Only number are allowed.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-sm-3">Offer Time</label>
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                              <input ng-model="myForm.offerTime" type="text" name="offerTime" class="form-control text-center" ng-pattern="/^[0-9]{1,11}$/" placeholder="48" required>
                                              <span class="input-group-addon txt-sm" id="basic-addon2">Hours</span>
                                            </div>
                                            <span style="color:red;" ng-show="ssecond.offerTime.$dirty && ssecond.offerTime.$invalid">
                                            <span  ng-show="ssecond.offerTime.$error.required">Offer time is required.</span> 
                                            <span style="color:red;" ng-show="ssecond.offerTime.$error.pattern">Only number are allowed.</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <div class="btn2 text-center">
                                    <button  class="btn btn-lg btn-green"  ng-disabled="ssecond.$invalid" ng-click="createOffer(myForm.cardType)">Next</button>
                                    <a  class="btn btn-lg btn-green">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-show="second">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
            <div class="add-user panel panel-default cust-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Offer</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills card-tabs">
                        <li class="active"><a data-toggle="pill" >Upgrade Card</a></li>
                    </ul>
                    <div class="tab-content add-card">
                        <div id="home" class="tab-pane fade in active" >
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="remove-card-block" >
                                        <div class="cover-image newcover-img" ng-repeat="x in UpgradeCard">
                                            <img style="cursor:pointer;" ng-click="showCardDetails(x._id)" class="profile-user-img img-responsive" ng-src={{x.photo}} id="output">
                                            <div class="viewwe-s">
                                                <div class="tops-s">
                                                     <div class="amts-top">{{x.viewers}}</div>
                                                      <div class="ants-view">Viewers</div>
                                                </div>
                                                 <div class="bottom-dol">${{x.price}}</div>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cover-image newcover-img" >
                                    <img class="profile-user-img img-responsive" src="{{user.photo || cardDetails.photo || '../dist/image/cover.jpg'}}" id="output">
                                    <div class="viewwe-s">
                                        <div class="tops-s">
                                             <div class="amts-top">{{cardDetails.viewers}}</div>
                                              <div class="ants-view">Viewers</div>
                                        </div>
                                         <div class="bottom-dol">${{cardDetails.price}}</div>
                                    </div>
                                    </div>
                                    <div class="btn2 text-center">
                                        <a class="btn btn-lg btn-green" ng-click="createOfferNext(cardDetails._id)">Apply Offer</a>
                                        <a class="btn btn-lg btn-green">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-show="third">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
            <div class="add-user panel panel-default cust-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Offer</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills card-tabs">
                        <li class="active"><a data-toggle="pill" >Luck Card</a></li>
                    </ul>
                    <div class="tab-content add-card">
                        <div id="home" class="tab-pane fade in active" >
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="remove-card-block" >
                                        <div class="cover-image newcover-img" ng-repeat="x in UpgradeCard">
                                            <img style="cursor:pointer;" ng-click="showCardDetails(x._id)" class="profile-user-img img-responsive" ng-src={{x.photo}} id="output">
                                            <div class="viewwe-s">
                                                <div class="tops-s">
                                                     <div class="amts-top">{{x.chances}}</div>
                                                      <div class="ants-view">Chances</div>
                                                </div>
                                                 <div class="bottom-dol">B{{x.brolix}}</div>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cover-image newcover-img" >
                                    <img class="profile-user-img img-responsive" src="{{user.photo || cardDetails.photo || '../dist/image/cover.jpg'}}" id="output">
                                    <div class="viewwe-s">
                                        <div class="tops-s">
                                             <div class="amts-top">{{cardDetails.chances}}</div>
                                              <div class="ants-view">Chances</div>
                                        </div>
                                        <div class="bottom-dol">B{{cardDetails.brolix}}</div>
                                    </div>
                                    </div>
                                    <div class="btn2 text-center">
                                        <a class="btn btn-lg btn-green" ng-click="createOfferNext(cardDetails._id)">Apply Offer</a>
                                        <a class="btn btn-lg btn-green">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>