<div class="container-fluid">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12" style="text-align: center">
        <div class="add-user panel panel-default cust-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">UPDATE COUPON</h3>
                </div>
                <div class="panel-body">
        <form class="form-block" role="form" name="myForm">
                <fieldset>
                    <div class="form-group">
                        <div class="cover-image">
                        <img class="profile-user-img img-responsive" src="{{user.photo || '../dist/image/cover.jpg'}}" id="output">

                        <label class="fileContainer">
                            Choose File
                        <input type="file" class="img-pro-file"onchange="angular.element(this).scope().changeImage(this)" name="image" accept="image/*" required>
                         <span ng-show="myFrom.image.$error.required">Image is required.</span>
                        </label>
                        </div>
                    </div>
                    <div class="form-group clearfix" style="margin-top:55px;">
                        <label class="col-sm-4 control-label">Page Name</label>
                        <div class="col-sm-8">
                          <select class="form-control" ng-model="user.pageName" ng-change="isSelected(user.pageName)" required="">
                            <option value="">Select</option>
                            <option value="{{page.pageName}}" ng-repeat="page in pageDetail">{{page.pageName}}</option>
                          </select>
                        </div>
                      </div>


                    <div class="form-group clearfix">
                    <label class="col-sm-4 control-label">Expiry Date</label>
                      <div class="col-sm-8">
                        <datepicker  date-format="yyyy-MM-dd" selector="form-control" date-max-limit="{{minDate}}" date-set="{{minDate}}">
                             <div class="input-group">
                                 <input name="dob" class="form-control" style="cursor:pointer;" placeholder="Choose a date" ng-model="user.expDate" max="2017-04-05" />
                                 <span class="input-group-addon">
                                 <!-- <i class="fa fa-lg fa-calendar"></i> -->
                                 </span>
                             </div>
                            </datepicker>
                            <span style="color:red;" ng-show="myForm.dob.$dirty && myForm.dob.$invalid">>Date of birth is required.</span>
                              <span ng-show="myForm.dob.$error.required">Date of birth is required.</span> 
                      </div>
                  </div>
                    <!-- <div class="form-group">
                        <label class="col-sm-4 control-label">Expiry Date</label>
                        <div class="col-sm-8">
                          <input type="date" class="form-control"  ng-model="user.expDate" name="myDate" required>
                          <span style="color:red" ng-show="myForm.myDate.$dirty && myForm.myDate.$invalid">
                          <span style="color:red" ng-show="myForm.myDate.$error.required">
                           Please Select Expiry Date</span>
                          <span style="color:red" ng-show="myForm.myDate.$error.date">
                           Not a valid date!</span>
                        </div>
                      </div> -->
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">Gift Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" ng-model="user.description" name="des" required></textarea>
                            <span style="color:red" ng-show="myForm.des.$dirty && myForm.des.$invalid">
                          <span style="color:red" ng-show="myForm.des.$error.required">
                           Description is Required</span>
                        </div>
                      </div>

                       <div class="form-group clearfix">
                            <label class="col-sm-3 control-label">Gift Image</label>
                            <div class="col-sm-9 text-left">
                            <div class="cover-image">
                                <img class="profile-user-img img-responsive" src="{{user.giftImage || 'http://res.cloudinary.com/dfrspfd4g/image/upload/v1495862745/f9xiu2xrlsktd5kakq5p.jpg'}}" id="output">
                            </div>
                            <label class="fileContainer">
                                Choose File
                                <input type="file" class="img-pro-file"onchange="angular.element(this).scope().changeImage(this,'giftDesImage')" name="image" accept="image/*">
                            </label>
                            </div>

                        </div>
                </fieldset>
        <div class="btn2 text-center">
            <a  class="btn btn-lg btn-green" ng-click="upadteCoupon(user)">Update</a>
            <a href="" class="btn btn-lg btn-green" ng-click="cancel()">Cancel</a>
            
        </div>
    </form>
</div>
</div>
</div>
</div>
