<div class="top-header">
        <a href="#" class="brand-logo">Brolix</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default cust-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title title-sm">Forgot Password</h3>
                    </div>
                    <div class="panel-body">
                        <div class="login-block">
                            <form class="form-block" role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Type your email</label>
                                        <div class="input-group">
                                          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o"></i></span>
                                          <input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    
                                    <!-- Change this to a button or input when using this as a form -->
                                    <div class="btn-row">
                                        <div class="row">
                                            <div class="col-xs-6"><a href="index.html" class="btn btn-lg btn-green btn-block">Send</a></div>
                                            <div class="col-xs-6"><a href="index.html" class="btn btn-lg btn-green btn-block">Cancel</a></div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>