 <div id="wrapper">
 <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="../dist/image/logo.png"/></a>
            </div>
            <!-- Top Menu Items -->
            <div class="nav navbar-right top-nav">
                <div class="admintools">
                    Admin Tools
                </div>               
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="prodata">
                        <div class="profile-img">
                            <div class="left-img">
                                <img src="../dist/image/left-img.png"/>
                            </div>
                            <div class="rightdes">
                                <h3 class="title-s">Welcome</h3>
                                <div class="sub-title">Mohammad Abahre</div>
                                <div class="logout">
                                    <a ng-click="logout()">Logout</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">CREATE AD</a>
                    </li>
                    <li>
                        <a href="#"> EDIT AD</a>
                    </li>
                    <li>
                        <a href="#"> REMOVE AD</a>
                    </li>
                    <li>
                        <a href="#"> HOME PAGE AD</a>
                    </li>
                    <li>
                        <a href="#"> CREATE REPORT</a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2">
                            <li class="active first">
                                <a href="#Manage-Users" data-toggle="tab">Manage Users</a>
                            </li>
                            <li class="">
                                <a href="#Manage-Pages" data-toggle="tab">  Manage Pages</a>
                            </li>
                            <li class="">
                                <a href="#Manage-Ads" data-toggle="tab">Manage Ads</a>
                            </li>
                             <li class="">
                                <a href="#Manage-Cards" data-toggle="tab">Manage Cards</a>
                            </li>
                            <li class="">
                                <a href="#Manage-Gifts" data-toggle="tab">Manage Gifts</a>
                            </li>
                             <li class="last">
                                <a href="#Manage-Paymant" data-toggle="tab">Manage Paymant</a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>