 <div id="wrapper">
 <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" ui-sref="header.manageUsers"><img src="../dist/image/logo.png"/></div>
            </div>
            <!-- Top Menu Items -->
            <!-- <div class="nav navbar-right top-nav">
                <div class="admintools">
                    Admin Tools
                </div>               
            </div> -->
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->            
            <div ng-if="menu=='Manage User'" ng-hide="manageUser == false">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="prodata">
                        <div class="profile-img">
                            <div class="left-img">
                                <img src=" {{image || image1}}"/>
                            </div>
                            <div class="rightdes">
                                <h3 class="title-s">Welcome</h3>
                                <div class="sub-title">{{user.firstName}} {{user.lastName}}</div>
                                <div class="logout">
                                    <a style="cursor:pointer;" ng-click="logout()">Logout</a>
                                </div>
                            </div>
                        </div>
                    </li>
                     <li>
                        <a style="cursor:pointer;" ui-sref="header.adminProfile" >ADMIN PROFILE</a>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ui-sref="header.addUser">ADD USER</a>
                    </li>
                   <!--  <li>
                        <a>BLOCK USER</a>
                    </li>
                    <li>
                        <a> CREATE REPORT</a>
                    </li>  -->                   
                </ul>
            </div>
            </div>
            <div ng-if="menu=='Manage Pages'" ng-hide="managePages == false">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="prodata">
                        <div class="profile-img">
                            <div class="left-img">
                                <img src=" {{image}}"/>
                            </div>
                            <div class="rightdes">
                                <h3 class="title-s">Welcome</h3>
                                <div class="sub-title">{{user.firstName}} {{user.lastName}}</div>
                                <div class="logout">
                                    <a style="cursor:pointer;" ng-click="logout()">Logout</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ui-sref="header.addNewPages">ADD PAGE</a>
                    </li>
                    <!-- <li>
                        <a>REMOVE PAGE</a>
                    </li>
                    <li>
                        <a>BLOCK PAGE</a>
                    </li>
                    <li>
                        <a> CREATE REPORT</a>
                    </li> -->                    
                </ul>
            </div>
            </div>
            <div ng-if="menu=='Manage Ads'" ng-hide="manageAds == false">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="prodata">
                        <div class="profile-img">
                            <div class="left-img">
                                <img src=" {{image}}"/>
                            </div>
                            <div class="rightdes">
                                <h3 class="title-s">Welcome</h3>
                                <div class="sub-title">{{user.firstName}} {{user.lastName}}</div>
                                <div class="logout">
                                    <a style="cursor:pointer;" ng-click="logout()">Logout</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ui-sref="header.createAds">CREATE AD</a>
                    </li>
                    <!-- <li>
                        <a style="cursor:pointer;">EDIT AD</a>
                    </li>
                    <li>
                        <a style="cursor:pointer;">REMOVE AD</a>
                    </li> -->
                    <li>
                        <a style="cursor:pointer;" ui-sref="header.homepageAds">HOME PAGE AD</a>
                    </li>
                    <!-- <li>
                        <a style="cursor:pointer;">CREATE REPORT</a>
                    </li> -->                    
                </ul>
            </div>
            </div>
            <div ng-if="menu=='Manage Cards'"  ng-hide="manageCards == false">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="prodata">
                        <div class="profile-img">
                            <div class="left-img">
                                <img src=" {{image}}"/>
                            </div>
                            <div class="rightdes">
                                <h3 class="title-s">Welcome</h3>
                                <div class="sub-title">{{user.firstName}} {{user.lastName}}</div>
                                <div class="logout">
                                    <a style="cursor:pointer;" ng-click="logout()">Logout</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ui-sref="header.createCard">CREATE CARD</a>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ui-sref="header.editCard">EDIT CARD</a>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ui-sref="header.removeCard">REMOVE CARD</a>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ui-sref="header.createOffer">CREATE OFFERS</a>
                    </li>                    
                </ul>
            </div>
            </div>
            <div ng-if="menu=='Manage Gifts'" ng-hide="manageGifts == false">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="prodata">
                        <div class="profile-img">
                            <div class="left-img">
                                <img src=" {{image}}"/>
                            </div>
                            <div class="rightdes">
                                <h3 class="title-s">Welcome</h3>
                                <div class="sub-title">{{user.firstName}} {{user.lastName}}</div>
                                <div class="logout">
                                    <a style="cursor:pointer;" ng-click="logout()">Logout</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- <li>
                        <a> CREATE REPORT</a>
                    </li>  -->                   
                </ul>
            </div>
            </div>
            <div ng-if="menu=='Manage Payment'" ng-hide="managePayments == false">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="prodata">
                        <div class="profile-img">
                            <div class="left-img">
                                <img src=" {{image}}"/>
                            </div>
                            <div class="rightdes">
                                <h3 class="title-s">Welcome</h3>
                                <div class="sub-title">{{user.firstName}} {{user.lastName}}</div>
                                <div class="logout">
                                    <a style="cursor:pointer;" ng-click="logout()">Logout</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- <li>
                        <a style="cursor:pointer;"> CREATE REPORT</a>
                    </li>   -->                  
                </ul>
            </div>
            </div>
             <div ng-if="menu=='Admin Tools'" ng-hide="adminTool == false">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="prodata">
                        <div class="profile-img">
                            <div class="left-img">
                                <img src=" {{image}}"/>
                            </div>
                            <div class="rightdes">
                                <h3 class="title-s">Welcome</h3>
                                <div class="sub-title">{{user.firstName}} {{user.lastName}}</div>
                                <div class="logout">
                                    <a style="cursor:pointer;" ng-click="logout()">Logout</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ui-sref="header.addSystemUser" ng-hide="addSystemUser == false">System User</a>
                    </li>
                    <li>
                         <a style="cursor:pointer;" ui-sref="header.adminCoupons">Admin Coupons</a>
                    </li>
                    <li>
                         <a style="cursor:pointer;" ui-sref="header.adminReports">Reports</a>
                    </li>
                    <li>
                         <a style="cursor:pointer;" ui-sref="header.adminNotification">Notification</a>
                    </li>
                    <li>
                         <a style="cursor:pointer;" ui-sref="header.termsAndCondition">Terms & conditions</a>
                    </li>
                    <li>
                         <a style="cursor:pointer;" ui-sref="header.brolixAndDollars">Brolix & Dollars</a>
                    </li>
                    <li>
                         <a style="cursor:pointer;" ui-sref="header.deafultBrolixAndDollars">Default Values</a>
                    </li>            
                </ul>
            </div>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2">
                    <!-- <li class="first" ng-class="{'active':header=='Manage User'}" ng-if="user.indexOf('ManageUser')>-1"><a ng-href="#header/manageUsers">Manage Users</a> -->
                            <li class="first" ng-class="{'active':header=='Manage User'}" ng-hide="manageUser == false">
                                <a ng-href="#header/manageUsers">Users</a>
                            </li>
                            <!-- <li class="first" ng-class="{'active':header=='Manage User'}" ng-if="user.indexOf('ManageUser')>-1"><a ng-href="#header/manageUsers">Manage Users</a> -->
                            <li class="" ng-class="{'active':header=='Manage Pages'}" ng-hide="managePages == false">
                                <a ng-href="#header/managePages" >Pages</a>
                            </li>
                            <li class="" ng-class="{'active':header=='Manage Ads'}" ng-hide="manageAds == false">
                                <a ng-href="#header/manageAds">Ads</a>
                            </li>
                             <li class="" ng-class="{'active':header=='Manage Cards'}" ng-hide="manageCards == false">
                                <a ng-href="#header/manageCards">Cards</a>
                            </li>
                            <li class="" ng-class="{'active':header=='Manage Gifts'}" ng-hide="manageGifts == false">
                                <a ng-href="#header/manageGifts">Gifts</a>
                            </li>
                             <li class="" ng-class="{'active':header=='Manage Payment'}" ng-hide="managePayments == false">
                                <a ng-href="#header/managePayments">Payment</a>
                            </li>
                            <li class="" ng-class="{'active':header=='Admin Tools'}" ng-hide="adminTool == false">
                                <a ng-href="#header/manageAdminTools">Admin Tools</a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="tab-content" data-sortable-id="index-3">
        <spinner name="html5spinner" ng-cloak="">
          <div class="overlay"></div>
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
          <div class="please-wait">Please Wait...</div>
        </spinner>  
        <div ui-view></div>
        </div>
    </div>
       <footer class="main-footer clearfix">
            <div class="container-fluid">
              <div class="pull-left">
              <strong>Copyright &copy; 2017-2018 Brolix</strong> All rights
              reserved.
              </div>
              <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.5
              </div>
              </div>
          </footer>
</div>