<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12">
								<a class="active" id="login-form-link">Login</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form name="loginForm">
									<div class="form-group">
										<input type="email" name="email" ng-model="myFrom.email" class="form-control" placeholder="Email Id" required>
								        <span style="color:red;" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
								        <span ng-show="loginForm.email.$error.required">Email is required.</span>
								        <span ng-show="loginForm.email.$error.email">Invalid email address.</span>
									</div>
									<div class="form-group">
										<input type="password" name="password" ng-model="admin.password" ng-minlength="8"  ng-maxlength="12" class="form-control" placeholder="Password" required>
										<span style="color:red;" ng-show="loginForm.password.$error.minlength">Your password should contain atleast 8 characters</span>
          								<span style="color:red;" ng-show="loginForm.password.$error.maxlength">Your password should contain atleast 12 characters</span>
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" class="form-control btn btn-login" ng-disabled="loginForm.$invalid" ng-click="login()">
											</div>
										</div>
									</div>
									<!-- <div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div> -->
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>