<div class="tab-pane">
    <div class="height-sm" data-scrollbar="true">
        <div class="row ">
            <div class="col-md-9 col-sm-6 dwd-border-l">
                <div class="clearfix">
                    <div class="box-block blk-drakgreen">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Brolix Gifts</div>
                                <div class="total-amt">{{totalBrolix | number}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="top_50_balance()">
                                    <a>Top 50 Balances</a>
                                </div>
                                <!-- <div class="btn-manage" ng-click="tab='contectOwner'">
                                    <a ng-click="contact_winner_message('totalBrolixGiftWinner')">Contact Winners</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-red">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Coupons Gifts</div>
                                <div class="total-amt">{{totalCouponsGift}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='totalCouponsGifts'">
                                    <a ng-click="giftTypeName('totalCouponsGifts')">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a ng-click="contact_winner_message('totalCouponGiftWinner')">Contact Winners</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block  blk-browen">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Cash Gifts</div>
                                <div class="total-amt">{{totalCashGift}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='totalCashGifts'">
                                    <a ng-click="giftTypeName('totalCashGifts')">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a ng-click="contact_winner_message('totalCashGiftWinner')">Contact Winners</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-drkblue">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Hidden Gifts</div>
                                <div class="total-amt">{{totalHiddenGift}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='totalHiddenGifts'">
                                    <a ng-click="giftTypeName('totalHiddenGifts')">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a ng-click="contact_winner_message('totalHiddenGiftWinner')">Contact Winners</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="box-block blnk-bg">
                        <div class="widget widget-stats divi-blk offerbtn-s">
                            <div class="top-box">
                                <div class="green-box">Top 50 Coupons Providers</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage show-btn w-100" ng-click="top_50_couponsProviders()">
                                    <a>Show</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="clearfix">
                    <div class="box-block  blk-drkvolit">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Exchanged Coupons</div>
                                <div class="total-amt">{{totalExchangedCoupons}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='totalExchanged'">
                                    <a ng-click="giftTypeName('totalExchanged')">Show</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-drkpink">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Sent Coupons</div>
                                <div class="total-amt">{{totalSentCoupon}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='totalSentCoupons'">
                                    <a ng-click="giftTypeName('totalSentCoupons')">Show</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block  blk-drkyello">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Sent Cash</div>
                                <div class="total-amt">{{totalSentCash}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='totalSentCash'">
                                    <a ng-click="giftTypeName('totalSentCash')">Show</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="box-block blnk-bg">
                        <div class="widget widget-stats divi-blk offerbtn-s">
                            <div class="top-box">
                                <div class="green-box">Top 50 Cash Providers</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage show-btn w-100" ng-click="top_50_cashProviders()">
                                    <a>Show</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6 dwd-border">
                <div class="widget widget-stats divi-blk">
                    <div class="Dashboard-filter-text">DASHBOARD FILTER</div>
                     <div class="form-group cus-select">
                         <select class="form-control" ng-change="changeCountry(); dashBordFilter(dashBordFilter.country);" ng-model="dashBordFilter.country" required>
                            <option value="">Select Country</option>
                            <option ng-repeat="country in countriesList" value"{{country}}">{{country}}</option>
                         </select>
                    </div>
                    <!-- <div class="form-group cus-select">
                         <select class="form-control"  ng-change="changeState(); dashBordFilter(dashBordFilter.state);" ng-model="dashBordFilter.state" required>
                            <option value="">Select State</option>
                            <option ng-repeat="state in stateList">{{state.region}}</option>
                         </select> 
                    </div> -->
                    <div class="form-group cus-select">
                         <select  class="form-control" id="city" ng-change="dashBordFilter(dashBordFilter.city);" ng-model="dashBordFilter.city" required>
                            <option value="">Select City</option>
                            <option ng-repeat="city in cityList">{{city}}</option>
                         </select> 
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control" ng-model="dashBordFilter.couponStatus" ng-change="dashBordFilter();">
                            <option value="">Coupon Status</option>
                            <option>Valid</option>
                            <option>Used</option>
                            <option>Expired</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control" ng-model="dashBordFilter.cashStatus" ng-change="dashBordFilter();">
                            <option value="">Cash Status</option>
                            <option>Delivered</option>
                            <option>Pending</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <datepicker  date-format="yyyy-MM-dd" selector="form-control" date-max-limit="{{minDate}}" date-set="{{minDate}}">
                            <div class="form-group">
                              <input style="height: 40px; background-color: #EAEAEA; cursor: pointer" class="form-control" class="form-control"  ng-model="dashBordFilter.dobFrom" placeholder="Date From"/>
                            </div>
                        </datepicker>
                    </div>
                     <div class="form-group cus-select">
                        <datepicker  date-format="yyyy-MM-dd" selector="form-control" date-max-limit="{{minDate}}" date-set="{{minDate}}">
                            <div class="form-group">
                              <input style="height: 40px; background-color: #EAEAEA; cursor: pointer" class="form-control" class="form-control"   ng-model="dashBordFilter.dobTo" placeholder="Date To"/>
                            </div>
                        </datepicker>
                     </div>
                 </div>
             </div>
          </div>
      </div>
   </div>
    
    
    <div id="tableData" class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="totalExchanged">
        <div class="grp-search">
        <div class="row-search">
            <ul>
                <li class="last">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="export()"">Create Report</a>
                </li>
            </ul>
        </div>
          <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="search" maxlength="15"  placeholder="Search By Exch From , Exch To">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div> 
            <table id="manageGiftTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Coupon Gift</th>
                        <th>Exchanged From</th>
                        <th>Exchanged To</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalExchangedCouponShow1 | totalExchangedFilter:search">
                        <td class="skyblue-text" style="cursor: pointer;" ng-click="showCouponGift(x.id,'first')">View</td>
                        <td>{{x.exchToFirstName}} {{x.exchToLastName}}</td>
                        <td>{{x.exchFromFirstName}} {{x.exchFromLastName}}</td>
                    </tr> 
                     <tr ng-if="(totalExchangedCouponShow1 | totalExchangedFilter:search).length == 0"><td colspan="3" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td></tr>
                        
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(totalExchangedCouponShow1 | totalExchangedFilter:search).length != 0">
                <button ng-click="preTotalExchangedCoupon()" ng-disabled="pageTotalExchangedCoupon==1" class="btn paginationBtn" >Prev</button> 
                {{pageTotalExchangedCoupon}}/{{noOfPagesTotalExchangedCoupon}}
                <button ng-click="nextTotalExchangedCoupon()" ng-disabled="pageTotalExchangedCoupon==noOfPagesTotalExchangedCoupon" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div> 

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="totalCouponsGifts">
        <div class="grp-search">
        <div class="row-search">
            <ul>
                <li class="last">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="export()"">Create Report</a>
                </li>
            </ul>
        </div>
         <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="search" maxlength="15"  placeholder="Search By Page Name , Winner Name">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
          </div>
        </div>
            <table id="manageGiftTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Page Name</th>
                        <th>Winner Name</th>
                        <th>Coupon Gift</th>
                        <th>Coupon Status</th>
                        <th>Created Date</th>
                        <th>Created Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalCouponsGiftShow | totalCouponGiftFilter:search">
                        <td>{{x.coupon.pageId.pageName}}</td>
                        <td>{{x.firstName}} {{x.lastName}}</td>
                        <td class="skyblue-text" style="cursor: pointer;" ng-click="showCouponGift(x.coupon.adId,'first')">View</td>
                        <td>{{x.coupon.couponStatus}}</td>
                        <td>{{x.createdAt | date:'MM/dd/yyyy'}}</td>
                        <td>{{x.createdAt | date:"HH:mm"}}</td>
                    </tr>
                    <tr ng-if="(totalCouponsGiftShow | totalCouponGiftFilter:search).length == 0"><td colspan="4" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td></tr>     
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(totalCouponsGiftShow | totalCouponGiftFilter:search).length != 0">
                <button ng-click="preTotalCouponsGift()" ng-disabled="pageTotalCouponsGift==1" class="btn paginationBtn" >Prev</button> 
                {{pageTotalCouponsGift}}/{{noOfPagesTotalCouponsGift}}
                <button ng-click="nextTotalCouponsGift()" ng-disabled="pageTotalCouponsGift==noOfPagesTotalCouponsGift" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="totalCashGifts">
        <div class="grp-search">
        <div class="row-search">
            <ul>
                <li class="last">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="export()"">Create Report</a>
                </li>
            </ul>
        </div>
            <div class="search-bar-cus">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="search" maxlength="15"  placeholder="Search By Page Name , Winner Name">
                            <div class="input-group-addon">Search</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <table id="manageGiftTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Page Name</th>
                        <th>Winner Name</th>
                        <th>Cash Gift</th>
                        <th>Cash Status</th>
                        <th>Created Date</th>
                        <th>Created Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalCashGiftShow | totalCashGiftFilter:search">
                        <td>{{x.cashPrize.pageId.pageName}}</td>
                        <td>{{x.firstName}} {{x.lastName}}</td>
                        <td class="skyblue-text" style="cursor: pointer;" ng-click="showCouponGift(x.cashPrize.adId,'second')">View</td>
                        <td>{{x.cashPrize.cashStatus}}</td>
                         <td>{{x.createdAt | date:'MM/dd/yyyy'}}</td>
                        <td>{{x.createdAt | date:"HH:mm"}}</td>
                     </tr>
                     <tr ng-if="(totalCashGiftShow |totalCashGiftFilter:search).length == 0"><td colspan="4" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td></tr> 
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(totalCashGiftShow | totalCashGiftFilter:search).length != 0">
                <button ng-click="preTotalCashGifts()" ng-disabled="pageTotalCashGifts==1" class="btn paginationBtn" >Prev</button> 
                {{pageTotalCashGifts}}/{{noOfPagesTotalCashGifts}}
                <button ng-click="nextTotalCashGifts()" ng-disabled="pageTotalCashGifts==noOfPagesTotalCashGifts" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="totalHiddenGifts">
          <div class="grp-search">
          <div class="row-search">
            <ul>
                <li class="last">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="export()"">Create Report</a>
                </li>
            </ul>
        </div>
            <div class="search-bar-cus">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="search" maxlength="15"  placeholder="Search By Page Name , Winner Name">
                            <div class="input-group-addon">Search</div>
                        </div>
                    </div>
                </form>
            </div>
           </div> 
            <table id="manageGiftTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Page Name</th>
                        <th>Winner Name</th>
                        <th>Coupon Gift</th>
                        <th>Coupon Status</th>
                        <th>Created Date</th>
                        <th>Created Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalHiddenGiftShow | totalHiddenGiftFilter:search">
                        <td>{{x.hiddenGifts.pageId.pageName}}</td>
                        <td>{{x.firstName}} {{x.lastName}}</td>
                        <td class="skyblue-text" style="cursor: pointer;" ng-click="showCouponGift(x.hiddenGifts.adId,'third')">View</td>
                        <td>{{x.hiddenGifts.status}}</td>
                        <td>{{x.createdAt | date:'MM/dd/yyyy'}}</td>
                        <td>{{x.createdAt | date:"HH:mm"}}</td>
                     </tr>
                      <tr ng-if="(totalHiddenGiftShow | totalHiddenGiftFilter:search).length == 0"><td colspan="4" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td></tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(totalHiddenGiftShow | totalHiddenGiftFilter:search).length != 0">
                <button ng-click="preTotalHiddenGifts()" ng-disabled="pageTotalHiddenGifts==1" class="btn paginationBtn" >Prev</button> 
                {{pageTotalHiddenGifts}}/{{noOfPagesTotalHiddenGifts}}
                <button ng-click="nextTotalHiddenGifts()" ng-disabled="pageTotalHiddenGifts==noOfPagesTotalHiddenGifts" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="totalSentCoupons">
         <div class="grp-search">
             <div class="row-search">
                <ul>
                    <li class="last">
                        <a data-toggle="tab" style="cursor: pointer;" ng-click="export()"">Create Report</a>
                    </li>
                </ul>
            </div>
             <div class="search-bar-cus">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="search" maxlength="15"  placeholder="Search By Sent From , Sent To">
                            <div class="input-group-addon">Search</div>
                        </div>
                    </div>
                </form>
            </div>
         </div>    
            <table id="manageGiftTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Coupon Gift</th>
                        <th>Sent From</th>
                        <th>Sent To</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalSentCouponShow1 | totalSentCouponFilter:search">
                        <td class="skyblue-text" style="cursor: pointer;" ng-click="showCouponGift(x.id,'first')">View</td>
                        <td>{{x.sentFromFirstName}} {{x.sentFromLastName}}</td>
                        <td >{{x.sentToFirstName}} {{x.sentToLastName}}</td>
                     </tr>
                     <tr ng-if="(totalSentCouponShow1 | totalSentCouponFilter:search).length == 0"><td colspan="3" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td></tr>     
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(totalSentCouponShow1 | totalSentCouponFilter:search).length != 0">
                <button ng-click="preTotalSentCoupon()" ng-disabled="pageTotalSentCoupon==1" class="btn paginationBtn" >Prev</button> 
                {{pageTotalSentCoupon}}/{{noOfPagesTotalSentCoupon}}
                <button ng-click="nextTotalSentCoupon()" ng-disabled="pageTotalSentCoupon==noOfPagesTotalSentCoupon" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>


    <div class="col-sm-12" ng-switch="tab">
       <div class="row table-responsive cus-table" ng-switch-when="totalSentCash">
         <div class="grp-search">
          <div class="row-search">
            <ul>
                <li class="last">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="export()"">Create Report</a>
                </li>
            </ul>
          </div>
          <div class="search-bar-cus">
              <div class="search-bar-cus">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="search" maxlength="15" placeholder="Search By Sent From , Sent To">
                            <div class="input-group-addon">Search</div>
                        </div>
                    </div>
                </form>
            </div>
           </div> 
            <table id="manageGiftTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Coupon Gift</th>
                        <th>Amount</th>
                        <th>Sent From</th>
                        <th>Sent To</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalSentCashShow | totalSentCashFilter:search">
                        <td class="skyblue-text" style="cursor: pointer;" ng-click="showCouponGift(x.id,'second')">View</td>
                        <td>{{totalCash}}</td>
                        <td>{{x.sendCashListObject.senderId.firstName}} {{x.sendCashListObject.senderId.lastName}}</td>
                        <td>{{x.firstName}} {{x.lastName}}</td>
                    </tr>
                     <tr ng-if="(totalSentCashShow | totalSentCashFilter:search).length == 0"><td colspan="3" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td></tr>     
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(totalSentCashShow | totalSentCashFilter:search).length != 0">
                <button ng-click="preTotalSentCash()" ng-disabled="pageTotalSentCash==1" class="btn paginationBtn" >Prev</button> 
                {{pageTotalSentCash}}/{{noOfPagesTotalSentCash}}
                <button ng-click="nextTotalSentCash()" ng-disabled="pageTotalSentCash==noOfPagesTotalSentCash" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>
</div>

<!--Top 50 balance model-->

<div id="top_50_balance" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Top 50 Brolix User</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                        <div class="table-responsive cus-table">
                            <table id="manageGiftTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Winner Name</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in top50balances">
                                        <td class="skyblue-text">{{x.firstName}} {{x.lastName}}</td>
                                        <td class="skyblue-text">{{x.brolix}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>           
                </div>
           </div>
       </div>
   </div>
</div>

<!--Coupon provider model-->

<!-- <div id="top_50_couponsProviders" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Top 50 Brolix User</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                        <div class="table-responsive cus-table">
                            <table id="manageGiftTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Page Name</th>
                                        <th>CouponBuyer Length</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in topFiftyCouponProvider">
                                        <td class="skyblue-text">{{x.pageName}}</td>
                                        <td class="skyblue-text">{{x.couponBuyersLength}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>           
                </div>
           </div>
       </div>
   </div>
</div> -->

<!--Cashprovider model-->

<!-- <div id="top_50_cashProviders" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Top 50 Brolix User</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                        <div class="table-responsive cus-table">
                            <table id="manageGiftTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Page Name</th>
                                        <th>CashAdPrize</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in topFiftyCashProvider">
                                        <td class="skyblue-text">{{x.pageName}}</td>
                                        <td class="skyblue-text">{{x.cashAdPrize}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>           
                </div>
           </div>
       </div>
   </div>
</div> -->

<!--CouponGift Model-->

<div id="showCouponGift" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Coupon Gift</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                        <div class="table-responsive cus-table">
                            <table id="manageGiftTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>PageName</th>
                                        <th>Category</th>
                                        <th>Gift Description</th>
                                        <th>Coupon ExpiryDate</th>
                                        <!-- <th>Cover Image</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{couponGiftAd.pageName}}</td>
                                        <td>{{couponGiftAd.category}}</td>
                                        <td>{{couponGiftAd.giftDescription}}</td>
                                        <td>{{couponGiftAd.couponExpiryDate | date:'MM/dd/yyyy'}}</td>
                                        <!-- <td><img src={{couponGiftAd.coverImage}}/></td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>           
                </div>
           </div>
       </div>
   </div>
</div>


<div id="showCouponGiftsecond" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Coupon Gift</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                        <div class="table-responsive cus-table">
                            <table id="manageGiftTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>PageName</th>
                                        <th>Category</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{couponGiftAd.pageName}}</td>
                                        <td>{{couponGiftAd.category}}</td>
                                        <td>{{couponGiftAd.cashAdPrize}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>           
                </div>
           </div>
       </div>
   </div>
</div>


<div id="showCouponGiftthird" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Coupon Gift</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                        <div class="table-responsive cus-table">
                            <table id="manageGiftTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>PageName</th>
                                        <th>Category</th>
                                        <th>Gift Description</th>
                                        <th>Coupon ExpiryDate</th>
                                        <th>Code</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{couponGiftAd.pageName}}</td>
                                        <td>{{couponGiftAd.category}}</td>
                                        <td>{{couponGiftAd.giftDescription}}</td>
                                        <td>{{couponGiftAd.couponExpiryDate | date:'MM/dd/yyyy'}}</td>
                                        <td>{{couponGiftAd.couponCode}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>           
                </div>
           </div>
       </div>
   </div>
</div>

<!-- contect owner -->


<div id="contectOwner" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Winner price</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                        <div class="table-responsive cus-table">
                            <table id="manageUserTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Winner Name</th>
                                        <th>Balance</th>
                                        <th>Send Msg</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in totalBrolixGifts |filter:test">
                                        <td class="skyblue-text">{{x.firstName}} {{x.lastName}}</td>
                                        <td class="skyblue-text">{{x.brolix}}</td>
                                        <td class="skyblue-text"><button>Send Message</button>></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>           
                </div>
           </div>
       </div>
   </div>
</div>

<div id="cashGift" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Cash Gift</h4>
           </div><div style="height:400px;">
           <div class="col-sm-12">
                                <div class="gift-images">
                                    <img src="{{userDetail.coverImage}}" style="height:300px;" class="img-responsive">
                                    <div class="gift-images-data">
                                        <div class="top-row-c1">
                                            <div class="top-row-c1-left">
                                                <h4>{{userDetail.pageName}}</h4>
                                                <h4>Type: {{userDetail.adsType}}</h4>
                                               
                                            </div>
                                            <div class="top-row-c1-right">
                                                <div class="c1-used">Cash Status: {{userDetail.cashStatus}}<span class="c1-dot"><i class="fa fa-circle" aria-hidden="true"></i></span></div>
                                                
                                            </div>
                                            <div class="middle-row-c1">
                                                <h3>Gift Description</h3>
                                                <p>{{userDetail.giftDescription}}</p>
                                            </div>
                                            <div class="middle-row-c1">
                                                <h3>Price</h3>
                                                <p>{{userDetail.cashAdPrize}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>
            </div>
      </div>
</div>

<div id="sendMessageModelAllUser" class="modal fade">
  <div class="modal-dialog cls_pop">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Send message to All User</h4>
          </div>
          <div class="modal-body">
              <form name="sendMessage">
                  <div class="form-group">
                  <textarea type="text" id="messageInput" class="form-control" ng-model="sendMessage.massage" placeholder="Enter Your message" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-danger" ng-disabled="sendMessage.$invalid" ng-click="send_massage()">Send message</button>
              </form>
          </div>
      </div>
    </div>
</div>