<div class="tab-pane>
    <div class="height-sm" data-scrollbar="true">
        <div class="row ">
            <div class="col-md-9 col-sm-6 dwd-border-l">
                <h4 class="text-center w-19">Upgrade Cards</h4>
                <div class="clearfix">
                    <div class="box-block blnk-bg">
                        <div class="widget widget-stats divi-blk offerbtn-s">
                            <div class="top-box">
                                <div class="green-box">{{totalOfferUpgradeCardCount}} Offers</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage show-btn w-100" ng-click="tab='upgradeCardOffer'">
                                    <a>Show</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-drakgreen">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Sold Cards</div>
                                <div class="total-amt">{{totalSoldUpgradeCard.length}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='SoldUpgradeCard'">
                                    <a>Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a ng-click="total_user_message('SoldUpgradeCard')">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-red">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Income $</div>
                                <div class="total-amt">{{totalIncomeFromUpgradeCard}}$</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='totalincomeUpgrade'">
                                    <a>Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a ng-click="total_user_message('totalincomeUpgrade')">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block  blk-browen">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Used Cards</div>
                                <div class="total-amt">{{usedUpgradeCardcount}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='usedUpgradeCard'">
                                    <a>Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a ng-click="total_user_message('usedUpgradeCard')">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-drkblue">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Unused Cards</div>
                                <div class="total-amt">{{unUsedUpgradeCardcount}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='unUsedUpgradeCard'">
                                    <a>Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a ng-click="total_user_message('unUsedUpgradeCard')">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="text-center w-19">Luck Cards</h4>
                <div class="clearfix">
                    <div class="box-block blnk-bg">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="green-box">{{totalOfferLuckCardCount}} Offers</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage show-btn w-100" ng-click="tab='luckCardOffer'">
                                    <a>Show</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block  blk-drkvolit">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Sold Cards</div>
                                <div class="total-amt">{{totalSoldLuckCardcount}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='SoldULuckCard'">
                                    <a>Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a ng-click="total_user_message('SoldULuckCard')">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-drkpink">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Income B</div>
                                <div class="total-amt">{{totalIncomeLuck}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='totalincomeLuck'">
                                    <a>Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a ng-click="total_user_message('totalincomeLuck')">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block  blk-drkyello">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Used Cards</div>
                                <div class="total-amt">{{usedLuckCardcount}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='usedLuckCard'">
                                    <a>Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a ng-click="total_user_message('usedLuckCard')">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block  blk-drkgren">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Unused Cards</div>
                                <div class="total-amt">{{unUsedLuckCardcount}}</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage" ng-click="tab='unUsedLuckCard'">
                                    <a>Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a ng-click="total_user_message('unUsedLuckCard')">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 dwd-border">
                <div class="widget widget-stats divi-blk">
                    <div class="Dashboard-filter-text">DASHBOARD FILTER</div>
                     <div class="form-group cus-select">
                        <select class="form-control" id="country" ng-model="myFrom.country" required>
                            <option value="">Select Country</option>
                            <option value="{{country.code}}" ng-repeat="country in countryList">{{country.name}}</option>
                        </select>
                        
                    </div>
                    <div class="form-group cus-select">
                       
                        <select class="form-control" id="region" ng-model="myFrom.state" required>
                          <option value="">Select State</option>
                          <option value="{{state.region}}" ng-repeat="state in stateList">{{state.region}}</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                       
                         <select  class="form-control" id="city" ng-model="myFrom.city" required>
                            <option value="">Select City</option>
                         </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option value="">Upgrade Card Type</option>
                            <option>50 Viewers</option>
                            <option>100 Viewers</option>
                            <option>150 Viewers</option>
                            <option>200 Viewers</option>
                            <option>250 Viewers</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option value="">Luck Card Type</option>
                            <option>5 Chances</option>
                            <option>10 Chances</option>
                            <option>15 Chances</option>
                            <option>20 Chances</option>
                            <option>25 Chances</option>
                            <option>30 Chances</option>
                            <option>35 Chances</option>
                            <option>40 Chances</option>
                            <option>45 Chances</option>
                            <option>50 Chances</option>
                        </select>
                    </div>
                    <!-- <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date From</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date To</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div> -->
                    <div class="form-group cus-select">
                        <div class="col-md-9">
                            <input type="date" class="form-control" name="dob" ng-model="dashBordFilter.dobTo" placeholder="Date of Birth">  
                        </div>
                    </div>

                    <div class="form-group cus-select">
                        <div class="col-md-9">
                            <input type="date" class="form-control" name="dob" ng-change="dashBordFilter(dashBordFilter.dobFrom);" ng-model="dashBordFilter.dobFrom" placeholder="Date of Birth"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="grp-search">
        <div class="row-search">
        </div>
        <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="test.firstName" placeholder="Search By Buyer Name">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div> -->


    <div class="grp-search">
        <div class="row-search">
            <ul>
                <li class="last">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="export()"">Create Report</a>
                </li>
            </ul>
        </div>
        <div class="row-search">
        </div>
        <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="test.firstName" placeholder="Search By Buyer Name">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

 <!-- Upgrade Cards Table -->

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="SoldUpgradeCard">
            <table id="manageCardTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Cards Type</th>
                        <th>Price</th>
                        <th>Buyer Name</th>
                        <th>Buyer PayPal</th>
                        <th>Used Ad</th>
                        <th>Pages</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalSoldUpgradeCard |filter:test">
                        <td>
                            <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td >{{x.upgradeCardObject.viewers}} Viewers</td>
                        <td >{{x.upgradeCardObject.cash}}$</td>
                        <td class="skyblue-text" style="cursor: pointer;" ng-click="buyerDetails(x.id)">{{x.firstName}} {{x.lastName}}</td>
                        <td >{{x.email}}</td>
                        <td class="skyblue-text" style="cursor: pointer;" ng-click="">View</td>
                        <td class="skyblue-text" style="cursor: pointer;" ng-click="">{{x.pageCount}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="totalincomeUpgrade">
            <table id="manageCardTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Total Cash</th>
                        <th>Total Brolix</th>
                        <th>City</th>
                        <th>Countory</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalIncomeInCashFromUpgradeCard |filter:test">
                        <td>
                            <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td >{{x.firstName}} {{x.lastName}}</td>
                        <td>{{x.cash}}$</td>
                        <td >{{x.brolix}}</td>
                        <td >{{x.city}}</td>
                        <td >{{x.country}}</td>
                        <td >{{x.gender}}</td>
                        <td >{{x.email}}</td>
                        <td >{{x.mobileNumber}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="usedUpgradeCard">
            <table id="manageCardTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Total Cash</th>
                        <th>Total Brolix</th>
                        <th>City</th>
                        <th>Countory</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in usedUpgradeCard |filter:test">
                        <td>
                            <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td >{{x.firstName}} {{x.lastName}}</td>
                        <td>{{x.cash}}$</td>
                        <td >{{x.brolix}}</td>
                        <td >{{x.city}}</td>
                        <td >{{x.country}}</td>
                        <td >{{x.gender}}</td>
                        <td >{{x.email}}</td>
                        <td >{{x.mobileNumber}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="unUsedUpgradeCard">
            <table id="manageCardTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Total Cash</th>
                        <th>Total Brolix</th>
                        <th>City</th>
                        <th>Countory</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in unUsedUpgradeCard |filter:test">
                        <td>
                            <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td >{{x.firstName}} {{x.lastName}}</td>
                        <td>{{x.cash}}$</td>
                        <td >{{x.brolix}}</td>
                        <td >{{x.city}}</td>
                        <td >{{x.country}}</td>
                        <td >{{x.gender}}</td>
                        <td >{{x.email}}</td>
                        <td >{{x.mobileNumber}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <!--  -->

    <!-- Luck Cards -->

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="SoldULuckCard">
            <table id="manageCardTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Chances</th>
                        <th>Brolix</th>
                        <th>Buyer Name</th>
                        <th>Mobile Number</th>
                        <th>Used Ad</th>
                        <th>Pages</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalSoldLuckCard |filter:test">
                        <td>
                            <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td >{{x.luckCardObject.chances}}</td>
                        <td>{{x.luckCardObject.brolix}}</td>
                        <td class="skyblue-text" style="cursor: pointer;">{{x.firstName}} {{x.lastName}}</td>
                        <td >{{x.mobileNumber}}</td>
                        <td class="skyblue-text" style="cursor: pointer;">View</td>
                        <td class="skyblue-text" style="cursor: pointer;">{{x.pageCount}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="totalincomeLuck">
            <table id="manageCardTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Total Cash</th>
                        <th>Total Brolix</th>
                        <th>City</th>
                        <th>Countory</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalIncomeInCashFromUpgradeCard |filter:test">
                        <td>
                            <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td >{{x.firstName}} {{x.lastName}}</td>
                        <td>{{x.cash}}$</td>
                        <td >{{x.brolix}}</td>
                        <td >{{x.city}}</td>
                        <td >{{x.country}}</td>
                        <td >{{x.gender}}</td>
                        <td >{{x.email}}</td>
                        <td >{{x.mobileNumber}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="usedLuckCard">
            <table id="manageCardTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Total Cash</th>
                        <th>Total Brolix</th>
                        <th>City</th>
                        <th>Countory</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in usedLuckCard |filter:test">
                        <td>
                            <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td >{{x.firstName}} {{x.lastName}}</td>
                        <td>{{x.cash}}$</td>
                        <td >{{x.brolix}}</td>
                        <td >{{x.city}}</td>
                        <td >{{x.country}}</td>
                        <td >{{x.gender}}</td>
                        <td >{{x.email}}</td>
                        <td >{{x.mobileNumber}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="unUsedLuckCard">
            <table id="manageCardTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Total Cash</th>
                        <th>Total Brolix</th>
                        <th>City</th>
                        <th>Countory</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in unUsedLuckCard |filter:test">
                        <td>
                            <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td >{{x.firstName}} {{x.lastName}}</td>
                        <td>{{x.cash}}$</td>
                        <td >{{x.brolix}}</td>
                        <td >{{x.city}}</td>
                        <td >{{x.country}}</td>
                        <td >{{x.gender}}</td>
                        <td >{{x.email}}</td>
                        <td >{{x.mobileNumber}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="upgradeCardOffer">
            <table id="manageCardTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Offer Type</th>
                        <th>Offer In %</th>
                        <th>Offer Created Time</th>
                        <th>Offer Expire Time</th>   
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in resultUpgradeCardDiscount |filter:test">
                        <td>
                            <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.offer.offerType}}</td>
                        <td>{{x.offer.buyCard}} %</td>
                        <td class="skyblue-text">{{x.offer.createdAt | date:'dd-M-yyyy H:mm'}}</td>
                        <td class="skyblue-text">{{x.offer.offerTime | date:'dd-M-yyyy H:mm'}}</td>    
                        <td class="skyblue-text">{{x.offer.status}}</td>
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="upgradeCardOffer">
            <table id="manageCardTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Offer Type</th>
                        <th>BuyCard</th>
                        <th>FreeCard</th>
                        <th>Offer Created Time</th>
                        <th>Offer Expire Time</th>   
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in resultUpgradeCardBuyGet |filter:test">
                        <td>
                            <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.offer.offerType}}</td>
                        <td>{{x.offer.buyCard}}</td>
                        <td>{{x.offer.freeCard}}</td>
                        <td class="skyblue-text">{{x.offer.createdAt | date:'dd-M-yyyy H:mm'}}</td>
                        <td class="skyblue-text">{{x.offer.offerTime | date:'dd-M-yyyy H:mm'}}</td>    
                        <td class="skyblue-text">{{x.offer.status}}</td>
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>



     <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="luckCardOffer">
            <table id="manageCardTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Offer Type</th>
                        <th>Offer In %</th>
                        <th>Offer Created Time</th>
                        <th>Offer Expire Time</th>   
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in resultLuckCardDiscount |filter:test">
                        <td>
                            <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.offer.offerType}}</td>
                        <td>{{x.offer.buyCard}} %</td>
                        <td class="skyblue-text">{{x.offer.createdAt | date:'dd-M-yyyy H:mm'}}</td>
                        <td class="skyblue-text">{{x.offer.offerTime | date:'dd-M-yyyy H:mm'}}</td>    
                        <td class="skyblue-text">{{x.offer.status}}</td>
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="luckCardOffer">
            <table id="manageCardTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Offer Type</th>
                        <th>BuyCard</th>
                        <th>FreeCard</th>
                        <th>Offer Created Time</th>
                        <th>Offer Expire Time</th>   
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in resultLuckCardBuyGet |filter:test">
                        <td>
                            <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.offer.offerType}}</td>
                        <td>{{x.offer.buyCard}}</td>
                        <td>{{x.offer.freeCard}}</td>
                        <td class="skyblue-text">{{x.offer.createdAt | date:'dd-M-yyyy H:mm'}}</td>
                        <td class="skyblue-text">{{x.offer.offerTime | date:'dd-M-yyyy H:mm'}}</td>    
                        <td class="skyblue-text">{{x.offer.status}}</td>
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- upgradeOffer Table -->

<div class="col-sm-12" ng-switch="tab">
    <div class="row table-responsive cus-table" ng-switch-when="upgradeOffer">
        <table id="manageCardTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Cards Type</th>
                    <th>Price</th>
                    <th>Buyer Name</th>
                    <th>Buyer PayPal</th>
                    <th>Used Ad</th>
                    <th>Pages</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in totalUpgradeOffer |filter:test">
                    <td>
                        <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                    </td>
                    <td class="skyblue-text">{{x.upgradeCardObject.viewers}} Viewers</td>
                    <td>{{x.upgradeCardObject.cash}}$</td>
                    <td class="skyblue-text">{{x.firstName}} {{x.lastName}}</td>
                    <td class="skyblue-text">Yazan@ctc-jo.com </td>
                    <td class="skyblue-text">View</td>
                    <td class="skyblue-text">3</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>



<div id="sendMessageModelAllUser" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Send message Buyer</h4>
           </div>
           <div class="modal-body">
               <form name="sendMessage">
                   <div class="form-group">
                   <textarea type="text" id="messageInput" class="form-control" ng-model="sendMessage.massage" placeholder="Enter Your massage" /></textarea>
                       <!-- <input type="textarea" class="form-control" ng-model="category" placeholder="Enter Your massage"> -->
                   </div>
                   <button type="submit" class="btn btn-danger" ng-click="send_massage()">Send massage</button>
               </form>
           </div>
       </div>
   </div>
</div>

