<div class="tab-pane">
    <div class="height-sm" data-scrollbar="true">
        <div class="row ">
            <div class="col-md-9 col-sm-6 dwd-border-l">
                <div class="box-block blk-blue">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Ads</div>
                            <div class="total-amt">{{totalAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='totalads'">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drakgreen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Active Ads</div>
                            <div class="total-amt">{{totalActiveAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='activeads'">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-red">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Expired Ads</div>
                            <div class="total-amt">{{totalExpiredAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='expiredAds'">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-browen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Reported Ads</div>
                            <div class="total-amt">{{showReportedAdcount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='showReportedAd'">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkblue">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Ads With Links</div>
                            <div class="total-amt">{{adsWithLinkscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='adsWithLinks'">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-volit">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Video Ads</div>
                            <div class="total-amt">{{videoAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='videoAds'">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-drkvolit">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Slide Show Ads</div>
                            <div class="total-amt">{{slideshowAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='slideShowAds'">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkpink">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Upgraded Ads By $</div>
                            <div class="total-amt">{{adUpgradedByDollorcount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='adUpgradedByDollor'">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkyello">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Upgraded Ads By B</div>
                            <div class="total-amt">{{adUpgradedByBrolixcount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='adUpgradedByBrolix'">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="box-block blnk-bg">
                        <div class="widget widget-stats divi-blk offerbtn-s">
                            <div class="top-box">
                                <div class="green-box">Top {{topFiftyAdscount}} Cash Providers</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage show-btn w-100" ng-click="tab='topFiftyAds'">
                                    <a>Show</a>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
                
                <!--<div class="box-block  blk-drkgren">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Top</div>
                            <div class="total-amt">{{topFiftyAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage"  ng-click="tab='topFiftyAds'">
                                <a>Show</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
           <div class="col-md-3 col-sm-6 dwd-border">
                <div class="widget widget-stats divi-blk">
                    <div class="Dashboard-filter-text">DASHBOARD FILTER</div>
                    <div class="form-group cus-select">
                         <select class="form-control" ng-change="changeCountry(); dashBordFilter(dashBordFilter.country);" ng-model="dashBordFilter.country" required>
                            <option value="">Select Country</option>
                            <option ng-repeat="country in countriesList" value"{{country.code}}">{{country.name}}</option>
                         </select>
                    </div>
                    <div class="form-group cus-select">
                         <select class="form-control"  ng-change="changeState(); dashBordFilter(dashBordFilter.state);"  ng-model="dashBordFilter.state" required>
                            <option value="">Select State</option>
                            <option ng-repeat="state in stateList">{{state.region}}</option>
                         </select> 
                    </div>
                    <div class="form-group cus-select">
                         <select  class="form-control" id="city" ng-change="dashBordFilter(dashBordFilter.country);" ng-model="dashBordFilter.city" required>
                            <option value="">Select City</option>
                            <option ng-repeat="city in cityList">{{city.city}}</option>
                         </select> 
                    </div>
                   <div class="form-group cus-select">
                        <div class="col-md-9">
                            <input type="date" class="form-control" name="dob" ng-model="dashBordFilter.dobTo" placeholder="Date of Birth">  
                        </div>
                    </div>

                    <div class="form-group cus-select">
                        <div class="col-md-9">
                            <input type="date" class="form-control" name="dob" ng-change="dashBordFilter(dashBordFilter.dobFrom);" ng-model="dashBordFilter.dobFrom" placeholder="Date of Birth"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="sendMessageModelAllUser" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Send message to Admin</h4>
           </div>
           <div class="modal-body">
               <form name="sendMessage">
                   <div class="form-group">
                   <textarea type="text" id="messageInput" class="form-control" ng-model="sendMessage.massage" placeholder="Enter Your message" /></textarea>
                       <!-- <input type="textarea" class="form-control" ng-model="category" placeholder="Enter Your massage"> -->
                   </div>
                   <button type="submit" class="btn btn-danger" ng-click="send_massage()">Send message</button>
               </form>
           </div>
       </div>
   </div>
</div>

    <div class="grp-search">
        <div class="row-search">
            <ul>
                <li class="active">
                    <a data-toggle="tab" style="cursor: pointer;" ng-href="#header/viewUserProfile/{{myForm.checkId}}">View Ad</a>
                </li>
                <li class="">
                    <a data-toggle="tab"   style="cursor: pointer;" ng-href="#header/editAds">Edit Ad</a>
                </li>
                 <li class="">
                    <a data-toggle="tab">Remove Ad</a>
                </li>
                <li class="">
                    <a data-toggle="tab">Set on home page</a>
                </li>
                <li class="">
                    <a data-toggle="tab">Contact Owner</a>
                </li>
                <li class="last">
                    <a data-toggle="tab"  style="cursor: pointer;" ng-click="export()">Create Report</a>
                </li>
            </ul>
        </div>
        <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="test" placeholder="Search By Page Name or Ad number">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="totalads">
            <table id="manageAdsTable" class="table table-bordered table-striped" >
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>OWNER MOBILE</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalAds | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.pageName}}</td>
                        <td>{{x.userId.mobileNumber}}</td>
                        <td class="skyblue-text">{{x.reportOnAd}}</td>
                        <td class="skyblue-text">{{3}}</td>
                        <td class="skyblue-text">VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="activeads">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>OWNER MOBILE</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalActiveAds| manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.pageName}}</td>
                        <td>{{x.userId.mobileNumber}}</td>
                        <td class="skyblue-text">{{x.reportOnAd}}</td>
                        <td class="skyblue-text">{{3}}</td>
                        <td class="skyblue-text">VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="expiredAds">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>OWNER MOBILE</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalExpiredAds | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.pageName}}</td>
                        <td>{{x.userId.mobileNumber}}</td>
                        <td class="skyblue-text">{{x.reportOnAd}}</td>
                        <td class="skyblue-text">{{3}}</td>
                        <td class="skyblue-text">VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="videoAds">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>OWNER MOBILE</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in videoAds | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.pageName}}</td>
                        <td>{{x.userId.mobileNumber}}</td>
                        <td class="skyblue-text">{{x.reportOnAd}}</td>
                        <td class="skyblue-text">{{3}}</td>
                        <td class="skyblue-text">VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="slideShowAds">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>OWNER MOBILE</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in slideshowAds | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.pageName}}</td>
                        <td>{{x.userId.mobileNumber}}</td>
                        <td class="skyblue-text">{{x.reportOnAd}}</td>
                        <td class="skyblue-text">{{3}}</td>
                        <td class="skyblue-text">VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="adUpgradedByBrolix">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>OWNER MOBILE</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in adUpgradedByBrolix | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.pageName}}</td>
                        <td>{{x.userId.mobileNumber}}</td>
                        <td class="skyblue-text">{{x.reportOnAd}}</td>
                        <td class="skyblue-text">{{3}}</td>
                        <td class="skyblue-text">VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="adUpgradedByDollor">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>OWNER MOBILE</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in adUpgradedByDollor | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.pageName}}</td>
                        <td>{{x.userId.mobileNumber}}</td>
                        <td class="skyblue-text">{{x.reportOnAd}}</td>
                        <td class="skyblue-text">{{3}}</td>
                        <td class="skyblue-text">VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
     <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="showReportedAd">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>OWNER MOBILE</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in showReportedAd |manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.pageName}}</td>
                        <td>{{x.userId.mobileNumber}}</td>
                        <td class="skyblue-text">{{x.reportOnAd}}</td>
                        <td class="skyblue-text">{{3}}</td>
                        <td class="skyblue-text">VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

     <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="adsWithLinks">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>OWNER MOBILE</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in adsWithLinks | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.pageName}}</td>
                        <td>{{x.userId.mobileNumber}}</td>
                        <td class="skyblue-text">{{x.reportOnAd}}</td>
                        <td class="skyblue-text">{{3}}</td>
                        <td class="skyblue-text">VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

 <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="topFiftyAds">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>OWNER MOBILE</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in topFiftyAds | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text">{{x.pageName}}</td>
                        <td>{{x.userId.mobileNumber}}</td>
                        <td class="skyblue-text">{{x.reportOnAd}}</td>
                        <td class="skyblue-text">{{3}}</td>
                        <td class="skyblue-text">VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>