<div class="tab-pane manage-payment" id="Manage-Paymant">
            <div class="height-sm" data-scrollbar="true">
                <div class="row ">
                <div class="col-md-10 col-sm-12">
                    <div class="grp-search m-t-0 bdr-0">
                        <div class="row">
                            <div class="col-md-9 col-sm-12">
                                <div class="row-search">
                                    <ul class="brdr">
                                        <li class="active">
                                            <a style="color: {{clr}};font-size: 20px; cursor: pointer" data-toggle="tab" ng-click="payment('dollars')">Dollars Payments</a>
                                        </li>
                                        <li class="last">
                                            <a style="color: {{clr1}};font-size: 20px; cursor: pointer" data-toggle="tab" ng-click="payment('brolix')">Brolix Payments</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="search-bar-cus">
                                  <form class="form-inline">
                                      <div class="form-group">
                                        <div class="input-group">
                                          <input type="text" class="form-control" placeholder="Search By Buyer Name" ng-model="search">
                                          <div class="input-group-addon">Search</div>
                                        </div>
                                      </div>
                                    </form>
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-12 cls"><div class="Dashboard-filter-text">DASHBOARD FILTER</div></div>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-12" style=" width: 100%;">
                        <div class="row boder-bottom" style=" width: 106%;" >
                            <div class="col-md-2 col-sm-6">
                                <div class="box-block wd100" style="background-color: #00b288" ng-if="flag == 0">
                                    <!-- <div class="widget widget-stats divi-blk" >  -->
                                         <div class="top-box">
                                             <div class="total-add">Sold Upgrade Cards</div>
                                             <div class="total-amt">{{showAllSoldUpgradeCardCount}}</div>
                                         </div>
                                         <div class="bottom-box">
                                            <div class="btn-manage" >
                                                 <a ng-click="newdashBordFilter('dollars')" style="cursor: pointer">Show</a>
                                            </div>
                                            <div class="btn-manage">
                                                 <a ng-click="total_user_message('dollars')" style="cursor: pointer">Contact Buyers</a>
                                            </div>
                                             <div class="btn-manage">
                                                <div class="dropdown">
                                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                      Options
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                      <li><a ng-click="export()" style="cursor: pointer">Create Report</a></li>
                                                      <li><a ng-click="paymentPaypal('CARDTYPE')">PayPal Account</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        <!-- </div> -->
                                        
                                    </div>
                                 </div> 
                                 <div class="box-block wd100" style="background-color: #00b288" ng-if="flag == 1">
                                        <div class="top-box">
                                             <div class="total-add">Sold Luck Cards</div>
                                             <div class="total-amt">{{showAllSoldLuckCardCount}}</div>
                                         </div>
                                         <div class="bottom-box">
                                            <div class="btn-manage" >
                                                 <a ng-click="newdashBordFilter('brolix')" style="cursor: pointer">Show</a>
                                            </div>
                                            <div class="btn-manage">
                                                 <a ng-click="total_user_message('brolix')" style="cursor: pointer">Contact Buyers</a>
                                            </div>
                                             <div class="btn-manage">
                                                <div class="dropdown">
                                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                      Options
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                      <li><a ng-click="export()" style="cursor: pointer">Create Report</a></li>
                                                      <!-- <li><a>PayPal Account</a></li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                  </div>
                              </div>

                              <div class="col-md-10">
                               <div class="row">
                                    <div class="col-md-2 col-sm-6 col-p fltr" >
                                        <div class="form-group cus-select" > 
                                           <select class="form-control" ng-change="changeCountry('1')" ng-model="dashBordFilter.country" required>
                                            <option value="">Select Country</option>
                                            <option ng-repeat="country in countriesList" >{{country.name}}</option>
                                         </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-p fltr" >
                                        <div class="form-group cus-select" > 
                                            <select class="form-control" ng-change="changeState('1')" ng-model="dashBordFilter.state" required>
                                            <option value="">Select State</option>
                                            <option ng-repeat="state in state1List">{{state.region}}</option>
                                         </select> 
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-p fltr" >
                                        <div class="form-group cus-select"> 
                                            <select  class="form-control" id="city" ng-model="dashBordFilter.city" required>
                                            <option value="">Select City</option>
                                            <option ng-repeat="city in city1List">{{city.city}}</option>
                                         </select> 
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-p fltr" >
                                        <div class="form-group cus-select"> 
                                            <select class="form-control" ng-if="flag == 0" ng-model="dashBordFilter.dollarCardType">
                                              <option value="">Card Type</option>
                                              <option value="50">50</option>
                                              <option value="100">100</option>
                                              <option value="150">150</option>
                                              <option value="200">200</option>
                                              <option value="250">250</option>
                                            </select>
                                            <select class="form-control" ng-model="dashBordFilter.brolixCardType" ng-if="flag == 1">
                                              <option value="">Card Type</option>
                                              <option>5</option>
                                              <option>10</option>
                                              <option>15</option>
                                              <option>20</option>
                                              <option>25</option>
                                              <option>30</option>
                                              <option>35</option>
                                              <option>40</option>
                                              <option>45</option>
                                              <option>50</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-6 col-p fltr" >
                                        <div class="form-group cus-select"> 
                                            <datepicker  date-format="yyyy-MM-dd" selector="form-control" date-max-limit="{{minDate}}" date-set="{{minDate}}">
                                               <div class="input-group">
                                                   <input style="height: 40px; background-color: #EAEAEA; cursor: pointer" class="form-control" class="form-control"  placeholder="From" ng-model="dashBordFilter.dobFrom" />
                                                   <!-- <span class="input-group-addon" style="cursor: pointer">
                                                   <i class="fa fa-lg fa-calendar" ng-model="dashBordFilter.dobFrom"></i>
                                                   </span> -->
                                               </div>
                                              </datepicker>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-2 col-sm-6 col-p fltr" >
                                        <div class="form-group cus-select"> 
                                            <datepicker  date-format="yyyy-MM-dd" selector="form-control" date-max-limit="{{minDate}}" date-set="{{minDate}}">
                                               <div class="input-group">
                                                   <input style="height: 40px; background-color: #EAEAEA; cursor: pointer" class="form-control" class="form-control"  placeholder="To" ng-model="dashBordFilter.dobTo" />
                                                   <!-- <span class="input-group-addon" style="cursor: pointer">
                                                   <i class="fa fa-lg fa-calendar"></i>
                                                   </span> -->
                                               </div>
                                              </datepicker>
                                        </div>
                                    </div>
                                  </div>
                                <!-- </div> -->
                                <div class="row">
                                    <div class="col-sm-12">
                                      <div class="row">
                                    <div class="table-responsive cus-table">                          
                                        <table id="managePayment" class="table table-bordered table-striped" ng-if="flag == 0">
                                            <thead>
                                              <tr>
                                                <th>Card Type</th>
                                                <th>Price</th>
                                                <th>Buyer Name</th>
                                                <th>Buyer PayPal</th>
                                                <th>Used Ad</th>
                                                <th>Pages</th>
                                                <th>Payment History</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr ng-repeat="dollars in dollars  |manageFilter:search " >
                                                <td>{{dollars.upgradeCardObject.viewers}} Viewers</td>
                                                <td>{{dollars.upgradeCardObject.cash}}$</td>
                                                <td class="skyblue-text" style="cursor:pointer;" ng-click="userInfo(dollars._id)">{{dollars.firstName+" "+dollars.lastName}}</td>
                                                <td>{{dollars.email}}</td>
                                                <td class="skyblue-text" ng-click="upgradeCardUsedAd(dollars.upgradeCardObject._id)" style="cursor: pointer">View</td>
                                                <td class="skyblue-text" ng-click="pageCount(dollars._id)" style="cursor: pointer">{{dollars.pageCount}}</td>
                                                <td class="skyblue-text" ng-click="upgradePayment(dollars._id)" style="cursor: pointer">View</td>
                                              </tr>
                                              <tr ng-if="(dollars |manageFilter:search).length == 0"><td colspan="7" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td></tr>
                                            </tbody>
                                          </table>
                                          <div style="float:right; font-size: 20px;" ng-if="(dollars | manageFilter:search).length != 0 && flag == 0">
                                            <button ng-click="preSoldUpgradeCard()" ng-disabled="pageSoldUpgradeCard==1" class="btn paginationBtn" >Prev</button> 
                                            {{pageSoldUpgradeCard}}/{{noOfPagesSoldUpgradeCard}}
                                            <button ng-click="nextSoldUpgradeCard()" ng-disabled="pageSoldUpgradeCard==noOfPagesSoldUpgradeCard" class="btn paginationBtn">Next</button>
                                        </div>
                                          <table id="managePayment" class="table table-bordered table-striped" ng-if="flag == 1">
                                            <thead>
                                              <tr>
                                                <th>Card Type</th>
                                                <th>Price</th>
                                                <th>Buyer Name</th>
                                                <th>Buyer Mobile</th>
                                                <th>Status</th>
                                                <th>Used Ad</th>
                                                <th>Payment History</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr ng-repeat="brolix in brolix |manageFilter:search ">
                                                <td>{{brolix.luckCardObject.chances}} Chances</td>
                                                <td>{{brolix.luckCardObject.brolix}}B</td>
                                                <td class="skyblue-text" ng-click="userInfo(brolix._id)" style="cursor: pointer">{{brolix.firstName+" "+brolix.lastName}}</td>
                                                <td>{{brolix.mobileNumber}}</td>
                                                <td >{{brolix.luckCardObject.status}}</td>
                                                <td class="skyblue-text" ng-click="luckCardUsedAd(brolix.luckCardObject._id)" style="cursor: pointer">
                                                <span>View</span></td>
                                                <td class="skyblue-text" ng-click="luckPayment(brolix._id)" style="cursor: pointer">View</td>
                                              </tr>
                                              <tr ng-if="(brolix |manageFilter:search).length == 0"><td colspan="7" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td></tr>
                                            </tbody>
                                          </table>
                                          <div style="float:right; font-size: 20px;" ng-if="(brolix | manageFilter:search).length != 0 && flag == 1">
                                            <button ng-click="preSoldLuckCard()" ng-disabled="pageSoldLuckCard==1" class="btn paginationBtn" >Prev</button> 
                                            {{pageSoldLuckCard}}/{{noOfPagesSoldLuckCard}}
                                            <button ng-click="nextSoldLuckCard()" ng-disabled="pageSoldLuckCard==noOfPagesSoldLuckCard" class="btn paginationBtn">Next</button>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>                                                                              
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="box-block blnk-bg wd100 ipad-50">
                            <div class="widget widget-stats divi-blk offerbtn-s"> 
                                <div class="top-box">
                                     <div class="green-box">Top 50 Buyers</div>
                                </div>
                                <div class="bottom-box">
                                    <div class="btn-manage show-btn w-100">
                                         <a ng-click="top_50_dollarsBuyers()" style="cursor: pointer" ng-if="flag == 0">Show</a>
                                         <a ng-click="top_50_brolixBuyers()" style="cursor: pointer" ng-if="flag == 1">Show</a>
                                    </div>
                                </div>
                            </div>
                         </div> 
                        <div class="box-block blnk-bg wd100 ipad-50">
                            <div class="widget widget-stats divi-blk offerbtn-s"> 
                                <div class="top-box">
                                    <div class="green-box" ng-if="flag == 0">{{totalDollarsPrice}}$ Total Price</div>
                                     <div class="green-box" ng-if="flag == 1">{{totalBrolixPrice}}B Total Price</div>
                                </div>
                            </div>
                         </div> 
                         <div class="box-block blnk-bg wd100 ipad-50" ng-if="flag == 1">
                            <div class="widget widget-stats divi-blk offerbtn-s"> 
                                <div class="top-box">
                                     <div class="green-box" style="height: 123px; width: 119px;">Top 50 Ads</div>
                                </div>
                                <div class="bottom-box">
                                    <div class="btn-manage show-btn w-100">
                                         <a ng-click="top_50_Ads()" style="cursor: pointer">Show</a>
                                    </div>
                                </div>
                            </div>
                         </div> 
                    </div>
                </div>
            </div>
      
        <div class="grp-search">
            <div class="row " >
              <div class="col-md-10 col-sm-12">
                  <div class="grp-search m-t-0 bdr-0">
                      <div class="row" style="margin: 7px;">
                          <div class="col-md-9 col-sm-12">
                              <div class="search-bar-cus">
                                  <form class="form-inline">
                                    <div class="form-group">
                                      <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search By Page, Owner, Winner" ng-model="searchdata">
                                        <div class="input-group-addon">Search</div>
                                      </div>
                                    </div>
                                  </form>
                              </div>

                          </div>
                          <div class="col-md-3 col-sm-12 cls"><div class="Dashboard-filter-text">DASHBOARD FILTER</div></div>
                      </div>
                  </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-2 col-sm-6">
                                <div class="box-block wd100" style="background-color: #00b288" ng-if="flag == 0">
                                         <div class="top-box">
                                             <div class="total-add">Cash Gifts</div>
                                             <div class="total-amt">{{count}}</div>
                                         </div>
                                         <div class="bottom-box">
                                            <div class="btn-manage" >
                                                 <a  ng-click="newdashBordFilter('dollarsCashGift')" style="cursor: pointer">Show</a>
                                            </div>
                                            <div class="btn-manage">
                                                 <a  ng-click="total_user_message('dollarsCashGift')" style="cursor: pointer">Contact Winners</a>
                                            </div>
                                             <div class="btn-manage">
                                                <div class="dropdown">
                                                  <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Options

                                                  </button>
                                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    <li><a ng-click="export()" style="cursor: pointer">Create Report</a></li>
                                                    <li><a ng-click="paymentPaypal('ADTYPE')">PayPal Account</a></li>
                                                  </ul>
                                                </div>
                                            </div>
                                        <!-- </div> -->

                                    </div>
                                 </div> 
                                 <div class="box-block wd100" style="background-color: #00b288" ng-if="flag == 1">
                                        <div class="top-box">
                                                   <div class="total-add">Sold Coupons</div>
                                                   <div class="total-amt">{{SoldCouponsCount}}</div>
                                               </div>
                                               <div class="bottom-box">
                                                  <div class="btn-manage" >
                                                       <a ng-click="newdashBordFilter('brolixCoupon')" style="cursor: pointer">Show</a>
                                                  </div>
                                                  <div class="btn-manage">
                                                       <a ng-click="total_user_message('brolixCoupon')" style="cursor: pointer">Contact Buyers</a>
                                                  </div>
                                                   <div class="btn-manage">
                                                      <div class="dropdown">
                                                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                            Options
                                                          </button>
                                                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                            <li><a ng-click="export()" style="cursor: pointer">Create Report</a></li>
                                                            <!-- <li><a>PayPal Account</a></li> -->
                                                          </ul>
                                                      </div>
                                                  </div>
                                              </div>
                                    </div>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-2 col-sm-6 col-p fltr">
                                        <div class="form-group cus-select"> 
                                            <select class="form-control" id="country" ng-model="myForm.country" ng-change="changeCountry('2')" required>
                                            <option value="">Select Country</option>
                                            <option  ng-repeat="country in brolixCountryList">{{country.name}}</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-p fltr">
                                        <div class="form-group cus-select"> 
                                            <div class="form-group cus-select"> 
                                            <select class="form-control" id="region" ng-model="myForm.state" ng-change="changeState('2')" required>
                                            <option value="">Select State</option>
                                            <option  ng-repeat="state in state2List" >{{state.region}}</option>
                                          </select>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-p fltr">
                                        <div class="form-group cus-select"> 
                                            <select  class="form-control" id="city" ng-model="myForm.city" required>
                                            <option value="">Select City</option>
                                            <option ng-repeat="city in city2List">{{city.city}}</option>
                                         </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-p fltr">
                                        <div class="form-group cus-select"> 
                                            <select class="form-control" ng-model="myForm.cashStatus" ng-if="flag == 0">
                                              <option value="">Cash Status</option>
                                              <option>Pending</option>
                                              <option>Done</option>
                                            </select>
                                            <select class="form-control" ng-model="myForm.couponStatus" ng-if="flag == 1">
                                              <option value="">Coupon Status</option>
                                              <option>Used</option>
                                              <option>Expired</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-p fltr">
                                        <div class="form-group cus-select"> 
                                            <datepicker  date-format="yyyy-MM-dd" selector="form-control" date-max-limit="{{minDate}}" date-set="{{minDate}}">
                                               <div class="input-group">
                                                   <input style="height: 40px; background-color: #EAEAEA; cursor: pointer" class="form-control" class="form-control"  placeholder="From" ng-model="myForm.dateFrom" />
                                                   <!-- <span class="input-group-addon" style="cursor: pointer">
                                                   <i class="fa fa-lg fa-calendar"></i>
                                                   </span> -->
                                               </div>
                                              </datepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-p fltr">
                                        <div class="form-group cus-select"> 
                                            <datepicker  date-format="yyyy-MM-dd" selector="form-control" date-max-limit="{{minDate}}" date-set="{{minDate}}">
                                               <div class="input-group">
                                                   <input style="height: 40px; background-color: #EAEAEA; cursor: pointer" class="form-control" class="form-control"  placeholder="To" ng-model="myForm.dateTo" />
                                                   <!-- <span class="input-group-addon" style="cursor: pointer">
                                                   <i class="fa fa-lg fa-calendar"></i>
                                                   </span> -->
                                               </div>
                                              </datepicker>
                                        </div>
                                    </div>
                                  </div>

                                <div class="row"> 
                                    <div class="col-sm-12">
                                    <div class="row table-responsive cus-table">                          
                                        <table id="managePayment" class="table table-bordered table-striped" ng-if="flag == 0">
                                            <thead>
                                              <tr>
                                                <th>Page Name</th>
                                                <th>Page Owner/Admin</th>
                                                <th>Owner/Admin PayPal</th>
                                                <th>Cash Gift</th>
                                                <th>Winner Name</th>
                                                <th>Winner Paypal</th>
                                                <th>Status</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="dollarsCash in dollarsCashGift |managePaymentFilter:searchdata" >
                                                <td class="skyblue-text" ng-click="pageInfo(dollarsCash.cashPrize.pageId._id)" style="cursor: pointer">{{dollarsCash.cashPrize.pageId.pageName}}</td>
                                                <td class="skyblue-text" ng-click="userInfo(dollarsCash.cashPrize.pageId.userId._id)" style="cursor: pointer">{{dollarsCash.cashPrize.pageId.userId.firstName+" "+dollarsCash.cashPrize.pageId.userId.lastName}}</td>
                                                <td >{{dollarsCash.cashPrize.pageId.userId.email}}</td>
                                                <td class="skyblue-text" ng-click="cashGift(dollarsCash.cashPrize.adId)" style="cursor: pointer">View</td>
                                                <td >{{dollarsCash.firstName+" "+dollarsCash.lastName}}</td>
                                                <td >{{dollarsCash.email}}</td>
                                                <td >{{dollarsCash.cashPrize.cashStatus}}</td>
                                              </tr>
                                              <tr ng-if="(dollarsCashGift |managePaymentFilter:searchdata).length == 0"><td colspan="7" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td></tr>
                                            </tbody>
                                          </table>
                                          <div style="float:right; font-size: 20px;" ng-if="(dollarsCashGift | managePaymentFilter:searchdata).length != 0 && flag == 0">
                                              <button ng-click="preCashGifts()" ng-disabled="pageCashGifts==1" class="btn paginationBtn" >Prev</button> 
                                              {{pageCashGifts}}/{{noOfPagesCashGifts}}
                                              <button ng-click="nextCashGifts()" ng-disabled="pageCashGifts==noOfPagesCashGifts" class="btn paginationBtn">Next</button>
                                         </div>
                                          <table id="managePayment" class="table table-bordered table-striped" ng-if="flag == 1">
                                            <thead>
                                              <tr>
                                                <th>Page Name</th>
                                                <th>Page Owner</th>
                                                <th>Page Admins</th>
                                                <th>Buyer Name</th>
                                                <th>Sold Coupon</th>
                                                <th>Coupon Price</th>
                                                <th>Ad</th>
                                                <th>Coupon Status</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="Coupon in brolixCoupon |managePaymentSoldCouponFilter:searchdata" >
                                                <td class="skyblue-text" ng-click="pageInfo(Coupon.coupon.pageId._id)">{{Coupon.coupon.pageId.pageName}}</td>
                                                <td class="skyblue-text" ng-click="userInfo(Coupon.coupon.pageId.userId._id)" style="cursor: pointer">{{Coupon.coupon.pageId.userId.firstName+" "+Coupon.coupon.pageId.userId.lastName}}</td>
                                                <td class="skyblue-text" ng-click="pageCount(Coupon._id)" style="cursor: pointer">{{Coupon.coupon.pageId.adAdminCount}}</td>
                                                <td class="skyblue-text" style="cursor: pointer" ng-click="userInfo(Coupon._id)">{{Coupon.firstName+" "+Coupon.lastName}}</td>
                                                <td class="skyblue-text" ng-click="adInfo(Coupon.coupon.adId._id)" style="cursor: pointer">View</td>
                                                <td >{{Coupon.coupon.adId.couponSellPrice}}B</td>
                                                <td class="skyblue-text" ng-click="adInfo(Coupon.coupon.adId._id)" style="cursor: pointer">View</td>
                                                <td >{{Coupon.coupon.adId.couponStatus}}</td>
                                              </tr>
                                              <tr ng-if="(brolixCoupon | managePaymentSoldCouponFilter:searchdata).length == 0"><td colspan="7" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td></tr>
                                            </tbody>
                                          </table>
                                          <div style="float:right; font-size: 20px;" ng-if="(brolixCoupon | managePaymentSoldCouponFilter:searchdata).length != 0 && flag == 1">
                                            <button ng-click="preSoldCoupons()" ng-disabled="pageSoldCoupons==1" class="btn paginationBtn" >Prev</button> 
                                            {{pageSoldCoupons}}/{{noOfPagesSoldCoupons}}
                                            <button ng-click="nextSoldCoupons()" ng-disabled="pageSoldCoupons==noOfPagesSoldCoupons" class="btn paginationBtn">Next</button>
                                        </div>
                                    </div>
                                  </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>


 <div id="top_50_buyers" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Top 50 Buyers</h4>
           </div>
           <div class="modal-body">
               <form name="userFrom1">
                   <div class="table-responsive cus-table">
                   <table class="table table-bordered table-striped">                         
                          <tr>
                              <th>Buyer Name</th>
                              <th>Email</th>
                              <th>Mobile Number</th>
                          </tr>
                          <tr ng-repeat="buyer in userDetail">
                            <td>{{buyer.firstName+" "+buyer.lastName}}</td>
                            <td >{{buyer.email}}</td>
                            <td>{{buyer.mobileNumber}}</td>
                          </tr>
                         
                  </table></div>

               </form>
           </div>
       </div>
   </div>
</div><div id="Pages" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">All Pages</h4>
           </div>
           <div class="modal-body">
               <form name="userFrom1">
                   <div class="table-responsive cus-table">
                   <table class="table table-bordered table-striped">                         
                          <tr>
                              <th>Page Name</th>
                          </tr>
                          <tr ng-repeat="page in page">
                            <td >{{page.pageName}}</td>
                          </tr>
                          <tr ng-if="page.length== 0"><td style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td></tr>
                         
                  </table></div>

               </form>
           </div>
       </div>
   </div>
</div>

<div id="sendMessageModelAllUser" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Send message to All User</h4>
           </div>
           <div class="modal-body">
               <form name="sendMessage">
                   <div class="form-group">
                   <textarea type="text" id="messageInput" class="form-control" ng-model="sendMessage.massage" placeholder="Enter Your Message" required></textarea>
                   </div>
                   <button type="submit" class="btn btn-danger" ng-disabled="sendMessage.$invalid" ng-click="send_massage()">Send Message</button>
               </form>
           </div>
       </div>
   </div>
</div>
<div id="userInfo" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Buyer/Owner Information</h4>
           </div>
           <div class="modal-body">
               <form name="userFrom1">
               <div class="table-responsive cus-table">
                   <table class="table table-bordered table-striped">                         
                          <tr>
                              <th>Buyer/Owner Name</th>
                              <td>{{userDetail.firstName+" "+userDetail.lastName}}</td>
                          </tr>
                          <tr>
                              <th>Email</th>
                              <td>{{userDetail.email}}</td>
                          </tr>
                          <tr>
                              <th>Mobile No.</th>
                              <td>{{userDetail.mobileNumber}}</td>
                          </tr>
                          <tr>
                              <th>Gender</th>
                              <td>{{userDetail.gender}}</td>
                          </tr>
                          <tr>
                              <th>Country</th>
                              <td>{{userDetail.country}}</td>
                          </tr>
                          <tr>
                              <th>State</th>
                              <td>{{userDetail.state}}</td>
                          </tr>
                          <tr>
                              <th>City</th>
                              <td>{{userDetail.city}}</td>
                          </tr>

                  </table></div>
               </form>
           </div>
       </div>
   </div>
</div>
<div id="luckCardUsedAd" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Used Ad Information</h4>
           </div>
           <div class="modal-body">
               <form name="userFrom1">
               <div class="table-responsive cus-table">
                   <!-- <table class="table table-bordered table-striped" >                          -->
                          <div class="gift-images" ng-repeat="usedAd in usedAd">
                                    <img src="{{usedAd.coverImage}} " style="height:300px;" class="img-responsive">
                                    <div class="gift-images-data">
                                        <div class="top-row-c1">
                                            <div class="top-row-c1-left">
                                                <h4>{{usedAd.pageName}}</h4>
                                                <div class="cus-date-c1"><label>Valid Till : </label><span>{{newDate | date:dd-MM-yyyy}}</span></div>
                                            </div>
                                            <div class="top-row-c1-right">
                                                <div class="c1-used">{{usedAd.couponStatus}}<span class="c1-dot"><i class="fa fa-circle" aria-hidden="true"></i></span></div>
                                            </div>
                                            <div class="middle-row-c1">
                                                <h3>Gift Description</h3>
                                                <p>{{usedAd.giftDescription}}</p>
                                            </div>
                                            <div class="middle-row-c1">
                                                <h3>Price</h3>
                                                <p>{{usedAd.couponSellPrice}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div></div>
               </form>
           </div>
       </div>
   </div>
</div>
<div id="upgradePayment" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Payment History</h4>
           </div>
           <div class="modal-body">
               <form name="userFrom1">
               <div class="table-responsive cus-table">
                   <table class="table table-bordered table-striped">                         
                          <tr>
                              <th>Used Ad</th>
                              <td ng-repeat="Ad in upgradeUsedAd">{{Ad.pageName}}</td>
                          </tr>
                          <tr>
                              <th>Card Type</th>
                              <td ng-repeat="obj in upgradeCardObject">{{obj.viewers}} viewers</td>
                          </tr>
                          <tr ng-if="upgradeUsedAd== 0 && upgradeCardObject== 0"><td colspan="2" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td></tr>
                  </table></div>
               </form>
           </div>
       </div>
   </div>
</div>
<div id="luckPayment" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Payment History</h4>
           </div>
           <div class="modal-body">
               <form name="userFrom1">
               <div class="table-responsive cus-table">
                   <table class="table table-bordered table-striped">                         
                          <tr>
                              <th>Used Ad</th>
                              <td ng-repeat="Ad in luckUsedAd">{{Ad.pageName}}</td>
                          </tr>
                          <tr>
                              <th>Card Type</th>
                              <td ng-repeat="obj in luckCardObject">{{obj.chances}} Chances</td>
                          </tr>
                          <tr ng-if="luckUsedAd== 0 && luckCardObject== 0"><td colspan="2" style="text-align: center;font-weight: bold;color:#FF5063"> No Records Found</td></tr>
                  </table></div>
               </form>
           </div>
       </div>
   </div>
</div>
<div id="pageInfo" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Page Information</h4>
           </div>
           <div class="modal-body">
               <form name="userFrom1">
               <div class="table-responsive cus-table">
                   <table class="table table-bordered table-striped">                         
                          <tr>
                              <th>Page Name</th>
                              <td ng-repeat="detail in pageDetail">{{detail.pageName}}</td>
                          </tr>
                          <tr>
                              <th>category</th>
                              <td ng-repeat="detail in pageDetail">{{detail.pageType}}</td>
                          </tr>
                          <tr>
                              <th>subCategory</th>
                              <td ng-repeat="detail in pageDetail">{{detail.category}}</td>
                          </tr>
                          <tr>
                              <th>adsType</th>
                              <td ng-repeat="detail in pageDetail">{{detail.subCategory}}</td>
                          </tr>
                  </table>
                  </div>
               </form>
           </div>
       </div>
   </div>
</div>
<div id="adInfo" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Ad Information</h4>
           </div><div style="height:400px;">
           <div class="col-sm-12">
                                <div class="gift-images">
                                    <img src="{{userDetail.coverImage}}" style="height:300px;" class="img-responsive">
                                    <div class="gift-images-data">
                                        <div class="top-row-c1">
                                            <div class="top-row-c1-left">
                                                <h4>{{userDetail.adsType}}</h4>
                                                <div class="cus-date-c1"><label>Valid Till : </label><span>{{newDate | date:dd-MM-yyyy}}</span></div>
                                            </div>
                                            <div class="top-row-c1-right">
                                                <div class="c1-used">{{userDetail.couponStatus}}<span class="c1-dot"><i class="fa fa-circle" aria-hidden="true"></i></span></div>
                                                <!-- <div class="c1-share"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</div> -->
                                            </div>
                                            <div class="middle-row-c1">
                                                <h3>Gift Description</h3>
                                                <p>{{userDetail.giftDescription}}</p>
                                            </div>
                                            <div class="middle-row-c1">
                                                <h3>Price</h3>
                                                <p>{{userDetail.couponSellPrice}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>
       </div>
   </div>
</div>
<div id="cashGift" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Cash Gift</h4>
           </div><div style="height:400px;">
           <div class="col-sm-12">
                                <div class="gift-images">
                                    <img src="{{userDetail.coverImage}}" style="height:300px;" class="img-responsive">
                                    <div class="gift-images-data">
                                        <div class="top-row-c1">
                                            <div class="top-row-c1-left">
                                                <h4>{{userDetail.pageName}}</h4>
                                                <h4>Type: {{userDetail.adsType}}</h4>
                                                <!-- <div class="cus-date-c1"><label>Valid Till : </label><span>{{newDate | date:dd-MM-yyyy}}</span></div> -->
                                            </div>
                                            <div class="top-row-c1-right">
                                                <div class="c1-used">Cash Status: {{userDetail.cashStatus}}<span class="c1-dot"><i class="fa fa-circle" aria-hidden="true"></i></span></div>
                                                <!-- <div class="c1-share"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</div> -->
                                            </div>
                                            <div class="middle-row-c1">
                                                <h3>Gift Description</h3>
                                                <p>{{userDetail.giftDescription}}</p>
                                            </div>
                                            <div class="middle-row-c1">
                                                <h3>Price</h3>
                                                <p>{{userDetail.cashAdPrize}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>
       </div>
   </div>
</div>
<div id="top_50_Ads" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Top 50 Ads</h4>
           </div>
           <div class="modal-body max-height-700">
               <form name="userFrom1" class="clearfix">
               <div class="col-sm-12" ng-repeat="ads in adsDetail">
                    <div class="gift-images">
                        <img src="{{ads.coverImage}}" style="height:300px;" class="img-responsive">
                        <div class="gift-images-data">
                            <div class="top-row-c1">
                                <div class="top-row-c1-left">
                                    <h4>{{ads.pageName}}</h4>
                                    <h4>Type: {{ads.adsType}}</h4>
                                    <div class="cus-date-c1" ><label>Valid Till : </label><span>{{ads.couponExpiryDate | date:dd-MM-yyyy}}</span></div>
                                </div>
                                <div class="top-row-c1-right">
                                    <div class="c1-used">Status: {{ads.couponStatus}}<!-- <span class="c1-dot"> --><!-- <i class="fa fa-circle" aria-hidden="true"></i></span></div> -->
                                    <!-- <div class="c1-share"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</div> -->
                                </div>
                                <div class="middle-row-c1">
                                    <h3>Gift Description</h3>
                                    <div class="gift-desc">{{ads.giftDescription}}</div> 
                                </div>
                                <div class="middle-row-c1">
                                    <h3>Category</h3>
                                    <div class="gift-desc">{{ads.category}}</div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                </form>
            </div>
       </div>
   </div>
</div>
<div id="paymentPaypal" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Paypal History</h4>
           </div>
           <div class="modal-body">
               <form name="userFrom1">
               <div class="table-responsive cus-table">
                   <table class="table table-bordered table-striped">                         
                          <tr>
                              <th>Name</th>
                              <th>Amount</th>
                              <th>Transaction Id</th>
                              <th>Status</th>
                          </tr>
                          <tr ng-repeat="pay in paymentPay">
                              <td>{{pay.userId.firstName}} {{pay.userId.lastName}}</td>
                              <td>{{pay.amount}}</td>
                              <td>{{pay.transcationId}}</td>
                              <td>{{pay.status}}</td>
                          </tr>
                  </table>
                  </div>
               </form>
           </div>
       </div>
   </div>
</div>