<div class="tab-pane">
    <div class="height-sm" data-scrollbar="true">
        <div class="row ">
            <div class="col-md-9 col-sm-6 dwd-border-l">
                <div class="box-block blk-blue">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Ads</div>
                            <div class="total-amt">30,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a href="#">Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drakgreen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Ads</div>
                            <div class="total-amt">30,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a href="#">Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-red">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Ads</div>
                            <div class="total-amt">30,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a href="#">Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-browen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Ads</div>
                            <div class="total-amt">30,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a href="#">Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkblue">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Ads</div>
                            <div class="total-amt">30,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a href="#">Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-volit">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Ads</div>
                            <div class="total-amt">30,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a href="#">Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-drkvolit">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Ads</div>
                            <div class="total-amt">30,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a href="#">Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkpink">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Ads</div>
                            <div class="total-amt">30,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a href="#">Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkyello">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Ads</div>
                            <div class="total-amt">30,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a href="#">Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-drkgren">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Ads</div>
                            <div class="total-amt">30,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a href="#">Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 dwd-border">
                <div class="widget widget-stats divi-blk">
                    <div class="Dashboard-filter-text">DASHBOARD FILTER</div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All Countries</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All States</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All Cities</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date From</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date To</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <!--<div class="top-box">
                                                     <div class="total-add">Total Ads</div>
                                                     <div class="total-amt">30,000</div>
                                                 </div>
                                                 <div class="bottom-box">
                                                    <div class="btn-manage">
                                                         <a href="#">Show</a>
                                                    </div>
                                                    <div class="btn-manage">
                                                     <a href="#">Contact Owners</a>
                                                     </div>
                                                 </div>-->
                </div>
            </div>
        </div>
    </div>
