<div class="tab-pane>
    <div class="height-sm" data-scrollbar="true">
        <div class="row ">
            <div class="col-md-9 col-sm-6 dwd-border-l">
                <h4>Upgrade Cards</h4>
                <div class="clearfix">
                    <div class="box-block blnk-bg">
                        <div class="widget widget-stats divi-blk offerbtn-s">
                            <div class="top-box">
                                <div class="green-box">3 Offers</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage show-btn">
                                    <a href="#">Show</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-drakgreen">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Sold Cards</div>
                                <div class="total-amt">5,000</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a href="#">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-red">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Income $</div>
                                <div class="total-amt">7,500$</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a href="#">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block  blk-browen">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Used Cards</div>
                                <div class="total-amt">500</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a href="#">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-drkblue">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Unused Cards</div>
                                <div class="total-amt">3,000</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a href="#">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Upgrade Cards</h4>
                <div class="clearfix">
                    <div class="box-block blnk-bg">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="green-box">5 Offers</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage show-btn">
                                    <a href="#">Show</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block  blk-drkvolit">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Sold Cards</div>
                                <div class="total-amt">19,000</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a href="#">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-drkpink">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Income B</div>
                                <div class="total-amt">30,000</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a href="#">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block  blk-drkyello">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Used Cards</div>
                                <div class="total-amt">30,000</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a href="#">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block  blk-drkgren">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Unused Cards</div>
                                <div class="total-amt">18,500</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a href="#">Contact Buyers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 dwd-border">
                <div class="widget widget-stats divi-blk">
                    <div class="Dashboard-filter-text">DASHBOARD FILTER</div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All Countries</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All States</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All Cities</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Upgrade Card Type</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Luck Card Type</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date From</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date To</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grp-search">
        <div class="row-search">
        </div>
        <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search By Buyer Name">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row table-responsive cus-table">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Cards Type</th>
                        <th>Price</th>
                        <th>Buyer Name</th>
                        <th>Buyer PayPal</th>
                        <th>Used Ad</th>
                        <th>Pages</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input id="o" name="" value="" checked="" type="radio">
                        </td>
                        <td class="skyblue-text">50 Viewers</td>
                        <td>2.5$</td>
                        <td class="skyblue-text">Yazan albaw</td>
                        <td class="skyblue-text">Yazan@ctc-jo.com </td>
                        <td class="skyblue-text">View</td>
                        <td class="skyblue-text">3</td>
                    </tr>
                    <tr>
                        <td>
                            <input id="o" name="" value="" checked="" type="radio">
                        </td>
                        <td class="skyblue-text">50 Viewers</td>
                        <td>2.5$</td>
                        <td class="skyblue-text">Yazan albaw</td>
                        <td class="skyblue-text">Yazan@ctc-jo.com </td>
                        <td class="skyblue-text">View</td>
                        <td class="skyblue-text">3</td>
                    </tr>
                    <tr>
                        <td>
                            <input id="o" name="" value="" checked="" type="radio">
                        </td>
                        <td class="skyblue-text">50 Viewers</td>
                        <td>2.5$</td>
                        <td class="skyblue-text">Yazan albaw</td>
                        <td class="skyblue-text">Yazan@ctc-jo.com </td>
                        <td class="skyblue-text">View</td>
                        <td class="skyblue-text">3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
