<div class="tab-pane">
    <div class="height-sm" data-scrollbar="true">
        <div class="row ">
            <div class="col-md-9 col-sm-6 dwd-border-l">
                <div class="box-block blk-blue">
                   <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Ads</div>
                            <div class="total-amt">{{totalAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='totalads'">
                                <a ng-click="adsTypeName('totalAds')">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drakgreen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Active Ads</div>
                            <div class="total-amt">{{totalActiveAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='activeads'">
                                <a ng-click="adsTypeName('totalActiveAds')">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-red">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Expired Ads</div>
                            <div class="total-amt">{{totalExpiredAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='expiredAds'">
                                <a ng-click="adsTypeName('totalExpiredAds')">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-browen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Reported Ads</div>
                            <div class="total-amt">{{showReportedAdcount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='showReportedAd'">
                                <a ng-click="adsTypeName('showReportedAd')">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkblue">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Ads With Links</div>
                            <div class="total-amt">{{adsWithLinkscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='adsWithLinks'">
                                <a ng-click="adsTypeName('adsWithLinks')"> Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-volit">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Video Ads</div>
                            <div class="total-amt">{{videoAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='videoAds'">
                                <a ng-click="adsTypeName('videoAds')">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-drkvolit">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Slide Show Ads</div>
                            <div class="total-amt">{{slideshowAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='slideShowAds'">
                                <a ng-click="adsTypeName('slideShowAds')">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkpink">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Upgraded Ads By $</div>
                            <div class="total-amt">{{adUpgradedByDollorcount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='adUpgradedByDollor'">
                                <a ng-click="adsTypeName('adUpgradedByDollor')">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkyello">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Upgraded Ads By B</div>
                            <div class="total-amt">{{adUpgradedByBrolixcount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='adUpgradedByBrolix'">
                                <a ng-click="adsTypeName('adUpgradedByBrolix')">Show</a>
                            </div>
                            <div class="btn-manage">
                                <a ng-click="sendMessagePage()">Contact Admins</a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="box-block blnk-bg">
                        <div class="widget widget-stats divi-blk offerbtn-s">
                            <div class="top-box">
                                <div class="green-box">Top 50 Cash Providers</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage show-btn w-100" ng-click="tab='topFiftyAds'">
                                    <a ng-click="adsTypeName('topFiftyAds')">Show</a>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>

           <div class="col-md-3 col-sm-6 dwd-border">
                <div class="widget widget-stats divi-blk">
                    <div class="Dashboard-filter-text">DASHBOARD FILTER</div>
                    <div class="form-group cus-select">
                         <select class="form-control" ng-change="changeCountry(); dashBordFilter(dashBordFilter.country);" ng-model="dashBordFilter.country" required>
                            <option value="">Select Country</option>
                            <option ng-repeat="country in countriesList" value"{{country.code}}">{{country.name}}</option>
                         </select>
                    </div>
                    <div class="form-group cus-select">
                         <select class="form-control"  ng-change="changeState(); dashBordFilter(dashBordFilter.state);"  ng-model="dashBordFilter.state" required>
                            <option value="">Select State</option>
                            <option ng-repeat="state in stateList">{{state.region}}</option>
                         </select>
                    </div>
                    <div class="form-group cus-select">
                         <select  class="form-control" id="city" ng-change="dashBordFilter(dashBordFilter.country);" ng-model="dashBordFilter.city" required>
                            <option value="">Select City</option>
                            <option ng-repeat="city in cityList">{{city.city}}</option>
                         </select>
                    </div>
                   <div class="form-group clearfix date-picker">
                    <datepicker date-format="yyyy-MM-dd" selector="form-control">
                      <div class="input-group">
                          <input class="form-control" placeholder="Choose a date" ng-model="dashBordFilter.dobTo"/>
                          <span class="input-group-addon" style="cursor: pointer">
                          </span>
                      </div>
                   </datepicker>
                   </div>
                   <div class="form-group clearfix date-picker">
                   <datepicker date-format="yyyy-MM-dd" selector="form-control">
                      <div class="input-group">
                          <input class="form-control" ng-change="dashBordFilter(dashBordFilter.dobFrom);" placeholder="Choose a date" ng-model="dashBordFilter.dobFrom"/>
                          <span class="input-group-addon" style="cursor: pointer">
                          </span>
                      </div>
                   </datepicker>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grp-search">
        <div class="row-search">
            <ul>
                <li class="active">
                    <a data-toggle="tab" style="cursor:pointer;" ng-click="adInfo(x._id)">View Ad</a>
                </li>
                <li class="">
                    <a data-toggle="tab">Edit Ad</a>
                </li>
                 <li class="">
                    <a data-toggle="tab">Remove Ad</a>
                </li>
                <li class="">
                    <a data-toggle="tab">Set on home page</a>
                </li>
                <li class="">
                    <a data-toggle="tab"  style="cursor: pointer;" ng-click="contactOwner()">Contact Owner</a>
                </li>
                <li class="last">
                    <a data-toggle="tab"  style="cursor: pointer;" ng-click="export()">Create Report</a>
                </li>
            </ul>
        </div>
        <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="test" placeholder="Search By Page Name or Mobile number" maxlength="10" >
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="totalads">
            <table id="manageAdsTable" class="table table-bordered table-striped" >
                <thead>
                    <tr>
                        <th></th>

                        <th>PAGE NAME</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalAds | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="showPageDetails(x.pageId)" >{{x.pageName}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="reportOnAd(x._id)" >{{x.reportOnAd}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" >{{3}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="adInfoSoldCoupon(x._id)" >VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(totalAds | manageAdsFilter:test).length != 0">
                        <button ng-click="preClk()" ng-disabled="pageNo==1" class="btn paginationBtn" >Prev</button> {{pageNo}}/{{noOfPages}}
                        <button ng-click="nextClk()" ng-disabled="pageNo==noOfPages" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="activeads">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalActiveAds| manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="showPageDetails(x.pageId._id)" >{{x.pageName}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="reportOnAd(x._id)" >{{x.reportOnAd}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" >{{3}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="adInfoSoldCoupon(x._id)" >VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(totalActiveAds | manageAdsFilter:test).length != 0">
                        <button ng-click="preActiveAdsClk()" ng-disabled="pageNoActiveAds==1" class="btn paginationBtn" >Prev</button> {{pageNoActiveAds}}/{{noOfPagesActiveAds}}
                        <button ng-click="nextActiveAdsClk()" ng-disabled="pageNoActiveAds==noOfPagesActiveAds" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="expiredAds">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalExpiredAds | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="showPageDetails(x.pageId._id)" >{{x.pageName}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="reportOnAd(x._id)" >{{x.reportOnAd}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" >{{3}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="adInfoSoldCoupon(x._id)" >VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(totalExpiredAds | manageAdsFilter:test).length != 0">
                        <button ng-click="preExpiredAdsClk()" ng-disabled="pageNoExpiredAds==1" class="btn paginationBtn" >Prev</button> {{pageNoExpiredAds}}/{{noOfPagesExpiredAds}}
                        <button ng-click="nextExpiredAdsClk()" ng-disabled="pageNoExpiredAds==noOfPagesExpiredAds" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="videoAds">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in videoAds | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="showPageDetails(x.pageId._id)" >{{x.pageName}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="reportOnAd(x._id)" >{{x.reportOnAd}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" >{{3}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="adInfoSoldCoupon(x._id)" >VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(videoAds | manageAdsFilter:test).length != 0">
                        <button ng-click="preVideoAdsClk()" ng-disabled="pageNoVideoAds==1" class="btn paginationBtn" >Prev</button> {{pageNoVideoAds}}/{{noOfPagesVideoAds}}
                        <button ng-click="nextVideoAdsClk()" ng-disabled="pageNoVideoAds==noOfPagesVideoAds" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="slideShowAds">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in slideshowAds | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="showPageDetails(x.pageId._id)" >{{x.pageName}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="reportOnAd(x._id)" >{{x.reportOnAd}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" >{{3}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="adInfoSoldCoupon(x._id)" >VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(slideshowAds | manageAdsFilter:test).length != 0">
                        <button ng-click="preSlideShowAdsClk()" ng-disabled="pageNoSlideShowAds==1" class="btn paginationBtn" >Prev</button> {{pageNoSlideShowAds}}/{{noOfPagesSlideShowAds}}
                        <button ng-click="nextSlideShowAdsClk()" ng-disabled="pageNoSlideShowAds==noOfPagesSlideShowAds" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="adUpgradedByBrolix">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in adUpgradedByBrolix | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                       <td class="skyblue-text"  style="cursor:pointer;" ng-click="showPageDetails(x.pageId._id)" >{{x.pageName}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="reportOnAd(x._id)" >{{x.reportOnAd}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" >{{3}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="adInfoSoldCoupon(x._id)" >VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(adUpgradedByBrolix | manageAdsFilter:test).length != 0">
                <button ng-click="preUpgradedByBrolixClk()" ng-disabled="pageNoUpgradedByBrolix==1" class="btn paginationBtn" >Prev</button> {{pageNoUpgradedByBrolix}}/{{noOfPagesUpgradedByBrolix}}
                <button ng-click="nextUpgradedByBrolixClk()" ng-disabled="pageNoUpgradedByBrolix==noOfPagesUpgradedByBrolix" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="adUpgradedByDollor">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in adUpgradedByDollor | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="showPageDetails(x.pageId._id)" >{{x.pageName}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="reportOnAd(x._id)" >{{x.reportOnAd}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" >{{3}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="adInfoSoldCoupon(x._id)" >VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(adUpgradedByDollor | manageAdsFilter:test).length != 0">
                <button ng-click="preUpgradedByDollarsClk()" ng-disabled="pageNoUpgradedByDollars==1" class="btn paginationBtn" >Prev</button> {{pageNoUpgradedByDollars}}/{{noOfPagesUpgradedByDollars}}
                <button ng-click="nextUpgradedByDollarsClk()" ng-disabled="pageNoUpgradedByDollars==noOfPagesUpgradedByDollars" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>
     <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="showReportedAd">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in showReportedAd |manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="showPageDetails(x.pageId._id)" >{{x.pageName}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="reportOnAd(x._id)" >{{x.reportOnAd}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" >{{3}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="adInfoSoldCoupon(x._id)" >VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(showReportedAd | manageAdsFilter:test).length != 0">
                <button ng-click="preReportedAdsClk()" ng-disabled="pageNoReportedAds==1" class="btn paginationBtn" >Prev</button> {{pageNoReportedAds}}/{{noOfPagesReportedAds}}
                <button ng-click="nextReportedAdsClk()" ng-disabled="pageNoReportedAds==noOfPagesReportedAds" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>

     <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="adsWithLinks">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in adsWithLinks | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="showPageDetails(x.pageId._id)" >{{x.pageName}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="reportOnAd(x._id)" >{{x.reportOnAd}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" >{{3}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="adInfoSoldCoupon(x._id)" >VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(adsWithLinks | manageAdsFilter:test).length != 0">
                <button ng-click="preAdsWithLinksClk()" ng-disabled="pageNoAdsWithLinks==1" class="btn paginationBtn" >Prev</button> {{pageNoAdsWithLinks}}/{{noOfPagesAdsWithLinks}}
                <button ng-click="nextAdsWithLinksClk()" ng-disabled="pageNoAdsWithLinks==noOfPagesAdsWithLinks" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>

 <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="topFiftyAds">
            <table id="manageAdsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>PAGE NAME</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in topFiftyAds | manageAdsFilter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="showPageDetails(x.pageId)" >{{x.pageName}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="reportOnAd(x._id)" >{{x.reportOnAd}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" >{{3}}</td>
                        <td class="skyblue-text"  style="cursor:pointer;" ng-click="adInfoSoldCoupon(x._id)" >VIEW</td>
                        <td>{{x.cash}} $</td>
                        <td>{{x.viewers}} Viewers</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(topFiftyAds | manageAdsFilter:test).length != 0">
                <button ng-click="preTopFiftyAdsClk()" ng-disabled="pageNoTopFiftyAds==1" class="btn paginationBtn" >Prev</button> {{pageNoTopFiftyAds}}/{{noOfPagesTopFiftyAds}}
                <button ng-click="nextTopFiftyAdsClk()" ng-disabled="pageNoTopFiftyAds==noOfPagesTopFiftyAds" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>
</div>

<div id="sendMessageModelOwners" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Send message to Owner</h4>
           </div>
           <div class="modal-body">
               <form name="sendMessage">
                   <div class="form-group">
                   <textarea type="text" id="messageInput" class="form-control" ng-model="sendMessage.massage" placeholder="Enter Your message" /></textarea>
                       <!-- <input type="textarea" class="form-control" ng-model="category" placeholder="Enter Your massage"> -->
                   </div>
                   <button type="submit" class="btn btn-danger" ng-click="send_messageOwners(x._id)">Send message</button>
               </form>
           </div>
       </div>
   </div>
</div>

<div id="sendMessageModelAllUser" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Send message to Admin</h4>
           </div>
           <div class="modal-body">
               <form name="sendMessage">
                   <div class="form-group">
                   <textarea type="text" id="messageInput" class="form-control" ng-model="sendMessage.massage" placeholder="Enter Your message" /></textarea>
                       <!-- <input type="textarea" class="form-control" ng-model="category" placeholder="Enter Your massage"> -->
                   </div>
                   <button type="submit" class="btn btn-danger" ng-click="send_massage()">Send message</button>
               </form>
           </div>
       </div>
   </div>
</div>

<div id="pageDetails" class="modal fade" >
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Page Details</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                        <div class="table-responsive cus-table">
                            <table id="manageUserTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Page Type</th>
                                        <th>Page Name</th>
                                        <th>Category</th>
                                        <th>Sub Category</th>
                                        <th>Page Discription</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in allpageInfo |filter:test">
                                        <td class="skyblue-text">{{x.pageType}}</td>
                                        <td class="skyblue-text">{{x.pageName}}</td>
                                        <td class="skyblue-text">{{x.category}}</td>
                                        <td class="skyblue-text">{{x.subCategory}}</td>
                                        <td class="skyblue-text">{{x.pageDiscription}}</td>
                                        <td class="skyblue-text">{{x.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
           </div>
       </div>
   </div>
</div>

<div id="adInfo" class="modal fade" >
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Ads Detail</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                        <div class="table-responsive cus-table">
                            <table id="manageUserTable" class="table table-bordered table-striped">
                                     <tr>
                                         <th>Category</th>
                                        <td class="skyblue-text">{{userDetail.category}}</td>
                                     </tr>
                                     <tr>
                                        <th>Sub Category</th>
                                        <td class="skyblue-text">{{userDetail.subCategory}}</td>
                                     </tr>  
                                     <tr>
                                        <th>Ad Type</th>
                                        <td class="skyblue-text">{{userDetail.adContentType}}</td>
                                     </tr>
                                     <tr>   
                                        <th>Cover Image</th>                               
                                        <td class="skyblue-text"><img ng-src="{{userDetail.coverImage}}"height="50px" ></td>
                                     </tr>  
                                     <tr>                                       
                                        <th>Status</th>
                                        <td class="skyblue-text">{{userDetail.status}}</td>
                                     </tr>
                                     <tr>                                      
                                        <th>CreatedAt</th>
                                        <td class="skyblue-text">{{userDetail.createdAt | date:'MM-dd-yyyy'}}</td>
                                     </tr>   
                                     <tr>
                                        <th>Updated At</th>
                                        <td class="skyblue-text">{{userDetail.updatedAt | date:'MM-dd-yyyy'}}</td>
                                     </tr>   
                                     <tr>
                                        <th>Reports on Ad</th>
                                        <td class="skyblue-text">{{userDetail.reportOnAd}}</td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
           </div>
       </div>
   </div>
</div>



<div id="adReport" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Ad report Information</h4>
           </div>
                <div style="height:400px;">
                      <div class="col-sm-12">
                          <div class="gift-images-data">
                                  <table id="manageUserTable" class="table table-bordered table-striped">
                                     <tr>
                                         <th>Ads Type</th>
                                        <td class="skyblue-text">{{userDetail.adsType}}</td>
                                     </tr>
                                     <tr>
                                        <th>Coupon Status</th>
                                        <td class="skyblue-text">{{userDetail.couponStatus}}</td>
                                     </tr>  
                                     <tr>
                                        <th>Expiry date</th>
                                        <td class="skyblue-text">{{userDetail.couponExipryDate |date:'MMMM dd, yyyy'}}</td>
                                     </tr> 
                                     <tr>                                       
                                        <th>Gift Description</th>
                                        <td class="skyblue-text">{{userDetail.giftDescription}}</td>
                                     </tr>
                                </table>
                           </div>
                      </div>
                </div>
           </div>
       </div>
</div>     

