<div class="tab-pane>
    <div class="height-sm" data-scrollbar="true">
        <div class="row ">
            <div class="col-md-9 col-sm-6 dwd-border-l">
                <div class="clearfix">
                    <div class="box-block blk-drakgreen">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Brolix Gifts</div>
                                <div class="total-amt">30,000</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Top 50 Balances</a>
                                </div>
                                <div class="btn-manage">
                                    <a href="#">Contact Winners</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-red">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Coupons Gifts</div>
                                <div class="total-amt">27,000</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a href="#">Contact Winners</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block  blk-browen">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Cash Gifts</div>
                                <div class="total-amt">3,000</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a href="#">Contact Winners</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-drkblue">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Hidden Gifts</div>
                                <div class="total-amt">3,000</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                                <div class="btn-manage">
                                    <a href="#">Contact Winners</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blnk-bg">
                        <div class="widget widget-stats divi-blk offerbtn-s">
                            <div class="top-box">
                                <div class="green-box">3 Offers</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage show-btn">
                                    <a href="#">Show</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Upgrade Cards</h4>
                <div class="clearfix">
                    <div class="box-block  blk-drkvolit">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Exchanged</div>
                                <div class="total-amt">19,000</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blk-drkpink">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Sent Coupons</div>
                                <div class="total-amt">500</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block  blk-drkyello">
                        <div class="widget widget-stats divi-blk">
                            <div class="top-box">
                                <div class="total-add">Total Sent Cash</div>
                                <div class="total-amt">18,500</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage">
                                    <a href="#">Show</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-block blnk-bg">
                        <div class="widget widget-stats divi-blk offerbtn-s">
                            <div class="top-box">
                                <div class="green-box">5 Offers</div>
                            </div>
                            <div class="bottom-box">
                                <div class="btn-manage show-btn">
                                    <a href="#">Show</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 dwd-border">
                <div class="widget widget-stats divi-blk">
                    <div class="Dashboard-filter-text">DASHBOARD FILTER</div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All Countries</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All States</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All Cities</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Coupon Status</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Cash Status</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date From</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date To</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grp-search">
        <div class="row-search">
        </div>
        <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search By Page Name , Winner Name, Exch From, Exch To , Sent From, Sent To">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row table-responsive cus-table">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Page Name</th>
                        <th>Winner Name</th>
                        <th>Coupon Gift</th>
                        <th>Coupon Status</th>
                        <th>Cash Gift</th>
                        <th>Cash Status</th>
                        <th>Exch From</th>
                        <th>Exch To</th>
                        <th>Sent From</th>
                        <th>Sent To</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Brolix</td>
                        <td class="skyblue-text">Yazan AL-Baw</td>
                        <td>View</td>
                        <td class="skyblue-text">Valid</td>
                        <td class="skyblue-text">N/A</td>
                        <td class="skyblue-text">N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>Yazan AL-BAW</td>
                        <td>Zaid Sami</td>
                    </tr>
                    <tr>
                        <td>Brolix</td>
                        <td class="skyblue-text">Yazan AL-Baw</td>
                        <td>View</td>
                        <td class="skyblue-text">Valid</td>
                        <td class="skyblue-text">N/A</td>
                        <td class="skyblue-text">N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>Yazan AL-BAW</td>
                        <td>Zaid Sami</td>
                    </tr>
                    <tr>
                        <td>Brolix</td>
                        <td class="skyblue-text">Yazan AL-Baw</td>
                        <td>View</td>
                        <td class="skyblue-text">Valid</td>
                        <td class="skyblue-text">N/A</td>
                        <td class="skyblue-text">N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>Yazan AL-BAW</td>
                        <td>Zaid Sami</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
