<div class="tab-pane">
    <div class="height-sm" data-scrollbar="true">
        <div class="row ">
            <div class="col-md-9 col-sm-6 dwd-border-l">
                <div class="box-block blk-blue">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Users</div>
                            <div class="total-amt">30,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Send
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a>Message</a></li>
                                        <li><a>Coupon</a></li>
                                        <li><a>Brolix</a></li>
                                        <li><a>Card</a></li>
                                        <li><a>Cash</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drakgreen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Personal Users</div>
                            <div class="total-amt">27,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Send
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a>Message</a></li>
                                        <li><a>Coupon</a></li>
                                        <li><a>Brolix</a></li>
                                        <li><a>Card</a></li>
                                        <li><a>Cash</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-red">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Business Users</div>
                            <div class="total-amt">3,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Send
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a>Message</a></li>
                                        <li><a>Coupon</a></li>
                                        <li><a>Brolix</a></li>
                                        <li><a>Card</a></li>
                                        <li><a>Cash</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-browen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Live Users</div>
                            <div class="total-amt">10,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Send
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a>Message</a></li>
                                        <li><a>Coupon</a></li>
                                        <li><a>Brolix</a></li>
                                        <li><a>Card</a></li>
                                        <li><a>Cash</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkblue">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Winners</div>
                            <div class="total-amt">19,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Send
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a>Message</a></li>
                                        <li><a>Coupon</a></li>
                                        <li><a>Brolix</a></li>
                                        <li><a>Card</a></li>
                                        <li><a>Cash</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-volit">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Cash Winners</div>
                            <div class="total-amt">500</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Send
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a>Message</a></li>
                                        <li><a>Coupon</a></li>
                                        <li><a>Brolix</a></li>
                                        <li><a>Card</a></li>
                                        <li><a>Cash</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-drkvolit">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Coupon Winners</div>
                            <div class="total-amt">18,500</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Send
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a>Message</a></li>
                                        <li><a>Coupon</a></li>
                                        <li><a>Brolix</a></li>
                                        <li><a>Card</a></li>
                                        <li><a>Cash</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkpink">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Blocked Users</div>
                            <div class="total-amt">20</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Send
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a>Message</a></li>
                                        <li><a>Coupon</a></li>
                                        <li><a>Brolix</a></li>
                                        <li><a>Card</a></li>
                                        <li><a>Cash</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 dwd-border">
                <div class="widget widget-stats divi-blk">
                    <div class="Dashboard-filter-text">DASHBOARD FILTER</div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All Countries</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All States</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All Cities</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Both Genders</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Age From</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Age To</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date From</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date To</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grp-search">
        <div class="row-search">
            <ul>
                <li class="active">
                    <a data-toggle="tab">View Profile</a>
                </li>
                <li class="">
                    <a data-toggle="tab">Remove Ad</a>
                </li>
                <li class="">
                    <a data-toggle="tab">View Coupon</a>
                </li>
                <li class="">
                    <a data-toggle="tab">Send Coupon</a>
                </li>
                <li class="">
                    <a data-toggle="tab">Send Cash</a>
                </li>
                <li class="">
                    <a data-toggle="tab">Send Message</a>
                </li>
                <li class="">
                    <a data-toggle="tab">Send Card</a>
                </li>
                <li class="">
                    <a data-toggle="tab">Send Brolix</a>
                </li>
            </ul>
        </div>
        <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search By Name or Mobile">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row table-responsive cus-table">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Pages</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input id="o" name="" value="" checked="" type="radio">
                        </td>
                        <td class="skyblue-text">Yazan</td>
                        <td class="skyblue-text">AL-Baw</td>
                        <td class="skyblue-text">0799435020</td>
                        <td class="skyblue-text">Yazan@ctc-jo.com</td>
                        <td class="skyblue-text">5</td>
                    </tr>
                    <tr>
                        <td>
                            <input id="o" name="" value="" checked="" type="radio">
                        </td>
                        <td class="skyblue-text">Yazan</td>
                        <td class="skyblue-text">AL-Baw</td>
                        <td class="skyblue-text">0799435020</td>
                        <td class="skyblue-text">Yazan@ctc-jo.com</td>
                        <td class="skyblue-text">5</td>
                    </tr>
                    <tr>
                        <td>
                            <input id="o" name="" value="" checked="" type="radio">
                        </td>
                        <td class="skyblue-text">Yazan</td>
                        <td class="skyblue-text">AL-Baw</td>
                        <td class="skyblue-text">0799435020</td>
                        <td class="skyblue-text">Yazan@ctc-jo.com</td>
                        <td class="skyblue-text">5</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
