<div class="tab-pane">
    <div class="height-sm" data-scrollbar="true">
        <div class="row ">
            <div class="col-md-9 col-sm-6 dwd-border-l">
                <div class="box-block blk-blue">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Pages</div>
                            <div class="total-amt">30,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Send Message
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Message</a></li>
                                        <li><a href="#">Coupon</a></li>
                                        <li><a href="#">Brolix</a></li>
                                        <li><a href="#">Card</a></li>
                                        <li><a href="#">Cash</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drakgreen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Unpublished Pages</div>
                            <div class="total-amt">30,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Send Message
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Message</a></li>
                                        <li><a href="#">Coupon</a></li>
                                        <li><a href="#">Brolix</a></li>
                                        <li><a href="#">Card</a></li>
                                        <li><a href="#">Cash</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-red">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Removed Pages</div>
                            <div class="total-amt">30,00</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-browen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Blocked Pages</div>
                            <div class="total-amt">500</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a href="#">Show</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkblue">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Page’s Admins</div>
                            <div class="total-amt">1,500</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Send
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Message</a></li>
                                        <li><a href="#">Coupon</a></li>
                                        <li><a href="#">Brolix</a></li>
                                        <li><a href="#">Card</a></li>
                                        <li><a href="#">Cash</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 dwd-border">
                <div class="widget widget-stats divi-blk">
                    <div class="Dashboard-filter-text">DASHBOARD FILTER</div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All Countries</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All States</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All Cities</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All Categories</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date From</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date To</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grp-search">
        <div class="row-search">
            <ul>
                <li class="active">
                    <a href="#" data-toggle="tab">View Page</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab">Remove</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab">Block/Unblock</a>
                </li>
                <li class="last">
                    <a href="#" data-toggle="tab">Send Message</a>
                </li>
            </ul>
        </div>
        <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search By Page Name or Mobile">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row table-responsive cus-table">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Page Name</th>
                        <th>Main Category</th>
                        <th>Owner Name</th>
                        <th>Owner Email</th>
                        <th>Owner Mobile</th>
                        <th>Ads</th>
                        <th>Winners</th>
                        <th>Admins</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input id="o" name="" value="" checked="" type="radio">
                        </td>
                        <td class="skyblue-text">Brolix</td>
                        <td class="skyblue-text">Mobile Apps</td>
                        <td class="skyblue-text">Yazan AL-Baw</td>
                        <td class="skyblue-text">Yazan@ctc-jo.com</td>
                        <td class="skyblue-text">0799435020</td>
                        <td class="skyblue-text">5</td>
                        <td class="skyblue-text">30</td>
                        <td class="skyblue-text">2</td>
                    </tr>
                    <tr>
                        <td>
                            <input id="" name="" value="" type="radio">
                        </td>
                        <td class="skyblue-text">Brolix</td>
                        <td class="skyblue-text">Mobile Apps</td>
                        <td class="skyblue-text">Yazan AL-Baw</td>
                        <td class="skyblue-text">Yazan@ctc-jo.com</td>
                        <td class="skyblue-text">0799435020</td>
                        <td class="skyblue-text">5</td>
                        <td class="skyblue-text">30</td>
                        <td class="skyblue-text">2</td>
                    </tr>
                    <tr>
                        <td>
                            <input id="" name="" value="" type="radio">
                        </td>
                        <td class="skyblue-text">Brolix</td>
                        <td class="skyblue-text">Mobile Apps</td>
                        <td class="skyblue-text">Yazan AL-Baw</td>
                        <td class="skyblue-text">Yazan@ctc-jo.com</td>
                        <td class="skyblue-text">0799435020</td>
                        <td class="skyblue-text">5</td>
                        <td class="skyblue-text">30</td>
                        <td class="skyblue-text">2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
