<div class="tab-pane">
    <div class="height-sm" data-scrollbar="true">
        <div class="row ">
            <div class="col-md-9 col-sm-6 dwd-border-l">
                <div class="box-block blk-blue">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Pages</div>
                            <div class="total-amt">{{totalPagesCount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='totalPages'">
                                <a ng-click="pageTypeName('totalPages')">Show</a>
                            </div>
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="sendMessagePage('totalPages')">
                                        Send Message
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a>Message</a></li>
                                        <li><a>Coupon</a></li>
                                        <li><a>Brolix</a></li>
                                        <li><a>Card</a></li>
                                        <li><a>Cash</a></li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drakgreen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Unpublished Pages</div>
                            <div class="total-amt">{{unPublishedPageCount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='unPublishedPage'">
                                <a ng-click="pageTypeName('unPublishedPage')">Show</a>
                            </div>
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="sendMessagePage('unPublishedPage')">
                                        Send Message
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a>Message</a></li>
                                        <li><a>Coupon</a></li>
                                        <li><a>Brolix</a></li>
                                        <li><a>Card</a></li>
                                        <li><a>Cash</a></li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-red">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Removed Pages</div>
                            <div class="total-amt">{{showAllRemovedPageCount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='showAllRemovedPage'">
                                <a ng-click="pageTypeName('removedPage')">Show</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-browen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Blocked Pages</div>
                            <div class="total-amt">{{showAllBlockedPageCount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='showAllBlockedPage'">
                                <a ng-click="pageTypeName('blockedPage')">Show</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkblue">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Page’s Admins</div>
                            <div class="total-amt">{{allAdminPagesCount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Send
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li ng-click="sendMessagePage('pagesAdmins')"><a>Message</a></li>
                                        <li ng-click="total_user_coupons()"><a>Coupon</a></li>
                                        <li ng-click="total_user_brolix()"><a>Brolix</a></li>
                                        <li ng-click="total_user_card()"><a>Card</a></li>
                                        <li ng-click="total_user_cash()"><a>Cash</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 dwd-border">
                <div class="widget widget-stats divi-blk">
                    <div class="Dashboard-filter-text">DASHBOARD FILTER</div>
                    
                    <div class="form-group cus-select">
                         <select class="form-control" ng-change="changeCountry(); dashBordFilter();" ng-model="dashBordFilter.country" required>
                            <option value="">Select Country</option>
                            <option ng-repeat="country in countriesList" value"{{country.code}}">{{country.name}}</option>
                         </select>
                    </div>
                    <div class="form-group cus-select">
                         <select class="form-control" ng-change="changeState(); dashBordFilter();" ng-model="dashBordFilter.state" required>
                            <option value="">Select State</option>
                            <option ng-repeat="state in stateList">{{state.region}}</option>
                         </select> 
                    </div>
                    <div class="form-group cus-select">
                         <select  class="form-control" id="city" ng-change="dashBordFilter();" ng-model="dashBordFilter.city" required>
                            <option value="">Select City</option>
                            <option ng-repeat="city in cityList">{{city.city}}</option>
                         </select> 
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control" ng-model="dashBordFilter.categories" ng-change="dashBordFilter(dashBordFilter.category);">
                            <option value="">All Categories</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    
                    <div class="form-group clearfix date-picker">
                     <datepicker date-format="yyyy-MM-dd" selector="form-control">
                       <div class="input-group">
                           <input class="form-control" placeholder="Choose a date" ng-model="dashBordFilter.dobTo"/>
                           <span class="input-group-addon" style="cursor: pointer">
                           <!-- <i class="fa fa-lg fa-calendar"></i> -->
                           </span>
                       </div>
                    </datepicker>
                    </div>
                    <div class="form-group clearfix date-picker">
                    <datepicker date-format="yyyy-MM-dd" selector="form-control">
                       <div class="input-group">
                           <input class="form-control" ng-change="dashBordFilter(dashBordFilter.dobFrom);" placeholder="Choose a date" ng-model="dashBordFilter.dobFrom"/>
                           <span class="input-group-addon" style="cursor: pointer">
                          <!--  <i class="fa fa-lg fa-calendar"></i> -->
                           </span>
                       </div>
                    </datepicker>
                     </div>
                    <!-- <div class="form-group cus-select">
                        <div class="col-md-9">
                            <input type="date" class="form-control" name="dob" ng-model="dashBordFilter.dobTo" placeholder="Date of Birth">  
                        </div>
                    </div>

                    <div class="form-group cus-select">
                        <div class="col-md-9">
                            <input type="date" class="form-control" name="dob" ng-change="dashBordFilter(dashBordFilter.dobFrom);" ng-model="dashBordFilter.dobFrom" placeholder="Date of Birth"> 
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="totalPages">
        <div class="grp-search">
        <div class="row-search">
            <ul>
                <li class="active">
                    <a data-toggle="tab" style="cursor: pointer;" ng-href="#header/viewPage/{{myForm.pageId}}">View Page</a>
                </li>
                <li class="active">
                    <a data-toggle="tab" style="cursor: pointer;" ng-href="#header/editPage/{{myForm.pageId}}">Edit Page</a>
                </li>
                <li class="active">
                     <a data-toggle="tab" style="cursor: pointer;" ng-click="Remove_User(myForm.pageId)">Remove</a>
                </li>
                <li class="">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="blockPage(myForm.pageId)">Block</a>
                </li>
                <li class="active">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="sendMessagePage(myForm.pageId)">Send Message</a>
                </li>
                <li class="last">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="export()"">Create Report</a>
                </li>
            </ul>
        </div>
        <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="test" placeholder="Search By Page Name or Mobile">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
            <table id="managePageTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Page Name</th>
                        <th>Main Category</th>
                        <th>Owner Name</th>
                        <th>Owner Email</th>
                        <th>Owner Mobile</th>
                        <th>Ads</th>
                        <th>Winners</th>
                        <th>Admins</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalPages | pagesFilter:test">
                        <td>
                            <input ng-model="myForm.pageId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td >{{x.pageName}}</td>
                        <td >{{x.category}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="ownerDetails(x.userId._id)">{{x.userId.firstName}}</td>
                        <td >{{x.email}}</td>
                        <td >{{x.phoneNumber}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="showAdds(x._id)">{{x.adsCount}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="showWinners(x._id)">{{x.winnersCount}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="showAdminPages(x._id)">{{x.adAdminCount}}</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(totalPages | pagesFilter:test).length != 0">
                <button ng-click="preTotalPages()" ng-disabled="pageTotalPages==1" class="btn paginationBtn" >Prev</button> 
                {{pageTotalPages}}/{{noOfPagesTotalPages}}
                <button ng-click="nextTotalPages()" ng-disabled="pageTotalPages==noOfPagesTotalPages" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>


    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="unPublishedPage">
        <div class="grp-search">
        <div class="row-search">
            <ul>
                <li class="active">
                    <a data-toggle="tab" style="cursor: pointer;" ng-href="#header/viewPage/{{myForm.pageId}}">View Page</a>
                </li>
                <li class="active">
                    <a data-toggle="tab" style="cursor: pointer;" ng-href="#header/editPage/{{myForm.pageId}}">Edit Page</a>
                </li>
                <li class="active">
                     <a data-toggle="tab" style="cursor: pointer;" ng-click="Remove_User(myForm.pageId)">Remove</a>
                </li>
                <li class="">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="blockPage(myForm.pageId)">Block</a>
                </li>
                <li class="active">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="sendMessagePage(myForm.pageId)">Send Message</a>
                </li>
                <li class="last">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="export()"">Create Report</a>
                </li>
            </ul>
        </div>
        <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="test" placeholder="Search By Page Name or Mobile">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
            <table id="managePageTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Page Name</th>
                        <th>Main Category</th>
                        <th>Owner Name</th>
                        <th>Owner Email</th>
                        <th>Owner Mobile</th>
                        <th>Ads</th>
                        <th>Winners</th>
                        <th>Admins</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in unPublishedPage | pagesFilter:test">
                        <td>
                            <input ng-model="myForm.pageId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td >{{x.pageName}}</td>
                        <td >{{x.category}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="ownerDetails(x._id)">{{x.firstName}}</td>
                        <td >{{x.userId.email}}</td>
                        <td >{{x.userId.mobileNumber}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="showAdds(x._id)">{{x.adsCount}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="showWinners(x._id)">{{x.winnersCount}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="showAdminPages(x._id)">{{x.adAdminCount}}</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(unPublishedPage | pagesFilter:test).length != 0">
                <button ng-click="preunPublishedPage()" ng-disabled="pageunPublishedPage==1" class="btn paginationBtn" >Prev</button> 
                {{pageunPublishedPage}}/{{noOfPagesunPublishedPage}}
                <button ng-click="nextunPublishedPage()" ng-disabled="pageunPublishedPage==noOfPagesunPublishedPage" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>

     <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="showAllRemovedPage">
        <div class="grp-search">
        <div class="row-search">
            <ul>
                <li class="active">
                    <a data-toggle="tab" style="cursor: pointer;" ng-href="#header/viewPage/{{myForm.pageId}}">View Page</a>
                </li>
                <li class="active">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="sendMessagePage(myForm.pageId)">Send Message</a>
                </li>
                <li class="last">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="export()"">Create Report</a>
                </li>
            </ul>
        </div>
        <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="test" placeholder="Search By Page Name or Mobile">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
            <table id="managePageTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Page Name</th>
                        <th>Main Category</th>
                        <th>Owner Name</th>
                        <th>Owner Email</th>
                        <th>Owner Mobile</th>
                        <th>Ads</th>
                        <th>Winners</th>
                        <th>Admins</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in showAllRemovedPage | pagesFilter:test">
                        <td>
                            <input ng-model="myForm.pageId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td >{{x.pageName}}</td>
                        <td >{{x.category}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="ownerDetails(x._id)">{{x.firstName}}</td>
                        <td >{{x.email}}</td>
                        <td >{{x.phoneNumber}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="showAdds(x._id)">{{x.adsCount}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="showWinners(x._id)">{{x.winnersCount}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="showAdminPages(x._id)">{{x.adAdminCount}}</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(showAllRemovedPage | pagesFilter:test).length != 0">
                <button ng-click="preRemovedPages()" ng-disabled="pageRemovedPage==1" class="btn paginationBtn" >Prev</button> 
                {{pageRemovedPage}}/{{noOfPagesRemovedPage}}
                <button ng-click="nextRemovedPages()" ng-disabled="pageRemovedPage==noOfPagesRemovedPage" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="showAllBlockedPage">

        <div class="grp-search">
        <div class="row-search">
            <ul>
                <li class="active">
                    <a data-toggle="tab" style="cursor: pointer;" ng-href="#header/viewPage/{{myForm.pageId}}">View Page</a>
                </li>
                <li class="active">
                     <a data-toggle="tab" style="cursor: pointer;" ng-click="Remove_User(myForm.pageId)">Remove</a>
                </li>
                <li class="">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="unblockPage(myForm.pageId)">Unblock</a>
                </li>
                <li class="last">
                    <a data-toggle="tab" style="cursor: pointer;" ng-click="export()"">Create Report</a>
                </li>
            </ul>
        </div>
        <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="test" placeholder="Search By Page Name or Mobile">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
            <table id="managePageTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Page Name</th>
                        <th>Main Category</th>
                        <th>Owner Name</th>
                        <th>Owner Email</th>
                        <th>Owner Mobile</th>
                        <th>Ads</th>
                        <th>Winners</th>
                        <th>Admins</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in showAllBlockedPage | pagesFilter:test">
                        <td>
                            <input ng-model="myForm.pageId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td >{{x.pageName}}</td>
                        <td >{{x.category}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="ownerDetails(x._id)">{{x.firstName}}</td>
                        <td >{{x.email}}</td>
                        <td >{{x.phoneNumber}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="showAdds(x._id)">{{x.adsCount}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="showWinners(x._id)">{{x.winnersCount}}</td>
                        <td class="skyblue-text" style="cursor:pointer;" ng-click="showAdminPages(x._id)">{{x.adAdminCount}}</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right; font-size: 20px;" ng-if="(showAllBlockedPage | pagesFilter:test).length != 0">
                <button ng-click="preBlockedPage()" ng-disabled="pageBlockedPage==1" class="btn paginationBtn" >Prev</button> 
                {{pageBlockedPage}}/{{noOfPagesBlockedPage}}
                <button ng-click="nextBlockedPage()" ng-disabled="pageBlockedPage==noOfPagesBlockedPage" class="btn paginationBtn">Next</button>
            </div>
        </div>
    </div>


<div id="sendMessageModelAllUser" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Send message to All User</h4>
           </div>
           <div class="modal-body">
               <form name="sendMessage">
                   <div class="form-group">
                   <textarea type="text" id="messageInput" class="form-control" ng-model="sendMessage.massage" placeholder="Enter Your massage" /></textarea>
                       <!-- <input type="textarea" class="form-control" ng-model="category" placeholder="Enter Your massage"> -->
                   </div>
                   <button type="submit" class="btn btn-danger" ng-click="send_massage()">Send massage</button>
               </form>
           </div>
       </div>
   </div>
</div>



<div id="adsDetails" class="modal fade" >
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Page Details</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                        <div class="table-responsive cus-table">
                            <table id="manageUserTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Ads Type</th>
                                        <th>AdContent Type</th>
                                        <th>Category</th>
                                        <th>Sub Category</th>
                                        <th>Page Discription</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in allAddsOnPage">
                                        <td class="skyblue-text">{{x.pageType}}</td>
                                        <td class="skyblue-text">{{x.pageName}}</td>
                                        <td class="skyblue-text">{{x.category}}</td>
                                        <td class="skyblue-text">{{x.subCategory}}</td>
                                        <td class="skyblue-text">{{x.pageDiscription}}</td>
                                        <td class="skyblue-text">{{x.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>           
                </div>
           </div>
       </div>
   </div>
</div>

<div id="pageWinnerDetails" class="modal fade" >
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Page Details</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                        <div class="table-responsive cus-table">
                            <table id="manageUserTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Page Type</th>
                                        <th>Page Name</th>
                                        <th>Category</th>
                                        <th>Sub Category</th>
                                        <th>Page Discription</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in allshowUserPage">
                                        <td class="skyblue-text">{{x.pageType}}</td>
                                        <td class="skyblue-text">{{x.pageName}}</td>
                                        <td class="skyblue-text">{{x.category}}</td>
                                        <td class="skyblue-text">{{x.subCategory}}</td>
                                        <td class="skyblue-text">{{x.pageDiscription}}</td>
                                        <td class="skyblue-text">{{x.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>           
                </div>
           </div>
       </div>
   </div>
</div>


<div id="pageAdminDetails" class="modal fade" >
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Pages Admin Details</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                        <div class="table-responsive cus-table">
                            <table id="manageUserTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Admin Name</th>
                                        <th>Mobile Number</th>
                                        <th>Email</th>
                                        <th>Country</th>
                                        <th>State</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in allAdminOnPages">
                                        <td class="skyblue-text">{{x.firstName}} {{x.lastName}}</td>
                                        <td class="skyblue-text">{{x.mobileNumber}}</td>
                                        <td class="skyblue-text">{{x.email}}</td>
                                        <td class="skyblue-text">{{x.country}}</td>
                                        <td class="skyblue-text">{{x.state}}</td>
                                        <td class="skyblue-text">{{x.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>           
                </div>
           </div>
       </div>
   </div>
</div>

<div id="showAllCard" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Send CArd to All User</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                      <!--   <div class="panel-heading">
                            <h3 class="panel-title">Remove Cards</h3>
                        </div> -->
                        <div class="panel-body">
                            <ul class="nav nav-pills card-tabs">
                                <li class="active"><a data-toggle="pill" style="cursor:pointer;" ng-click="active_tab('upgrade_card')">Upgrade Card</a>
                                </li>
                                <li><a data-toggle="pill" style="cursor:pointer;" ng-click="active_tab('luck_card')">Luck Cards</a></li>
                            </ul>
                            <div class="tab-content add-card">
                                <div id="home" class="tab-pane fade in active" ng-if="active_upgrade_card">
                                    <div class="row-table" ng-repeat="data in UpgradeCard">
                                        <div class="col-cell">
                                            <div class="cover-image">
                                                <img ng-src="{{data.photo || '../dist/image/cover.jpg'}}" id="output">
                                            </div>
                                        </div>
                                        <div class="col-cell add-remove">
                                            <span class="fa fa-send" ng-click="sendCard(data._id)"></span>
                                        </div>
                                    </div>
                                </div>
                                <div id="home" class="tab-pane fade in active" ng-if="active_luck_card">
                                    <div class="row-table" ng-repeat="data in LuckCard">
                                        <div class="col-cell">
                                            <div class="cover-image">
                                                <img class="profile-user-img img-responsive" ng-src="{{data.photo || '../dist/image/cover.jpg'}}" id="output">
                                            </div>
                                        </div>
                                        <div class="col-cell add-remove">
                                            <span class="fa fa-send" ng-click="sendCard(data._id)"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
   </div>
</div>



<div id="sendbrolixModelAllUser" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Enter Brolix to pay by admin </h4>
           </div>
           <div class="modal-body">
               <form name="sendBrolix">
                   <div class="form-group">
                   <input type="text" class="form-control" name="brolixsend" ng-model="sendBrolix.brolix" placeholder="Enter Brolix" maxlength="11" ng-maxlength="10" ng-pattern="/^[0-9]{1,11}$/" required> 
                    <span style="color:red;" ng-show="sendBrolix.brolixsend.$dirty && sendBrolix.brolixsend.$invalid">
                    <span ng-show="sendBrolix.brolixsend.$error.required">Brolix is required.</span> 
                    <span ng-show="sendBrolix.brolixsend.$error.maxlength">Brolix have at most 10 digits.</span>
                    <span ng-show="sendBrolix.brolixsend.$error.pattern">Only number are allowed.</span>
                   </div>
                   <button ng-disabled="sendBrolix.$invalid" type="submit" class="btn btn-danger" ng-click="send_brolix('totalUser')">Send Brolix</button>
               </form>
           </div>
       </div>
   </div>
</div>


<div id="sendcashModelAllUser" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Enter Cash to pay by admin </h4>
           </div>
           <div class="modal-body">
               <form name="sendCash">
                   <div class="form-group">
                   <input type="text" class="form-control" name="cashsend" ng-model="sendCash.Cash" placeholder="Enter Cash" maxlength="11" ng-maxlength="10" ng-pattern="/^[0-9]{1,11}$/" required> 
                    <span style="color:red;" ng-show="sendCash.cashsend.$dirty && sendCash.cashsend.$invalid">
                    <span ng-show="sendCash.cashsend.$error.required">Cash is required.</span> 
                    <span ng-show="sendCash.cashsend.$error.maxlength">Cash have at most 10 digits.</span>
                    <span ng-show="sendCash.cashsend.$error.pattern">Only number are allowed.</span>
                   </div>
                   <button ng-disabled="sendCash.$invalid" type="submit" class="btn btn-danger" ng-click="send_cashall('totalUser')">Send Cash</button>
               </form>
           </div>
       </div>
   </div>
</div>

<div id="showAllCoupons" class="modal fade">
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Send Coupons to All User</h4>
           </div>
           <div class="row-table" ng-repeat="data in allCoupons">
            <div class="col-cell">
                <div class="cover-image">
                    <img ng-src="{{data.coverImage || '../dist/image/cover.jpg'}}" id="output">
                </div>
            </div>
            <div class="col-cell add-remove">
                <span class="fa fa-send" ng-click="sendCoupons(data._id)"></span>
            </div>
        </div>
       </div>
   </div>
</div>

<div id="ownerDetails" class="modal fade" >
   <div class="modal-dialog cls_pop">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Owner Details</h4>
           </div>
           <div class="modal-body">
                <div class="modal-outer-block">
                    <div class="add-user panel panel-default cust-panel" style="margin:0;">
                        <div class="table-responsive cus-table">
                            <table id="manageUserTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Owner Name</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="skyblue-text">{{ownerDetails.firstName}} {{ownerDetails.lastName}}</td>
                                        <td class="skyblue-text">{{ownerDetails.email}}</td>
                                        <td class="skyblue-text">{{ownerDetails.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>           
                </div>
           </div>
       </div>
   </div>
</div>