<div class="tab-pane">
    <div class="height-sm" data-scrollbar="true">
        <div class="row ">
            <div class="col-md-9 col-sm-6 dwd-border-l">
                <div class="box-block blk-blue">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Total Ads</div>
                            <div class="total-amt">{{totalAds.lenght}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage" ng-click="tab='totalads'">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a>Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drakgreen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Active Ads</div>
                            <div class="total-amt">{{totalActiveAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a>Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-red">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Expired Ads</div>
                            <div class="total-amt">{{totalExpiredAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a>Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-browen">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Reported Ads</div>
                            <div class="total-amt">10,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a>Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkblue">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Ads With Links</div>
                            <div class="total-amt">10,000</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a>Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-volit">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Video Ads</div>
                            <div class="total-amt">{{videoAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a>Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-drkvolit">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Slide Show Ads</div>
                            <div class="total-amt">{{slideshowAdscount}}</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a>Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkpink">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Upgraded Ads By $</div>
                            <div class="total-amt">18,500</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a>Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block blk-drkyello">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Upgraded Ads By B</div>
                            <div class="total-amt">20</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                            <div class="btn-manage">
                                <a>Contact Owners</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-block  blk-drkgren">
                    <div class="widget widget-stats divi-blk">
                        <div class="top-box">
                            <div class="total-add">Top</div>
                            <div class="total-amt">50</div>
                        </div>
                        <div class="bottom-box">
                            <div class="btn-manage">
                                <a>Show</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 dwd-border">
                <div class="widget widget-stats divi-blk">
                    <div class="Dashboard-filter-text">DASHBOARD FILTER</div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All Countries</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All States</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>All Cities</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date From</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group cus-select">
                        <select class="form-control">
                            <option>Date To</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grp-search">
        <div class="row-search">
            <ul>
                <li class="active">
                    <a data-toggle="tab" style="cursor: pointer;" ng-href="#header/viewUserProfile/{{myForm.checkId}}">View Ad</a>
                </li>
                <li class="">
                    <a data-toggle="tab">Remove Ad</a>
                </li>
                <li class="">
                    <a data-toggle="tab">Set on home page</a>
                </li>
                <li class="last">
                    <a data-toggle="tab">Contact Owner</a>
                </li>
            </ul>
        </div>
        <div class="search-bar-cus">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search By Page Name or Ad number">
                        <div class="input-group-addon">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12" ng-switch="tab">
        <div class="row table-responsive cus-table" ng-switch-when="totalads">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>AD NUMBER</th>
                        <th>PAGE NAME</th>
                        <th>OWNER MOBILE</th>
                        <th>AD REPORTS</th>
                        <th>DOWNLOAD LINKS</th>
                        <th>SOLD COUPON</th>
                        <th>DOLLARS PAIS</th>
                        <th>CARD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in totalAds |filter:test">
                        <td>
                           <input ng-model="myForm.checkId" name="name" value="{{x._id}}" type="radio">
                        </td>
                        <td>1574962</td>
                        <td class="skyblue-text">{{x.pageName}}</td>
                        <td>0799435020</td>
                        <td class="skyblue-text">15</td>
                        <td class="skyblue-text">3</td>
                        <td class="skyblue-text">VIEW</td>
                        <td>8$</td>
                        <td>50V</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
