<div class="tab-pane manage-payment" id="Manage-Paymant">
                            <div class="height-sm" data-scrollbar="true">
                                <div class="row ">
                                    <div class="col-md-10 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-6">
                                                <div class="box-block blk-blue wd100">
                                                    <div class="widget widget-stats divi-blk"> 
                                                         <div class="top-box">
                                                             <div class="total-add">Sold Upgrade Cards</div>
                                                             <div class="total-amt">30,000</div>
                                                         </div>
                                                         <div class="bottom-box">
                                                            <div class="btn-manage">
                                                                 <a>Show</a>
                                                            </div>
                                                            <div class="btn-manage">
                                                                 <a>Contact Owners</a>
                                                            </div>
                                                             <div class="btn-manage">
                                                                <div class="dropdown">
                                                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                    Options

                                                                  </button>
                                                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                    <li><a>Create Report</a></li>
                                                                    <li><a>PayPal Account</a></li>
                                                                  </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                 </div> 
                                            </div>
                                            <div class="col-md-10 col-sm-12">
                                                <div class="grp-search m-t-0 bdr-0">
                                                    <div class="row">
                                                        <div class="col-md-9 col-sm-12">
                                                            <div class="row-search">
                                                                <ul>
                                                                    <li class="active">
                                                                        <a data-toggle="tab">Dollars Payments</a>
                                                                    </li>
                                                                    <li class="last">
                                                                        <a data-toggle="tab">Brolix Payments</a>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <div class="search-bar-cus">
                                                                <form class="form-inline">
                                                                  <div class="form-group">
                                                                    <div class="input-group">
                                                                      <input type="text" class="form-control" placeholder="Search By Page Name or Ad number">
                                                                      <div class="input-group-addon">Search</div>
                                                                    </div>
                                                                  </div>
                                                                </form>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-3 col-sm-12"><div class="Dashboard-filter-text">DASHBOARD FILTER</div></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-6 col-p">
                                                        <div class="form-group cus-select"> 
                                                            <select class="form-control">
                                                              <option>All Countries</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-p">
                                                        <div class="form-group cus-select"> 
                                                            <select class="form-control">
                                                              <option>All States</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-p">
                                                        <div class="form-group cus-select"> 
                                                            <select class="form-control">
                                                              <option>All Cities</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-p">
                                                        <div class="form-group cus-select"> 
                                                            <select class="form-control">
                                                              <option>Card Type</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-p">
                                                        <div class="form-group cus-select"> 
                                                            <select class="form-control">
                                                              <option>Date From</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-p">
                                                        <div class="form-group cus-select"> 
                                                            <select class="form-control">
                                                              <option>Date To</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                    <div class="row table-responsive cus-table">                          
                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                              <tr>
                                                                <th>Card Type</th>
                                                                <th>Price</th>
                                                                <th>Buyer Name</th>
                                                                <th>Buyer PayPal</th>
                                                                <th>Used Ad</th>
                                                                <th>Pages</th>
                                                                <th>Payment History</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr>
                                                                <td>50 Viewers</td>
                                                                <td>2.5$</td>
                                                                <td class="skyblue-text">Yazan albaw</td>
                                                                <td>yazan@ctc-jo.com</td>
                                                                <td class="skyblue-text">view</td>
                                                                <td class="skyblue-text">7</td>
                                                                <td class="skyblue-text">view</td>
                                                              </tr>
                                                             <tr>
                                                                <td>50 Viewers</td>
                                                                <td>2.5$</td>
                                                                <td class="skyblue-text">Yazan albaw</td>
                                                                <td>yazan@ctc-jo.com</td>
                                                                <td class="skyblue-text">view</td>
                                                                <td class="skyblue-text">7</td>
                                                                <td class="skyblue-text">view</td>
                                                              </tr>
                                                                <tr>
                                                                <td>50 Viewers</td>
                                                                <td>2.5$</td>
                                                                <td class="skyblue-text">Yazan albaw</td>
                                                                <td>yazan@ctc-jo.com</td>
                                                                <td class="skyblue-text">view</td>
                                                                <td class="skyblue-text">7</td>
                                                                <td class="skyblue-text">view</td>
                                                              </tr>
                                                             <tr>
                                                                <td>50 Viewers</td>
                                                                <td>2.5$</td>
                                                                <td class="skyblue-text">Yazan albaw</td>
                                                                <td>yazan@ctc-jo.com</td>
                                                                <td class="skyblue-text">view</td>
                                                                <td class="skyblue-text">7</td>
                                                                <td class="skyblue-text">view</td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>                                                                              
                                    </div>
                                    <div class="col-md-2 col-sm-12">
                                        <div class="box-block blnk-bg wd100 ipad-50">
                                            <div class="widget widget-stats divi-blk offerbtn-s"> 
                                                <div class="top-box">
                                                     <div class="green-box">5 Offers</div>
                                                </div>
                                                <div class="bottom-box">
                                                    <div class="btn-manage show-btn">
                                                         <a>Show</a>
                                                    </div>
                                                </div>
                                            </div>
                                         </div> 
                                        <div class="box-block blnk-bg wd100 ipad-50">
                                            <div class="widget widget-stats divi-blk offerbtn-s"> 
                                                <div class="top-box">
                                                     <div class="green-box">5 Offers</div>
                                                </div>
                                                <div class="bottom-box">
                                                    <div class="btn-manage show-btn">
                                                         <a>Show</a>
                                                    </div>
                                                </div>
                                            </div>
                                         </div> 
                                    </div>
                                </div>
                            </div>
                      
                        <div class="grp-search">
                            <div class="row ">
                                    <div class="col-md-10 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-6">
                                                <div class="box-block blk-blue wd100">
                                                    <div class="widget widget-stats divi-blk"> 
                                                         <div class="top-box">
                                                             <div class="total-add">Sold Upgrade Cards</div>
                                                             <div class="total-amt">30,000</div>
                                                         </div>
                                                         <div class="bottom-box">
                                                            <div class="btn-manage">
                                                                 <a>Show</a>
                                                            </div>
                                                            <div class="btn-manage">
                                                                 <a>Contact Owners</a>
                                                            </div>
                                                             <div class="btn-manage">
                                                                <div class="dropdown">
                                                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                    Options

                                                                  </button>
                                                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                    <li><a>Create Report</a></li>
                                                                    <li><a>PayPal Account</a></li>
                                                                  </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                 </div> 
                                            </div>
                                            <div class="col-md-10 col-sm-12">
                                                <div class="grp-search m-t-0 bdr-0">
                                                    <div class="row">
                                                        <div class="col-md-9 col-sm-12">
                                                            <div class="row-search">
                                                                <ul>
                                                                    <li class="active">
                                                                        <a data-toggle="tab">Dollars Payments</a>
                                                                    </li>
                                                                    <li class="last">
                                                                        <a data-toggle="tab">Brolix Payments</a>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <div class="search-bar-cus">
                                                                <form class="form-inline">
                                                                  <div class="form-group">
                                                                    <div class="input-group">
                                                                      <input type="text" class="form-control" placeholder="Search By Page Name or Ad number">
                                                                      <div class="input-group-addon">Search</div>
                                                                    </div>
                                                                  </div>
                                                                </form>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-3 col-sm-12"><div class="Dashboard-filter-text">DASHBOARD FILTER</div></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-6 col-p">
                                                        <div class="form-group cus-select"> 
                                                            <select class="form-control">
                                                              <option>All Countries</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-p">
                                                        <div class="form-group cus-select"> 
                                                            <select class="form-control">
                                                              <option>All States</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-p">
                                                        <div class="form-group cus-select"> 
                                                            <select class="form-control">
                                                              <option>All Cities</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-p">
                                                        <div class="form-group cus-select"> 
                                                            <select class="form-control">
                                                              <option>Card Type</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-p">
                                                        <div class="form-group cus-select"> 
                                                            <select class="form-control">
                                                              <option>Date From</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-p">
                                                        <div class="form-group cus-select"> 
                                                            <select class="form-control">
                                                              <option>Date To</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                    <div class="row table-responsive cus-table">                          
                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                              <tr>
                                                                <th>Card Type</th>
                                                                <th>Price</th>
                                                                <th>Buyer Name</th>
                                                                <th>Buyer PayPal</th>
                                                                <th>Used Ad</th>
                                                                <th>Pages</th>
                                                                <th>Payment History</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr>
                                                                <td>50 Viewers</td>
                                                                <td>2.5$</td>
                                                                <td class="skyblue-text">Yazan albaw</td>
                                                                <td>yazan@ctc-jo.com</td>
                                                                <td class="skyblue-text">view</td>
                                                                <td class="skyblue-text">7</td>
                                                                <td class="skyblue-text">view</td>
                                                              </tr>
                                                             <tr>
                                                                <td>50 Viewers</td>
                                                                <td>2.5$</td>
                                                                <td class="skyblue-text">Yazan albaw</td>
                                                                <td>yazan@ctc-jo.com</td>
                                                                <td class="skyblue-text">view</td>
                                                                <td class="skyblue-text">7</td>
                                                                <td class="skyblue-text">view</td>
                                                              </tr>
                                                                <tr>
                                                                <td>50 Viewers</td>
                                                                <td>2.5$</td>
                                                                <td class="skyblue-text">Yazan albaw</td>
                                                                <td>yazan@ctc-jo.com</td>
                                                                <td class="skyblue-text">view</td>
                                                                <td class="skyblue-text">7</td>
                                                                <td class="skyblue-text">view</td>
                                                              </tr>
                                                             <tr>
                                                                <td>50 Viewers</td>
                                                                <td>2.5$</td>
                                                                <td class="skyblue-text">Yazan albaw</td>
                                                                <td>yazan@ctc-jo.com</td>
                                                                <td class="skyblue-text">view</td>
                                                                <td class="skyblue-text">7</td>
                                                                <td class="skyblue-text">view</td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>                                                                              
                                    </div>
                            </div>
                        </div>
                    </div>