<div class="col-sm-12">
<div class="row">
   <ul class="nav nav-pills card-tabs">
      <li class="active"><a data-toggle="pill" style="cursor: pointer;" ng-click="getdata('signUpCondition'); show = 1">Sign up</a></li>
      <li><a data-toggle="pill" style="cursor: pointer;" ng-click="getdata('cashAdCondition'); show = 2">Cash Add</a></li>
      <li><a data-toggle="pill" style="cursor: pointer;" ng-click="getdata('couponAdCondition'); show = 3">Coupon Add</a></li>
      <li><a data-toggle="pill" style="cursor: pointer;" ng-click="getdata('couponGiftInfo'); show = 4">Coupon Gift</a></li>
      <li><a data-toggle="pill" style="cursor: pointer;" ng-click="getdata('cashGiftInfo'); show = 5">Cash Gift</a></li>
      <li><a data-toggle="pill" style="cursor: pointer;" ng-click="getdata('hiddenGiftInfo'); show = 6">Hidden Gift</a></li> 
      <li><a data-toggle="pill" style="cursor: pointer;" ng-click="getdata('createPage'); show = 7">Create Page Terms</a></li>
   </ul>
   <div class="col-sm-12" ng-show="show==1">
      <div class="form-group">
       <textarea name="singUpEditor" class="form-control pos_ckeditor" ng-model="myFrom.termssignUpCondition"></textarea>
         <!-- <textarea data-ck-editor class="form-control pos_ckeditor" data-ng-model="myFrom.termssignUpCondition" ></textarea> -->
      </div>
      <div class="btn2 text-center">
         <a class="btn btn-lg btn-green" ng-click="click('signUpCondition')">Update</a>
      </div>
   </div>
   <div class="col-sm-12" ng-show="show==2">
      <div class="form-group">
       <textarea name="cashEditor" class="form-control pos_ckeditor" ng-model="myFrom.termscashAdCondition"></textarea>
         <!-- <textarea data-ck-editor class="form-control pos_ckeditor" ng-model="myFrom.termscashAdCondition" ></textarea> -->
      </div>
      <div class="btn2 text-center">
         <a class="btn btn-lg btn-green" ng-click="click('cashAdCondition')">Update</a>
      </div>
   </div>
   <div class="col-sm-12" ng-show="show==3">
      <div class="form-group">
         <textarea name="couponEditor" class="form-control pos_ckeditor" ng-model="myFrom.termscouponAdCondition"></textarea>
         <!-- <textarea data-ck-editor class="form-control pos_ckeditor" ng-model="myFrom.termscouponAdCondition" ></textarea> -->
      </div>
      <div class="btn2 text-center">
         <a class="btn btn-lg btn-green" ng-click="click('couponAdCondition')">Update</a>
      </div>
   </div>
   <div class="col-sm-12" ng-show="show==4">
      <div class="form-group">
         <textarea name="couponGiftEditor" class="form-control pos_ckeditor" ng-model="myFrom.termscouponGiftCondition"></textarea>
         <<!-- textarea data-ck-editor class="form-control pos_ckeditor" ng-model="myFrom.termscouponGiftCondition" ></textarea> -->
      </div>
      <div class="btn2 text-center">
         <a class="btn btn-lg btn-green" ng-click="click('couponGiftInfo')">Update</a>
      </div>
   </div>
   <div class="col-sm-12" ng-show="show==5">
      <div class="form-group">
      <textarea name="cashGiftEditor" class="form-control pos_ckeditor" ng-model="myFrom.termscashGiftCondition"></textarea>
        <!--  <textarea data-ck-editor class="form-control pos_ckeditor" ng-model="myFrom.termscashGiftCondition" ></textarea> -->
      </div>
      <div class="btn2 text-center">
         <a class="btn btn-lg btn-green" ng-click="click('cashGiftInfo')">Update</a>
      </div>
   </div>
   <div class="col-sm-12" ng-show="show==6">
      <div class="form-group">
         <textarea name="hiddeenGiftEditor" class="form-control pos_ckeditor" ng-model="myFrom.termshiddenGiftCondition"></textarea>
         <!-- <textarea data-ck-editor class="form-control pos_ckeditor" ng-model="myFrom.termshiddenGiftCondition" ></textarea> -->
      </div>
      <div class="btn2 text-center">
         <a class="btn btn-lg btn-green" ng-click="click('hiddenGiftInfo')">Update</a>
      </div>
   </div>
   <div class="col-sm-12" ng-show="show==7">
      <div class="form-group">
       <textarea name="createPageEditor" class="form-control pos_ckeditor" ng-model="myFrom.termscreatePageCondition"></textarea>
        <!--  <textarea id="editorPage" data-ck-editor class="form-control pos_ckeditor" ng-model="myFrom.termscreatePageCondition" ></textarea> -->
      </div>
      <div class="btn2 text-center">
         <a class="btn btn-lg btn-green" ng-click="click('createPage')">Update</a>
      </div>
      <!-- <div class="form-group cus-select">
         <select class="form-control" ng-model="dashBordFilter.upgradeCard">
             <option value="">Upgrade Card Type</option>
             <option ng-repeat="viewer in dashBordFilterViewer">{{viewer}}</option>
         </select>
      </div> -->
   </div>
</div>