<div class="container">
        <div class="outer-block">
            <div class="add-user panel panel-default cust-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">View Page</h3>
                </div>
                <div class="panel-body">
                    <div class="cover-image">
                    <img src="{{viewPageDetails.coverImage}}">
                        <!-- <img src="../dist/image/cover.jpg"> -->
                        <div class="upload-btn">
                            <div class="fileUpload btn">
                                <span>Browse</span>
                                <input type="file" class="upload" />
                             </div>
                        </div>
                    </div>

                    <div class="page-image clearfix">
                    <img src="{{viewPageDetails.pageImage}}">
                        <!-- <img src="../dist/image/user-image.jpeg"> -->
                        <div class="page-upload">
                            <div class="fileUpload btn">
                                <span><i class="fa fa-camera"></i></span>
                                <input type="file" class="upload" />
                             </div>
                        </div>
                    </div>

                    <div class="btn2 text-center">
                        <a ui-sref="header.pageSocialMedia" class="btn btn-lg btn-green">Next</a>
                        <a class="btn btn-lg btn-green">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>