<!-- <div class="top-header">
        <a href="#" class="brand-logo">Brolix</a>
    </div>
 -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="add-user panel panel-default cust-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Profile</h3>
                    </div>
                    <div class="panel-body">
                        <div class="login-block">
                            <form class="form-block" role="form" name="userFrom">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">First Name</label>
                                            <div class="col-md-9">
                                                <span class="form-control">{{viewUserProfile.firstName}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Last Name</label>
                                            <div class="col-md-9">
                                                <span class="form-control">{{viewUserProfile.lastName}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Date of Birth</label>
                                            <div class="col-md-9">
                                                <span class="form-control">{{viewUserProfile.firstName}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Email</label>
                                            <div class="col-md-9">
                                                <span class="form-control">{{viewUserProfile.email}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Gender</label>
                                            <div class="col-md-9">
                                                <div class="radio-btn">
                                                    <label>
                                                        <input value="Male" ng-model="viewUserProfile.gender" type="radio"> Male
                                                    </label>
                                                    <label>
                                                        <input value="Female" ng-model="viewUserProfile.gender" type="radio"> Female
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Mobile No</label>
                                            <div class="col-md-9">
                                                <span class="form-control">{{viewUserProfile.mobileNumber}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Country</label>
                                            <div class="col-md-9">
                                                <span class="form-control">{{viewUserProfile.country}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">State</label>
                                            <div class="col-md-9">
                                                <span class="form-control">{{viewUserProfile.state}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">City</label>
                                            <div class="col-md-9">
                                                <span class="form-control">{{viewUserProfile.city}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row" ng-if="viewUserProfile.pincode!=null">
                                            <label class="control-label col-md-3">Pincode</label>
                                            <div class="col-md-9">
                                                <span class="form-control">{{viewUserProfile.pincode}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>