<div class="container-fluid">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12" style="text-align: center">
        <div class="add-user panel panel-default cust-panel">
            <div class="panel-heading">
                <h3 class="panel-title">View Coupon</h3>
            </div>
            <div class="panel-body">
                <div>Cover Image</div>
                <div class="cover-image">
                    <img class="profile-user-img img-responsive" src="{{user.photo}}" id="output">
                </div>
                <div>Gift Image</div>
                <div class="cover-image">
                    <img class="profile-user-img img-responsive" src="{{couponData.uploadGiftImage}}" id="output">
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Page Name</th>
                            <td>{{couponData.pageName}}</td>
                        </tr>
                        <tr>
                            <th>Expiry Date</th>
                            <td>{{couponData.couponExpiryInString}}</td>
                        </tr>
                        <tr>
                            <th>Gift Description</th>
                            <td>{{couponData.giftDescription}}</td>
                        </tr>
                    </table>
                </div>
                

            </div>
        </div>
    </div>
</div>